{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<div class="tc-info">
			<h2>Bruce Tang</h2>
			<img src="/imagesnew/bruce.jpg" alt="Bruce Tang">
			<div class="tc-info-con">
				<h3>Expertise</h3>
				<ul class="tc-ul clearfix">
					<li class="first">
						<h4>Tibet</h4>
						<P>
							Tibet Trekking; Biking;
							Religion & culture discovery;
							Overland; Tibet train
							experience
						</P>
					</li>
					<li>
						<h4>China</h4>
						<p>
							Sichuan trekking, Silk Road,
							Xinjiang discovery; Guilin;
							Hong Kong; Shanghai;
							Beijing; Xian
						</p>
					</li>
				</ul>
				<p class="tc-cotact">
					Why not take the advantages of Bruce's Tibet & China travel experie-
					nce to design a trip just for you, that suits your budget and interests.
					His passion on travel and help never fades away!
				</p>
				<p class="tc-email">
					<span><a href="###">Email Bruce</a></span>
				</p>
				<p class="tc-email">
					OR Call him at +86-15680858840
				</p>
			</div>
		</div>
		<div class="tc-info clearfix">
			<h3>Biography</h3>
			<div class="tc-info-con2">
				<p class="tc-talk">
					<img src="/imagesnew/quote-left.png"/>
					Tibet is the trip of a lifetime, and I'm here to make your travel experience exceptional!
					That means I'll work with you to create your ideal itinerary and then make sure all of the
					details of your trip are taken care of. I love tekking, biking, and the off-the-beaten-path
					experience, so make sure to ask me how to have a differnt time in Tibet and China. <img src="/imagesnew/qutoe-right.png"/>
				</p>
				<p>
					A bit about Bruce  -  Bruce's passsion to travel steps from his senior high school
					graduation trip 15 years ago - hiking from Guilin to Yangshuo, China. He graduated from
					a college of tourism in Guilin, for the recent 7 years, he has almost discovered every corne
					of China, especially Tibet and Sichuan Province.
				</p>
			</div>
			<img class="tc-img" src="/imagesnew/bruce.jpg" alt="Bruce Tang">
		</div>
		<div class="tc-faq">
			<h2>Tibet & China Travel Tips from Bruce (12)</h2>
			<ol class="accordion">
				<li class="accordion-title odd">
					it safe to take a Tibet trekking tour?<span class="accordion-tri"></span>
				</li>
				<div class="accordion-content odd">
					
						Is it enough to take a Everest base camp hike with my Tibet travel permit?Is it enough to take a Everest base camp hike with my Tibet travel permit?Is it enough to take a Everest base camp hike with my Tibet travel permit?
					
				</div>
				<li class="accordion-title">
					Is it enough to take a Everest base camp hike with my Tibet travel permit?<span class="accordion-tri"></span>
				</li>
				<div class="accordion-content">
						fdfdfdfdfdfdfdfdf
				
				</div>
				<li class="accordion-title odd">
					it safe to take a Tibet trekking tour?<span class="accordion-tri"></span>
				</li>
				<div class="accordion-content">
					
						fdfdfdfdfd
					
				</div>
			</ol>
			<h3>Can't find Answer?</h3>
			<h4>Can't find the answers you would like? Email Bruce or call him at +86 - 15680858840 ,and he'll get back to you immediately with full passion and consideration. </h4>
		</div>
		<div class="custom-say">
			<h2>See What My Customers Say & See! </h2>
			<div class="slideshow">
				<a class="control-previous" href="#"><span> </span></a><a class="control-next" href="#"><span> </span></a>
				<div class="images">
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							James shows off his new meerkat hat
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Beatrice at 4,800 metres at Gosainkund, Nepal
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Paula in the Costa Rican jungle
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Marc making sushi in Japan
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Helen in New Zealand
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Matthew trying deep-fried spiders in Skoun, Cambodia
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Iona trekking in the Kumaon Hills, Northern India
						</div>
					</div>
					<div class="image"><img src="/imagesnew/bruce.jpg" />
						<div class="caption">
							Natalie outside Petra
						</div>
					</div>
					
				</div>
			</div>
		</div>

		
		<div class="letter-content">
			Dear Bruce,
			<p>
				We returned home on Wednesday this week. I just wanted to write to thank you and all of the staff at China Odyssey Tours for your excellent tour service. We are already recommending to friends that they should visit your website and arrange for tours if they are going to China. Your organization really provided what you promised. Not every company can say the same.
				With the exception of the Beijing-Shanghai flight, everything proceeded smoothly.
			</p>
			<p>
				We felt very well cared for by each tour guide, and we were impressed with the quality of the vehicles and hotels that were used.
				We might suggest a nicer 5-star hotel in Beijing, however, as the Crown Plaza was old and not as well appointed as our other hotels. The Harbour Grand in Hong Kong was wonderful. We might also suggest that guides be prepared to give different types of information to groups with children, as it was uncomfortable in Beijing to hear talk of concubines. This is not particularly good information for children. Simply a suggestion.
				We especially loved our time in Guilin, partly because Tony was a most outstanding guide and partly because of our excellent itinerary and experiences. Our friends living in Shanghai will probably be contacting you for a short tour of Guilin for October. Do please inform Tony that our time with him was our most favorite. But there are things we loved about each city we visited, and we felt that each guide was well-prepared.
				In any event, I just wanted to thank you for making our tour of China safe, memorable, and efficient.
			</p>
			<p>
				We wish you all the best in the future.
			</p>
			<p>
				Sincerely,
				<br>
				Susan Sims and family
				<br>
				(July 2nd, 2011)
			</p>
		</div>
		<div class="letter-content">
			Dear Bruce,
			<p>
				We returned home on Wednesday this week. I just wanted to write to thank you and all of the staff at China Odyssey Tours for your excellent tour service. We are already recommending to friends that they should visit your website and arrange for tours if they are going to China. Your organization really provided what you promised. Not every company can say the same.
				With the exception of the Beijing-Shanghai flight, everything proceeded smoothly.
			</p>
			<p>
				We felt very well cared for by each tour guide, and we were impressed with the quality of the vehicles and hotels that were used.
				We might suggest a nicer 5-star hotel in Beijing, however, as the Crown Plaza was old and not as well appointed as our other hotels. The Harbour Grand in Hong Kong was wonderful. We might also suggest that guides be prepared to give different types of information to groups with children, as it was uncomfortable in Beijing to hear talk of concubines. This is not particularly good information for children. Simply a suggestion.
				We especially loved our time in Guilin, partly because Tony was a most outstanding guide and partly because of our excellent itinerary and experiences. Our friends living in Shanghai will probably be contacting you for a short tour of Guilin for October. Do please inform Tony that our time with him was our most favorite. But there are things we loved about each city we visited, and we felt that each guide was well-prepared.
				In any event, I just wanted to thank you for making our tour of China safe, memorable, and efficient.
			</p>
			<p>
				We wish you all the best in the future.
			</p>
			<p>
				Sincerely,
				<br>
				Susan Sims and family
				<br>
				(July 2nd, 2011)
			</p>
		</div>
	</div>
</div>
</div>
{% include 'footer.html' %}
{% endblock %}