<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %}-tibetdiscovery</title>
		<link href="/assets/styles/global-published.css" type="text/css" rel="stylesheet" />
		{% block style %}{% endblock %} <script src="/assets/scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="/assets/scripts/global.js" type="text/javascript"></script>
		<script src="/assets/scripts/jquery.validate.min.js" type="text/javascript"></script>
		{% block script %}{% endblock %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>