{% extends 'base.html' %}

{% block title %}Nepal{% endblock %}

{% block style %}
<link href="/assets/styles/tour-index.css"  type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %}

{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="allpage-wrap BL-color clearfix">
	<div class="banner">
		<img src="/imagesnew/sample/beijing.jpg" width="970" height="340">
	</div>
	<div class="one-col">
		<h1>Beijing Tibet Tours: including Beijing Lhasa train</h1>
		<p>
			Are you planning a rewarding and memorable trip to Tibet? Have you ever welled up any urge in your heart togo to Tibet to see what this dreamy place is
			really like?
		</p>
		<p>
			For your affirmative answers, WE, at TibetDiscovery, are ready to make your dreams come true! All of our high quality trips and tours in Tibet are at very
			reasonable prices. Your adventure of a lifetime to Tibet is just waiting for your click!
		</p>
	</div>
	<div class="content left">
		<div class="tour-block">
			<h2><span class="tour-rank">1</span><a href="#">7 Days Lhasa & Kathmandu Overland Tour</a><span class="tour-hot"></span></h2>
			<div class="tour-content clearfix">
				<img src="/imagesnew/sample/nepal-2.png"/>
				<div class="tour-info">
					<p>
						<b>Kathmandu</b><img src="/imagesnew/sample/car.png"/><b>Lhasa</b><img src="/imagesnew/sample/flight.png"/>
					</p>
					<p>
						Duration: 7 Days & 6 Nights
					</p>
					<p>
						Tour Type: Private escorted tour with Tibetan tour guide & tran
					</p>
					<p>
						OvvDine in one of the city's superb Newari
						restaurants, with the accompaniment of traditional
						dances
					</p>
					<p class="clearfix">
						<span class="tour-price">From $2,200</span><a href="#" class="check-btn">Check Detail</a>
					</p>
				</div>
			</div>
		</div>
		<div class="tour-block">
			<h2><span class="tour-rank">1</span><a href="#">7 Days Lhasa & Kathmandu Overland Tour</a><span class="tour-hot"></span></h2>
			<div class="tour-content clearfix">
				<img src="/imagesnew/sample/nepal-2.png"/>
				<div class="tour-info">
					<p>
						<b>Kathmandu</b><img src="/imagesnew/sample/car.png"/><b>Lhasa</b><img src="/imagesnew/sample/flight.png"/>
					</p>
					<p>
						Duration: 7 Days & 6 Nights
					</p>
					<p>
						Tour Type: Private escorted tour with Tibetan tour guide & tran
					</p>
					<p>
						OvvDine in one of the city's superb Newari
						restaurants, with the accompaniment of traditional
						dances
					</p>
					<p class="clearfix">
						<span class="tour-price">From $2,200</span><a href="#" class="check-btn">Check Detail</a>
					</p>
				</div>
			</div>
		</div>
		<div class="tour-block">
			<h2><span class="tour-rank">1</span><a href="#">7 Days Lhasa & Kathmandu Overland Tour</a><span class="tour-hot"></span></h2>
			<div class="tour-content clearfix">
				<img src="/imagesnew/sample/nepal-2.png"/>
				<div class="tour-info">
					<p>
						<b>Kathmandu</b><img src="/imagesnew/sample/car.png"/><b>Lhasa</b><img src="/imagesnew/sample/flight.png"/>
					</p>
					<p>
						Duration: 7 Days & 6 Nights
					</p>
					<p>
						Tour Type: Private escorted tour with Tibetan tour guide & tran
					</p>
					<p>
						OvvDine in one of the city's superb Newari
						restaurants, with the accompaniment of traditional
						dances
					</p>
					<p class="clearfix">
						<span class="tour-price">From $2,200</span><a href="#" class="check-btn">Check Detail</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rt-col box-effect">
		<img src="/imagesnew/sample/BL-map.png">
		<div class="unit">
			<h3>Flight Schedule from Beijing to Lhasa</h3>
			<p>
				There are DAILY flights flying
				between Beijing and Lhasa with a
				stopover in Chengdu or Chongqing.
			</p>
			<p>
				Usually the flights depart Beijing in
				the morning and arrive in Lhasa in
				the afternoon with about 5 hours.
				And the flights back from Lhasa to
				Beijing always depart in the
				afternoon and arrive at night.
			</p>
			<a href="#">more</a>
		</div>
		<div class="unit">
			<h3>Train Schedule from Beijing to Lhasa</h3>
			<p>
				Every SINGLE day, Train T27 starts
				from Beijing West Railway Station at
				20:09 and arrives Lhasa Railway
				Station on the third day at 16:00.
			</p>
			<strong>Note:</strong>
			<p>
				1. We do NOT offer ticket-only
				service because foreign visitors must
				book a tour from a travel agency and
				obtain a Tibet Entry Permit before
				booking Tibet train ticket, according
				to the Tibet Government;
			</p>
			<p>
				2. Because the Tibet train tickets are
				quite popular, especially in peak
				seasons (from July to October),
				please make your enquiry at least
				3-6 months before your departure
				date.
			</p>
			<a href="#">more</a>
		</div>
	</div>
	<div class="expat one-col box-effect">
		<h2>Custom Tibet Trips &amp; Travel Service for Expats &amp; business</h2>
		<ul class="itinerary clearfix">
			<li>
				<img src="/imagesnew/sample/tour.png" width="230" height="180">
				<h4><a href="###">4 Days Holy Land Lhasa Tour</a></h4>
				<p>
					Get to Lhasa either by train or flight
					<br>
					<strong>Departure:</strong> Flexible
					<br>
					<strong>Tour Type:</strong> this tour can be run either by private or group;
				</p>
				<a href="#" class="check btn middle">Check Details</a>
			</li>
			<li>
				<img src="/imagesnew/sample/tour.png" width="230" height="180">
				<h4><a href="###">4 Days Holy Land Lhasa Tour</a></h4>
				<p>
					Get to Lhasa either by train or flight
					<br>
					<strong>Departure:</strong> Flexible
					<br>
					<strong>Tour Type:</strong> this tour can be run either by private or group;
				</p>
				<a href="#" class="check btn middle">Check Details</a>
			</li>
			<li>
				<img src="/imagesnew/sample/tour.png" width="230" height="180">
				<h4><a href="###">4 Days Holy Land Lhasa Tour</a></h4>
				<p>
					Get to Lhasa either by train or flight
					<br>
					<strong>Departure:</strong> Flexible
					<br>
					<strong>Tour Type:</strong> this tour can be run either by private or group;
				</p>
				<a href="#" class="check btn middle">Check Details</a>
			</li>
		</ul>
		<dl class="QA">
			<dt>
				<span>Can I fly or train to Tibet without a Tibet Permit?</span>
			</dt>
			<dd>
				No matter you're planning totravel Tibet by train, by air or by road, all foreigners need the Travel
				Permit to enter Tibet.
			</dd>
			<dt>
				<span>Can I fly or train to Tibet without a Tibet Permit?</span>
			</dt>
			<dd>
				No matter you're planning totravel Tibet by train, by air or by road, all foreigners need the Travel
				Permit to enter Tibet.
			</dd>
		</dl>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}