{% extends 'base.html' %}

{% block title %}Nepal{% endblock %}

{% block style %}
<link href="/assets/styles/tour-index.css"  type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %}
{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="allpage-wrap private clearfix ct-bg" name="china">
	<!--
	<div class="content-head">
	<h1>Private Tibet Tours - all are customizable ! </h1>
	<h2>Experience Tibet, your story starts here. </h2>
	<p>Are you planning a rewarding and memorable trip to Tibet? Have you ever welled up any urge in your heart to go to Tibet to see what this dreamy
	place is really like? </p>
	</div>

	<div class="private-block clearfix">
	<div class="tour-list-wrap">
	<h2>Our Top 6 Private Classic Tibet Tours <span class="tour-tag tag-hot"></span></h2>
	<h3>Our Top 6 Private Classic Tibet Tours</h3>
	<ul class="tour-list">
	<li href="#">
	<img src="/imagesnew/tour-index/sample.png" />
	<div class="tour-info">
	<a href="#">2 Days Soul of Beijing Tour</a>
	<p>explore the Beijing best with less money and time.</p>
	</div>
	<div class="tour-price">From <span class="the-price">$1223</span></div>
	</li>
	<li href="#">
	<img />
	<div class="tour-info">
	<a href="#">2 Days Soul of Beijing Tour</a>
	<p>explore the Beijing best with less money and time.</p>
	</div>
	<div class="tour-price">From <span class="the-price">$1223</span></div>
	</li>
	</ul>
	</div>
	<div class="right-bar r">
	<h2>Our Most Popular Private
	Tibet Tours
	</h2>
	<p>fdfsffffffffffffffsfdsfdsf fsdfsdfsdfds  fdsfsdfsdf</p>
	<div class="flower-left"></div>
	</div>
	</div>

	<div class="private-block clearfix">
	<div class="tour-list-wrap">
	<h2>Our Top 6 Private Classic Tibet Tours <span class="tour-tag tag-spe"></span></h2>
	<h3>Our Top 6 Private Classic Tibet Tours</h3>
	<ul class="tour-list">
	<li href="#">
	<img />
	<div class="tour-info">
	<a href="#">2 Days Soul of Beijing Tour</a>
	<p>explore the Beijing best with less money and time.</p>
	</div>
	<div class="tour-price">From <span class="the-price">$1223</span></div>
	</li>
	<li href="#">
	<img />
	<div class="tour-info">
	<a href="#">2 Days Soul of Beijing Tour</a>
	<p>explore the Beijing best with less money and time.</p>
	</div>
	<div class="tour-price">From <span class="the-price">$1223</span></div>
	</li>
	</ul>
	</div>
	<div class="right-bar l">
	<h2>Our Most Popular Private
	Tibet Tours
	</h2>
	<p>fdfsffffffffffffffsfdsfdsf fsdfsdfsdfds  fdsfsdfsdf</p>
	<div class="flower-right"></div>
	</div>
	</div>

	<div class="private-block clearfix">
	<div class="tour-list-wrap">
	<h2>Our Top 6 Private Classic Tibet Tours <span class="tour-tag tag-the"></span></h2>
	<h3>Our Top 6 Private Classic Tibet Tours</h3>
	<div class="theme-tour clearfix">
	<div class="theme-tour-list theme-tour-1">
	<img src="/imagesnew/tour-index/sample-1.png" />
	<h3>Tour to Tibet</h3>
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	<div class="theme-tour-list theme-tour-1">
	<img src="/imagesnew/tour-index/sample-1.png" />
	<h3>Tour to Tibet</h3>
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	<div class="theme-tour-list theme-tour-1">
	<img src="/imagesnew/tour-index/sample-1.png" />
	<h3>Tour to Tibet</h3>
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	<div class="theme-tour-list theme-tour-2">
	<img src="/imagesnew/tour-index/sample-2.png" />
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	<div class="theme-tour-list theme-tour-2">
	<img src="/imagesnew/tour-index/sample-2.png" />
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	<div class="theme-tour-list theme-tour-2">
	<img src="/imagesnew/tour-index/sample-2.png" />
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	<div class="theme-tour-list theme-tour-2">
	<img src="/imagesnew/tour-index/sample-2.png" />
	<p>Train to Tibet from Beijing, Shanghai, Chengdu, more...</p>
	</div>
	</div>
	</div>
	<div class="right-bar l">
	<h2>Our Most Popular Private
	Tibet Tours
	</h2>
	<p>fdfsffffffffffffffsfdsfdsf fsdfsdfsdfds  fdsfsdfsdf</p>
	<div class="flower-right"></div>
	</div>
	</div>
	-->
	<!-- 新版的 -->
	<div class="content-top">
		<h1>Beijing Tibet Tours: including Beijing Lhasa train</h1>
		<p>
			Are you planning a rewarding and memorable trip to Tibet? Have you ever welled up any urge in your heart togo to Tibet to see what this dreamy place is
			really like?
		</p>
		<p>
			For your affirmative answers, WE, at TibetDiscovery, are ready to make your dreams come true! All of our high quality trips and tours in Tibet are at very
			reasonable prices. Your adventure of a lifetime to Tibet is just waiting for your click!
		</p>
		<h2>China & Tibet Tours </h2>
		<p>
			Tibet Discovery Tours has a long established relationship with tour operators in major tourist destinations in China. We are able to arrange, in addition
			to Tibet tours.
		</p>
	</div>
	<div class="city-wrap">
		<div class="pannel-head"></div>
		<div class="pannel-body clearfix">
			<ul class="city-choose left">
				<li class="active">
					from Beijing
				</li>
				<li>
					from Shanghai
				</li>
				<li>
					from Chengdu
				</li>
			</ul>
			<div class="city-detail right">
				<h3>Why Get to Tibet from Beijing? </h3>
				<ul class="why-get">
					<li><img src="/imagesnew/themetour/fb-1.gif" /> Beijing, the Capital of City, has daily train and flights getting to Lhasa, Tibet.
					</li>
					<li><img src="/imagesnew/themetour/fb-2.gif" /> Beijing, the Capital of City, has daily train and flights getting to Lhasa, Tibet.
					</li>
					<li><img src="/imagesnew/themetour/fb-3.gif" /> Beijing, the Capital of City, has daily train and flights getting to Lhasa, Tibet.
					</li>
					<li><img src="/imagesnew/themetour/fb-4.gif" /> Beijing, the Capital of City, has daily train and flights getting to Lhasa, Tibet.
					</li>
				</ul>
				<h3>Our Travelers' Favorite Beijing Tibet Tours</h3>
				<ul class="city-tour-list clearfix">
					<li>
						<a href="#"> <img src="/imagesnew/sample/namtso-lake.png" />
						<p>
							6 Days Lhasa Holy City Tour from Beijing
						</p>
						<p class="tour-price">
							Price from $669
						</p> </a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/sample/namtso-lake.png" />
						<p>
							6 Days Lhasa Holy City Tour from Beijing
						</p>
						<p class="tour-price">
							Price from $669
						</p> </a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/sample/namtso-lake.png" />
						<p>
							6 Days Lhasa Holy City Tour from Beijing
						</p>
						<p class="tour-price">
							Price from $669
						</p> </a>
					</li>
				</ul>
			</div>
			<p>
			<p>
				Tibet Discovery Tours has operated Tibet tours and services for several years, so you rest assured to get the train/air tickets to Lhasa at a competitive price.
			</p></p>
		</div>
		<div class="pannel-foot"></div>
	</div>
	<!--END-->
	<div class="content left">
		<div class="tour-block">
			<h2><span class="tour-rank">1</span><a href="#">7 Days Lhasa & Kathmandu Overland Tour</a><span class="tour-hot"></span></h2>
			<div class="tour-content clearfix">
				<img src="/imagesnew/sample/nepal-2.png"/>
				<div class="tour-info">
					<p>
						<b>Kathmandu</b><img src="/imagesnew/sample/car.png"/><b>Lhasa</b><img src="/imagesnew/sample/flight.png"/>
					</p>
					<p>
						Duration: 7 Days & 6 Nights
					</p>
					<p>
						Tour Type: Private escorted tour with Tibetan tour guide & tran
					</p>
					<p>
						OvvDine in one of the city's superb Newari
						restaurants, with the accompaniment of traditional
						dances
					</p>
					<p class="clearfix">
						<span class="tour-price">From $2,200</span><a href="#" class="check-btn">Check Detail</a>
					</p>
				</div>
			</div>
		</div>
		<div class="tour-block">
			<h2><span class="tour-rank">1</span><a href="#">7 Days Lhasa & Kathmandu Overland Tour</a><span class="tour-hot"></span></h2>
			<div class="tour-content clearfix">
				<img src="/imagesnew/sample/nepal-2.png"/>
				<div class="tour-info">
					<p>
						<b>Kathmandu</b><img src="/imagesnew/sample/car.png"/><b>Lhasa</b><img src="/imagesnew/sample/flight.png"/>
					</p>
					<p>
						Duration: 7 Days & 6 Nights
					</p>
					<p>
						Tour Type: Private escorted tour with Tibetan tour guide & tran
					</p>
					<p>
						OvvDine in one of the city's superb Newari
						restaurants, with the accompaniment of traditional
						dances
					</p>
					<p class="clearfix">
						<span class="tour-price">From $2,200</span><a href="#" class="check-btn">Check Detail</a>
					</p>
				</div>
			</div>
		</div>
		<div class="tour-block">
			<h2><span class="tour-rank">1</span><a href="#">7 Days Lhasa & Kathmandu Overland Tour</a><span class="tour-hot"></span></h2>
			<div class="tour-content clearfix">
				<img src="/imagesnew/sample/nepal-2.png"/>
				<div class="tour-info">
					<p>
						<b>Kathmandu</b><img src="/imagesnew/sample/car.png"/><b>Lhasa</b><img src="/imagesnew/sample/flight.png"/>
					</p>
					<p>
						Duration: 7 Days & 6 Nights
					</p>
					<p>
						Tour Type: Private escorted tour with Tibetan tour guide & tran
					</p>
					<p>
						OvvDine in one of the city's superb Newari
						restaurants, with the accompaniment of traditional
						dances
					</p>
					<p class="clearfix">
						<span class="tour-price">From $2,200</span><a href="#" class="check-btn">Check Detail</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rt-col box-effect">
		<img src="/imagesnew/sample/BL-map.png">
		<div class="unit">
			<h3>Flight Schedule from Beijing to Lhasa</h3>
			<p>
				There are DAILY flights flying
				between Beijing and Lhasa with a
				stopover in Chengdu or Chongqing.
			</p>
			<p>
				Usually the flights depart Beijing in
				the morning and arrive in Lhasa in
				the afternoon with about 5 hours.
				And the flights back from Lhasa to
				Beijing always depart in the
				afternoon and arrive at night.
			</p>
			<a href="#">more</a>
		</div>
		<div class="unit">
			<h3>Train Schedule from Beijing to Lhasa</h3>
			<p>
				Every SINGLE day, Train T27 starts
				from Beijing West Railway Station at
				20:09 and arrives Lhasa Railway
				Station on the third day at 16:00.
			</p>
			<strong>Note:</strong>
			<p>
				1. We do NOT offer ticket-only
				service because foreign visitors must
				book a tour from a travel agency and
				obtain a Tibet Entry Permit before
				booking Tibet train ticket, according
				to the Tibet Government;
			</p>
			<p>
				2. Because the Tibet train tickets are
				quite popular, especially in peak
				seasons (from July to October),
				please make your enquiry at least
				3-6 months before your departure
				date.
			</p>
			<a href="#">more</a>
		</div>
	</div>
	<div class="expat one-col box-effect">
		<h2>Custom Tibet Trips &amp; Travel Service for Expats &amp; business</h2>
		<ul class="itinerary clearfix">
			<li>
				<img src="/imagesnew/sample/tour.png" width="230" height="180">
				<h4><a href="###">4 Days Holy Land Lhasa Tour</a></h4>
				<p>
					Get to Lhasa either by train or flight
					<br>
					<strong>Departure:</strong> Flexible
					<br>
					<strong>Tour Type:</strong> this tour can be run either by private or group;
				</p>
				<a href="#" class="check btn middle">Check Details</a>
			</li>
			<li>
				<img src="/imagesnew/sample/tour.png" width="230" height="180">
				<h4><a href="###">4 Days Holy Land Lhasa Tour</a></h4>
				<p>
					Get to Lhasa either by train or flight
					<br>
					<strong>Departure:</strong> Flexible
					<br>
					<strong>Tour Type:</strong> this tour can be run either by private or group;
				</p>
				<a href="#" class="check btn middle">Check Details</a>
			</li>
			<li>
				<img src="/imagesnew/sample/tour.png" width="230" height="180">
				<h4><a href="###">4 Days Holy Land Lhasa Tour</a></h4>
				<p>
					Get to Lhasa either by train or flight
					<br>
					<strong>Departure:</strong> Flexible
					<br>
					<strong>Tour Type:</strong> this tour can be run either by private or group;
				</p>
				<a href="#" class="check btn middle">Check Details</a>
			</li>
		</ul>
		<dl class="QA">
			<dt>
				<span>Can I fly or train to Tibet without a Tibet Permit?</span>
			</dt>
			<dd>
				No matter you're planning totravel Tibet by train, by air or by road, all foreigners need the Travel
				Permit to enter Tibet.
			</dd>
			<dt>
				<span>Can I fly or train to Tibet without a Tibet Permit?</span>
			</dt>
			<dd>
				No matter you're planning totravel Tibet by train, by air or by road, all foreigners need the Travel
				Permit to enter Tibet.
			</dd>
			<dt>
				<span>Can I fly or train to Tibet without a Tibet Permit?</span>
			</dt>
			<dd>
				No matter you're planning totravel Tibet by train, by air or by road, all foreigners need the Travel
				Permit to enter Tibet.
			</dd>
			<dt>
				<span>Can I fly or train to Tibet without a Tibet Permit?</span>
			</dt>
			<dd class="last">
				No matter you're planning totravel Tibet by train, by air or by road, all foreigners need the Travel
				Permit to enter Tibet.
			</dd>
		</dl>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 