<div class="content-foot">
    <!-- Not Sure This-->
    <div class="FAQ-footer clearfix">
        <div class="FAQ-help clearfix">
            <p>
                "Can you tell me more about...?"
                <br>
                No problem! No matter you want to get more answers
                or customize your unique Tibet Tour,
                just feel free to tell us.
            </p>
            <div class="btn-enquiry">
                <a href="#">Make an Enquiry</a><!--<a href="#">Customize your trip</a>-->
            </div>
        </div>
        <div class="author-list">
            <ul class="clearfix">
                <li>
                    <a href="#">
                    <div><img src="/imagesnew/head1.jpg" class="img-icon">
                    </div>testst<div></div> </a>
                </li>
                <li>
                    <a href="#">
                    <div><img src="/imagesnew/head2.jpg" class="img-icon">
                    </div>tetes<div></div> </a>
                </li>
                <li>
                    <a href="#">
                    <div><img src="/imagesnew/head3.jpg" class="img-icon">
                    </div>testest<div></div> </a>
                </li>
                <li>
                    <a href="#">
                    <div><img src="/imagesnew/head2.jpg" class="img-icon">
                    </div>esdtes<div></div> </a>
                </li>
            </ul>
        </div>
        <h4>Our specialists are always ready to help!</h4>
    </div>
    <!-- end -->
</div>