{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
{% include 'sidebar-aboutus.html' %}
<div class="content">
		
	<div class="contact-header">
		<p>Visiting us in person is a perfect way to plan your trip</p>
	</div>
	<div class="contact-now">
		<h2>Contact Us Now!</h2>
		<p><strong>We are here to help! </strong></p>
		<div>For you, Tibet is the ultimate destination - an exotic snow land on the roof of the world; while for us, it is our home. We've spent 20 
			years discovering the every corner of Tibet for the best things to see and do, and we can't wait to share it all with you. 
			Our friendly experts are always ready to answer any of your questions about Tibet travel. You can reach us in 3 ways...and we'll 
			respond you within 0.5~23.5hrs. 
		</div>
	</div>
	
	<div class="contact-body contact-form1">
		<h3>By Phone / Call</h3>
		<p class="contact-icon contact-phone">General Inquiries Num: 86-891-6809260</p>
		<p class="contact-icon contact-fax">Fax Num:  86-891-6809260</p>
		<p class="contact-icon last">Or we'll call you back</p>
		<form action="#" method="post">
			<ul>
				<li><label for="first-name">First Name:</label><input type="text" name="first-name"/></li>
				<li><label for="last-name">Last Name:</label><input type="text" name="last-name"/></li>
				<li><label for="callback-email">Email Address:</label><input type="text" name="callback-email"/></li>
				<li><label for="Phone-Num">Phone Number:</label><input type="text" name="phone-num"/></li>
				<li class="call-question"><label for="question">Question</label><textarea name="question"></textarea></li>
				<li><input class="btn middle call-submit" type="submit" value="Submit"/></li>
			</ul>	
		</form>
	</div>
	
	<div class="contact-body contact-form2">
		<h2>By Email / Mail</h2>
		<p>Ask a Question, share a thought...Please fill in the form below, and we'll get back to you within 0.5~23.5 hours. </p>
		<form action="#" method="post" id="inquiryform">
			<ul>
				<li class="form-title">Contact Information</li>
				<li><label for="Title"><img src="/imagesnew/required.gif"/>Title:</label>
					<select name="Title">
						<option value="mr" selected="selected">Mr.</option>
						<option value="mrs">Mrs.</option>
						<option value="ms">Ms.</option>
					</select>
				</li>
				<li><label for="FullName"><img src="/imagesnew/required.gif"/>Your Full Name:</label><input type="text" name="FullName"></li>
				<li><label for="EmailAdress"><img src="/imagesnew/required.gif"/>Your E-mail Address:</label><input type="text" name="EmailAdress"></li>
				<li><label for="Alteremail">Alternative Email:</label><input type="text" name="Alteremail"></li>
				<li><label for="Nationality">Your Nationality:</label><input type="text" id="gjword" name="Nationality"></li>
				<li class="form-title">Trip Details (optional)</li>
				<li><label for="MessageSubject">Subject:</label>
					<select id="MessageSubject" name="MessageSubject">
						<option selected="selected">Choose ...</option>
						<option value="1. Tours / Travel Arrangement">1. Tours / Travel Arrangement</option>
						<option value="2. Air Booking">2. Air Booking</option>
						<option value="3. Car Rental">3. Car Rental</option>
						<option value="4. Transfer Service">4. Transfer Service</option>
						<option value="5. General Contact">5. General Contact</option>
						<option value="6. Cooperation">6. Cooperation</option>
						<option value="7. Advertisement">7. Advertisement</option>
						<option value="8. Link Exchange">8. Link Exchange</option>
						<option value="9. Payment / Billing">9. Payment / Billing</option>
						<option value="10. Complaining">10. Complaining</option>
						<option value="11. Other issues">11. Other issues</option>
					</select>
				</li>
				<li><label for="Searchtype">How did you find us? </label>
					<select id="Searchtype" name="Searchtype">
						<option selected="selected">Select ---</option>
						<option value="Search Engine Keyword Search">Search Engine Keyword Search</option>
						<option value="Search Engine Ads">Search Engine Ads</option>
						<option value="Link or Ads from other website">Link or Ads from other website</option>
						<option value="Posted Message in Forums">Posted Message in Forums</option>
						<option value="Recommendation by friend">Recommendation by friend</option>
						<option value="Other">Other</option>
					</select>
				</li>
				<li><label for="Comments">Additional comments or questions:</label>
					<textarea name="Comments" cols="" rows="5"></textarea>
				</li>
				<li><input class="btn middle comment-submit" type="submit" value="Submit"/></li>
			</ul>
		</form>
	</div>
	
	<div class="contact-body visit-us">
		<h2>Visiting Us In Person</h2>
		<div class="visitus-head clearfix">
			<p class="visit-title">Visiting us in person is a perfect way to plan your trip.</p>
			<img src="/imagesnew/sample/visiting-us.png"/>
			We welcome the opportunity to speak to our clients face to face about their travel 
		plans.
		We believe that when arranging lengthy or complex itineraries and tailor 
			making your trip it is always nice to personalise the experience by putting a face to 
			a name; allowing us to best understand your tastes, preferences and requirements.
		</div>
		<p class="visit-title2">Our Office in Chengdu </p>
		<div class="office-location">
			<img src="/imagesnew/sample/map-office.png" />
		</div>
		<p class="visit-title2">Our Office in Tibet</p>
		<div class="office-location">
			<img src="/imagesnew/sample/map-office.png" />
		</div>
	</div>
	
	<div class="section">
		<h2>Also in this Section</h2>
		<ul>
			<li><a href="#">Travel Style</a></li>
			<li><a href="#">Who We are</a></li>
			<li><a href="#">What We Do</a></li>
			<li><a href="#">Meet our Specialists</a></li>
			<li><a href="#">What People Say</a></li>
			<li><a href="#">How to Book</a></li>
			<li><a href="#">Payment Guide</a></li>
			<li><a href="#">Terms&Conditins</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	
	<div class="aboutus-foot clearfix">
		<p>Start planning your tailor-made itinerary by contacting one of our specialists online or by phone... </p>
		<span><strong class="grey">Call a specialist on</strong> 01993 838 000 </span>
		<div class="btn-enquiry">
            <a href="#">Make an Enquiry</a>
        </div>
	</div>
	
</div>
</div>
{% include 'footer.html' %}
{% endblock %}