{% extends 'base.html' %}

{% block title %}Flight-to-tibet{% endblock %}

{% block style %}
<!-- 页面样式表 -->
{% endblock %}

{% block script %}
<link href="/assets/styles/flight-to-tibet.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="bread"></div>
<div class="wrapper clearfix">
    {% include 'sidebar.html' %} 
    <div class="content">
        <h1>Flight to Tibet</h1>
        <p>
            description
        </p>
        <h2></h2>
        
        <div class="timetable">
            <ul class="timetable-title clearfix">
                <li>AirLine</li>
                <li>Dep./Arr.Time</li>
                <li>Airport</li>
                <li>Duration</li>
                <li>Flight No</li>
                <li>Freq</li>
            </ul>
            <table class="schedule-detail">
                <tr>
                    <td><p>China</p></td>
                    <td>
                        <p>06:10</p>
                        <p>07:20</p>
                        <p>06:10</p>
                    </td>
                    <td>
                        <p>Chengdu</p>
                    </td>
                    <td>
                        <p>2hr</p>
                    </td>
                    <td>
                        CA4423
                    </td>
                    <td>
                        Mon/Tue/Wed
                    </td>
                    <td>
                        Book Now
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}