<div class="footer">
    <div class="newsletter">
        <div class="newsletter-container">
            <div class="wrap clearfix">
                <div class="newsletter-title">
                    <h4>Sign up for our free newsletter</h4>
                    <p>
                        Receive news and offers from us.
                    </p>
                </div>
                <form id="newsletter-form" action="#" method="post">
                    <label for="nname">Name</label>
                    <input type="text" name="nname" id="name" class="required"/>
                    <label for="nemail">Email</label>
                    <input type="text" name="nemail" id="email" class="required"/>
                    <input type="submit" value="Submit" id="submit" name="submit"/>
                </form>
            </div>
        </div>
    </div>
    <div class="wrap clearfix">
        <div class="nav">
            <h4>About Us</h4>
            <ul>
                <li>
                    <a href="about-us/">About TibetDiscovery</a>
                </li>
                <li>
                    <a href="why-choose-us/">Why Choose Us</a>
                </li>
                <li>
                    <a href="testimonials/">Testimonials</a>
                </li>
                <li>
                    <a href="contact-us/">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <h4>Tibet Tours</h4>
            <ul>
                <li>
                    <a href="classic-tibet-tour/">Classic Tours</a>
                </li>
                <li>
                    <a href="tibet-adventure-tours/">Adventure Tours</a>
                </li>
                <li>
                    <a href="tibet-overland-tours/">Overland Tours</a>
                </li>
                <li>
                    <a href="tibet-train-tour/">Train Tours</a>
                </li>
                <li>
                    <a href="china-and-tibet-tour/">Tibet+China Tours</a>
                </li>
                <li>
                    <a href="tibet-festival-tours/">Featured Tours 2011</a>
                </li>
                <li>
                    <a href="join-in-tours/">Join-in Tours</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <h4>Explore Tibet</h4>
            <ul>
                <li>
                    <a href="travel-guide/">Tibet Guide</a>
                </li>
                <li>
                    <a href="what-to-see/">What to See</a>
                </li>
                <li>
                    <a href="what-to-buy/">What to Buy</a>
                </li>
                <li>
                    <a href="what-to-eat-and-drink/">What to Eat &amp; Drink</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <h4>Travel Essentials</h4>
            <ul>
                <li>
                    <a href="travel-tips/travel-permits-and-visa/">Travel Permits</a>
                </li>
                <li>
                    <a href="travel-tips/high-altitude-sickness/">High Altitude Sickness</a>
                </li>
                <li>
                    <a href="travel-tips/what-to-pack/">What to Pack</a>
                </li>
                <li>
                    <a href="travel-tips/best-time-to-go/">When to Go</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <h4>Help</h4>
            <ul>
                <li>
                    <a href="how-to-book/">How to Book</a>
                </li>
                <li>
                    <a href="payment-guide/">Payment Guide</a>
                </li>
                <li>
                    <a href="travel-tips/faq/">FAQs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="info">
            <a href="/">Home</a> | <a href="privacy-policy/">Privacy Policy</a> | <a href="terms-and-conditions/">Terms &amp; Conditions</a> | <a href="travel-links/">Travel Links</a>
            <br>
            Copyright &copy; 2000 - 2011. All Rights Reserved to TibetDiscovery.com.
            <br>
            Any questions, please contact us at Info<img align="absbottom" alt="@" src="img/mailat_670e14.gif">TibetDiscovery.com. TEL: 86-0891-6809260
            <br>
            Office Address: Tibet Discovery Tour, Tibet Niwei International Travel Service No. 2, North Lingkuo Road Lhasa, Tibet, P.R. China
        </div>
    </div>
</div>