<div>
    <h2>Want a Quick Question?</h2>
    <h3>Ask our Tibetan Experts.</h3>
    <p>Send us your travel-related questions. We are Tibet specialists.
         We live here and know this land – the geography,
          the local amenities (hotels, restaurants, museums, shops), 
          and the people, their culture and religion. 
        We give you up-to-date information, 
        not stole tips from the tour books.
         And all this at an unbeatable price.
    </p>
    
    <label for="question-name">Your Name:</label><input tyep="text" name="question-name" />
    <label for="question-nation">Your Nationality:</label><input type="text" name="question-nation" />
    <label for="question-email">Your Nationality:</label><input type="text" name="question-email" />
    <label for="question-question">Your Nationality:</label><textarea type="text" name="question-question"></textarea>
    <p>If you would like us to contact you about your question, please enter your telephone number. </p>
    <p><a href="#" class="btn middle">Submit</a></p>
    
</div>