<div class="header clearfix">
	<div class="wrap">
		<a class="logo" href="###"></a>
		<p class="slogan"></p>
		<div class="header-info">
			<ul>
				<li class="info">
					Info@TibetDiscovery.com
				</li>
				<li class="tel">
					<span class="call-you"> 86-891-6809260<span class="grey">&nbsp;OR</span> <a id="call-you" href="#">we'll call you</a> <!-- tiny form-->
						<div class="tiny-form">
							<form name="" action="#" method="post" id="tiny-form">
								<label for="cfirstname">First Name
									<input type="text" name="cfirstname"/>
								</label>
								<label for="clastname">Last Name
									<input type="text" name="clastname"/>
								</label>
								<label for="cphone">Phone Number
									<input type="text" name="cphone" class="required"/>
								</label>
								<label for="cemail">Email Address
									<input type="text" name="cemail" class="required" />
								</label>
								<label for="cquestion">Questions 									<textarea name="cquestion" class="form-question"></textarea> </label>
								<input type="submit" value="Send Callback Request" />
							</form>
						</div> </span>
				</li>
				<li>
					<a class="custom" href="#">Customize a Tour</a>
					<a class="contact" href="#">Contact us</a>
				</li>
			</ul>
		</div>
		<!-- 新版导航 -->
		<div id="nav-div">
			<ul class="nav-new">
				<li>
					<a href="/" title="Tibetdiscovery.com" alt="Tibetdiscovery.com" class="home current"><span></span></a>
				</li>
				<li class="muti-li">
					<a alt="Private Tibet Tours" title="Private Tibet Tours" href="tibet-tours/" style="z-index: 40;">Private Tibet Tour<span>&nbsp;</span></a>
					<div class="dropdown col3" style="display: none;">
						<dl>
							<dt>
								<h2>Most Popular Tibet Tours</h2>
								<p>
									Top-rated and best-selling
								</p>
							</dt>
							<dd>
								<a href="tibet-tours/#classic-tour"><img width="50px" height="50px" src="images/menu/classic-tibet-50.jpg" alt="" title="">Classic Tibet Tours</a>
							</dd>
							<dd>
								<a href="tibet-tours/#discovery-tour"><img width="50px" height="50px" src="/images/menu/discovery-tour-50.jpg" alt="" title="">Tibet Discovery Tours</a>
							</dd>
							<dd>
								<a href="tibet-tour-index/"><img width="50px" height="50px" src="/images/menu/festival.jpg" alt="" title="">Tour Index</a>
							</dd>
						</dl>
						<dl>
							<dt>
								<h2>By Regions</h2>
								<p>
									Lhasa, Everest &amp; Mt.Kailash
								</p>
							</dt>
							<dd>
								<a href="lhasa-tour/"><img width="50px" height="50px" src="images/menu/lhasa.jpg" alt="Lhasa &amp; surroundings" title="Lhasa &amp; surroundings">Lhasa &amp; Surrounding Tour</a>
							</dd>
							<dd>
								<a href="everest-tour/"><img width="50px" height="50px" src="images/menu/camp.jpg" alt="Mt. everest" title="Mt. everest">Everest Tour</a>
							</dd>
							<dd>
								<a href="mount-kailash-tours/"><img width="50px" height="50px" src="images/menu/kailashi.jpg" alt="Mt. kailash" title="Mt. kailash">Mt.Kailash Tour</a>
							</dd>
						</dl>
						<dl>
							<dt>
								<h2>By Theme </h2>
								<p>
									Custom trips for special interests.
								</p>
							</dt>
							<dd>
								<a href="train-to-tibet/"><img width="50px" height="50px" src="images/menu/train.jpg" alt="Tibet train tours" title="Tibet train tours">Train to Tibet</a>
							</dd>
							<dd>
								<a href="hiking-trekking-tour/"><img width="50px" height="50px" src="images/menu/trekking.jpg" alt="Tibet Hiking tours" title="Tibet Hiking tours">Tibet Hiking</a>
							</dd>
							<dd>
								<a href="family-tours-with-kids/"><img width="50px" height="50px" src="images/menu/explore-potala-palace-50.jpg" alt="Family tours" title="Family tours">Family Tour</a>
							</dd>
						</dl>
					</div>
				</li>
				<li>
					<a title="Group Tibet Tour" alt="Group Tibet Tour" href="join-in-tours/">Group Tibet Tour</a>
				</li>
				<li>
					<a title="Kathmandu &amp; Tibet Tours" alt="Kathmandu &amp; Tibet Tours" href="kathmandu-tibet-tour/">Nepal Tibet Tour</a>
				</li>
				<li class="muti-li">
					<a title="Tibet &amp; China Tour" alt="Tibet &amp; China Tour" href="china-and-tibet-tour/">China Tibet Tour<span>&nbsp;</span></a>
					<div class="dropdown">
						<dl>
							<dt>
								<h2>Top Cities to Enter Tibet </h2>
								<p>
									by train or flight
								</p>
							</dt>
							<dd>
								<a href="beijing-lhasa-tour/"><img width="50px" height="50px" src="images/menu/beijing.jpg" alt="Beijing Lhasa Tours" title="Beijing Lhasa Tours">Beijing Tibet Tours</a>
							</dd>
							<dd>
								<a href="chengdu-tibet-tour/"><img width="50px" height="50px" src="images/menu/chengdu_secondary.jpg" alt="Chengdu Lhasa Tours" title="Chengdu Lhasa Tours">Chengdu Tibet Tours</a>
							</dd>
							<dd>
								<a href="shanghai-tibet-tour/"><img width="50px" height="50px" src="images/menu/shanghai.jpg" alt="Shanghai Lhasa Tours" title="Shanghai Lhasa Tours">Shanghai Tibet Tours </a>
							</dd>
							<dd>
								<a href="travel-services-for-expat/"><img width="50px" height="50px" src="images/menu/expats-tibet-travel-50.jpg" alt="Expats" title="Expats">Tours for Expats</a>
							</dd>
						</dl>
					</div>
				</li>
				<li>
					<a title="About Us" alt="About Us" href="our-company/">About Us</a>
				</li>
				<li class="last">
					<a class="tips" title="Travel Tips" alt="Travel Tips" href="travel-tips/">TRAVEL TIPS</a>
					<ul class="sidenav" id="sidenav1">
						<li>
							<a href="travel-tips/travel-permits-and-visa/">Tibet Visa</a>
						</li>
						<li>
							<a href="travel-tips/high-altitude-sickness/">High Altitude</a>
						</li>
						<li>
							<a href="travel-tips/what-to-pack/">What to Pack</a>
						</li>
						<li>
							<a href="tibet-hotels/">Tibet Hotels</a>
						</li>
						<li>
							<a href="train-to-tibet/">Tibet Train</a>
						</li>
					</ul>
				</li>
				<li class="last">
					<a class="guide" alt="Tibet Guide" href="lhasa-travel/">TIBET GUIDE</a>
					<ul class="sidenav" id="sidenav">
						<li>
							<a href="lhasa-travel/">Lhasa</a>
						</li>
						<li>
							<a href="kathmandu-travel/">Kathmandu</a>
						</li>
						<li>
							<a href="gyantse-travel/">Gyantse</a>
						</li>
						<li>
							<a href="shigatse-travel/">Shigatse</a>
						</li>
						<li>
							<a href="tingri-everest-travel/">Tingri</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- END -->
		<!--
		<ul id="menus" class="menu">
		<li>
		<a href="http://www.tibetdiscovery.com/"  title="Go to TibetDiscovey.com">Home</a>
		</li>
		<li>
		<a class="nav-slide" href="tibet-tours/" title="Tibet Tours">Tibet Tours&nbsp;</a> <div id="tibetTours" style="display:none;"> <h2 class="first">Classic Tours</h2> <h2>Theme Tours</h2>
		<h2>Overland Tours</h2>
		<h2>Tibet + other Cities</h2>
		<p class="first">
		Top-rated and best-selling
		</p>
		<p>
		Special activities & experiences
		</p>
		<p>
		Don't just watch from a window
		</p>
		<p>
		Add more value to your trip
		</p>
		<ul class="first">
		<li>
		<a href="lhasa-tour/"><img src="/imagesnew/menu/lhasa.jpg" width="50px" height="50px" alt="Lhasa & Surrounding" title="Lhasa & Surrounding"/>Lhasa & Surrounding</a>
		</li>
		<li>
		<a href="everest-tour/"><img src="/imagesnew/menu/camp.jpg" width="50px" height="50px" alt="Everest Base Camp" title="Everest Base Camp"/>Everest Base Camp</a>
		</li>
		<li>
		<a href="mount-kailash-tours/"><img src="/imagesnew/menu/kailashi.jpg" width="50px" height="50px" alt="Mt. Kailashi" title="Mt. Kailashi"/>Mt. Kailashi</a>
		</li>
		<li class="last">
		<a href="join-in-tours/"><img src="/imagesnew/menu/ico_smallGroup.jpg" width="122px" height="38px" alt="Budget Tours" title="Budget Tours"/>Budget Tours</a>
		</li>
		</ul>
		<ul>
		<li>
		<a href="hiking-trekking-tour/"><img src="/imagesnew/menu/trekking.jpg" width="50px" height="50px" alt="Tibet Trekking" title="Tibet Trekking"/>Tibet Trekking</a>
		</li>
		<li>
		<a href="cycling-tour/"><img src="/imagesnew/menu/cycling.jpg" width="50px" height="50px" alt="Cycling Tibet" title="Cycling Tibet"/>Cycling Tibet</a>
		</li>
		<li>
		<a href="tibet-festival-tours/"><img src="/imagesnew/menu/festival.jpg" width="50px" height="50px" alt="Festivals tour" title="Festivals tour"/>Festivals tour</a>
		</li>
		<li>
		<a href="tibet-train-tour/"><img src="/imagesnew/menu/train.jpg" width="50px" height="50px" alt="Train tour" title="Train tour"/>Train tour</a>
		</li>
		</ul>
		<ul>
		<li>
		<a href="kathmandu-tibet-tour/"><img src="/imagesnew/menu/khalmandu.jpg" width="50px" height="50px" alt="Lhasa To Kathmandu" title="Lhasa To Kathmandu"/>Lhasa To Kathmandu</a>
		</li>
		<li>
		<a href="chengdu-tibet-tour/"><img src="/imagesnew/menu/chengdu.jpg" width="50px" height="50px" alt="Tibet Tour from Chengdu" title="Tibet Tour from Chengdu"/>Tibet Tour from Chengdu</a>
		</li>
		<li>
		<a href="yunnan-tibet-tour/"><img src="/imagesnew/menu/yunnan.jpg" width="50px" height="50px" alt="Tibet Tour from  Yunan" title="Tibet Tour from  Yunan"/>Tibet Tour from  Yunan</a>
		</li>
		<li>
		<a href="xining-tibet-tours/"><img src="/imagesnew/menu/qinghai.jpg" width="50px" height="50px" alt="Tibet Tour from  Qinghai" title="Tibet Tour from  Qinghai"/>Tibet Tour from  Qinghai</a>
		</li>
		</ul>
		<ul>
		<li>
		<a href="beijing-lhasa-tour/"><img src="/imagesnew/menu/beijing.jpg" width="50px" height="50px" alt="Beijing & Lhasa Tour" title="Beijing & Lhasa Tour"/>Beijing & Lhasa Tour</a>
		</li>
		<li>
		<a href="shanghai-tibet-tour/"><img src="/imagesnew/menu/shanghai.jpg" width="50px" height="50px" alt="Shanghai & Lhasa Tour" title="Shanghai & Lhasa Tour"/>Shanghai & Lhasa Tour</a>
		</li>
		<li>
		<a href="chengdu-tibet-tour/"><img src="/imagesnew/menu/chengdu_secondary.jpg" width="50px" height="50px" alt="Chengdu& Lhasa Tour" title="Chengdu& Lhasa Tour"/>Chengdu& Lhasa Tour</a>
		</li>
		<li>
		<a href="china-and-tibet-tour/"><img src="/imagesnew/menu/china.jpg" width="50px" height="50px" alt="China Tibet Tours" title="China Tibet Tours"/>China Tibet Tours</a>
		</li>
		</ul>
		</div>
		</li>
		<li>
		<a class="nav-slide" href="activities-experiences/" title="Travel Style">Travel Style&nbsp;</a>
		<div id="travelStyle" style="display:none;">
		<h2>Who is going?</h2>
		<h2>Activities & Experiences</h2>
		<p>
		special designed trips to you/group
		</p>
		<p>
		there is a theme for you!
		</p>
		<ul>
		<li>
		<a href="family-tours-with-kids/"><img src="/imagesnew/menu/family.jpg" width="50px" height="50px" alt="Family with kids" title="Family with kids"/>Family with kids</a>
		</li>
		<li>
		<a href="students-tour/"><img src="/imagesnew/menu/student.jpg" width="50px" height="50px" alt="Student tours" title="Student tours"/>Student tours</a>
		</li>
		<li>
		<a href="youth-discovery-tour/"><img src="/imagesnew/menu/youth.jpg" width="50px" height="50px" alt="Youth tours" title="Youth tours"/>Youth tours</a>
		</li>
		<li>
		<a href="seniors-tour/"><img src="/imagesnew/menu/senior.jpg" width="50px" height="50px" alt="Senior tours" title="Seniors Tour"/>Seniors Tour</a>
		</li>
		</ul>
		<ul>
		<li>
		<a href="hiking-trekking-tour/"><img src="/imagesnew/menu/walking.jpg" width="50px" height="50px" alt="Walking & Trekking" title="Walking & Trekking"/>Walking & Trekking</a>
		</li>
		<li>
		<a href="cycling-tour/"><img src="/imagesnew/menu/cyclings.jpg" width="50px" height="50px" alt="Cycling" title="Cycling"/>Cycling</a>
		</li>
		<li>
		<a href="tibet-festival-tours/"><img src="/imagesnew/menu/culturl.jpg" width="50px" height="50px" alt="Cultural Tibet & China" title="Cultural Tibet & China"/>Cultural Tibet & China</a>
		</li>
		<li>
		<a href="natural-tour/"><img src="/imagesnew/menu/natural.jpg" width="50px" height="50px" alt="Natural Tibet & China" title="Natural Tibet & China"/>Natural Tibet & China</a>
		</li>
		</ul>
		</div>
		</li>
		<li>
		<a href="travel-guide/" title="Travel Guide">Travel Guide</a>
		</li>
		<li>
		<a href="travel-tips/" title="Travel tips">Travel Tips</a>
		</li>
		<li>
		<a href="about-tibet/" title="About Tibet">About Tibet</a>
		</li>
		<li>
		<a href="about-us/" title="About Us">About Us</a>
		</li>
		<li id="nav-last">
		<ul id="nav-right" class="clearfix">
		<li>
		<a href="###">Tibet Hotels</a>
		</li>
		<li>
		<a href="###">Get to Tibet<img src="/imagesnew/ico_arrows_white.png"></a>
		</li>
		<li>
		<a href="###">Travel Resource<img src="/imagesnew/ico_arrows_white.png"></a>
		</li>
		</ul>
		</li>
		</ul>
		-->
	</div>
</div>