{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/hotel-index.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script src="/assets/scripts/hotel-index.js" type="text/javascript"></script>
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="wrapper clearfix">
    <div class="bread"></div>
    {% include 'sidebar.html' %}
    <div class="content">
        <div class="content-head">
            <p>
                Tibet Hotels are our specialty. From budget 3 star Tibet hotels to luxurious 5 star Tibet hotels, we provide
                thekey to the best deals on Tibet Hotels. There are more than 40 Tibet hotels that have been well selected
                to meet our high standards, while getting the best rates available.
            </p>
        </div>
        <div class="right-content">
            <ul class="hotel-tag clearfix">
                <li class="active">Lhasa</li>
                <li>Shigatse</li>
                <li>Gyantse</li>
                <li>Shannan</li>
                <li>Nyingchi</li>
                <li>Dingri</li>
            </ul>
            <div class="recommended-hotel" id="Lhasa">
                <h3  class="hotel-tag-title">Recommended hotels in Lhasa</h3>
                <div class="hotel-list">
                    <img src="/images/hotel-pic.jpg" style="float:left; margin-right:10px;">
                    <div>
                        <h4>Jardin Secret Hotel</h4>
                        <span style="width:300px; display:block; float:left;">Guess Impression: Luxury decoration, Delicious food,  Luxury decoration
                            <br>
                            Surroundings: Jokhang Temple, Bank, Coffer Bar, Bank,</span><img src="/images/tripadvisor.jpg" style="float:right;margin-bottom:24px">
                        <p style="">
                            The Jardin Secret Hotel, opened in 2007 and decorated with Tibeten style, located on the Jinzhu West Road of Lhasa....read more>>
                        </p>
                    </div>
                    <table class="hotel-table">
                        <tr>
                            <th>Room Type</th><th>Bed Type</th><th>Breakfast</th><th>Internet</th><th>Book</th>
                        </tr>
                        <tr>
                            <td><span class="hotel-roomtype"><a href="#" >Standard Room</a></span></td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                        <tr class="roomtype-pic">
                            <td colspan="5"><img src="" /><span></span></td>
                        </tr>
                        <tr>
                            <td><span class="hotel-roomtype"><a href="#" class="">Standard Room</a></span></td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                        <tr class="roomtype-pic clearfix">
                            <td colspan="5"><img src="" /><span></span></td>
                        </tr>
                    </table>
                    <p class="hotel-allroom">
                        <a href="">All room type V</a>
                    </p>
                </div>
                <p align="right">
                    <a href="#">Check all hotels in Lhasa>></a>
                </p>
            </div>
            <div class="recommended-hotel" id="Shigatse">
                <h3  class="hotel-tag-title">Recommended hotels in Shigatse</h3>
                <div class="hotel-list">
                    <img src="/images/hotel-pic.jpg" style="float:left; margin-right:10px;">
                    <div>
                        <h4>Jardin Secret Hotel</h4>
                        <span style="width:300px; display:block; float:left;">Guess Impression: Luxury decoration, Delicious food,  Luxury decoration
                            <br>
                            Surroundings: Jokhang Temple, Bank, Coffer Bar, Bank,</span><img src="/images/tripadvisor.jpg" style="float:right;margin-bottom:24px">
                        <p style="">
                            The Jardin Secret Hotel, opened in 2007 and decorated with Tibeten style, located on the Jinzhu West Road of Lhasa....read more>>
                        </p>
                    </div>
                    <table class="hotel-table">
                        <tr>
                            <th>Room Type</th><th>Bed Type</th><th>Breakfast</th><th>Internet</th><th>Book</th>
                        </tr>
                        <tr>
                            <td>Standard Room</td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                        <tr>
                            <td>Standard Room</td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                    </table>
                    <p class="hotel-allroom">
                        <a href="">All room type V</a>
                    </p>
                </div>
                <div class="hotel-list">
                    <img src="/images/hotel-pic.jpg" style="float:left; margin-right:10px;">
                    <div>
                        <h4>Jardin Secret Hotel</h4>
                        <span style="width:300px; display:block; float:left;">Guess Impression: Luxury decoration, Delicious food,  Luxury decoration
                            <br>
                            Surroundings: Jokhang Temple, Bank, Coffer Bar, Bank,</span><img src="/images/tripadvisor.jpg" style="float:right;margin-bottom:24px">
                        <p style="">
                            The Jardin Secret Hotel, opened in 2007 and decorated with Tibeten style, located on the Jinzhu West Road of Lhasa....read more>>
                        </p>
                    </div>
                    <table class="hotel-table">
                        <tr>
                            <th>Room Type</th><th>Bed Type</th><th>Breakfast</th><th>Internet</th><th>Book</th>
                        </tr>
                        <tr>
                            <td>Standard Room</td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                        <tr>
                            <td>Standard Room</td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                    </table>
                    <p class="hotel-allroom">
                        <a href="">All room type V</a>
                    </p>
                </div>
                <p align="right">
                    <a href="#">Check all hotels in Lhasa>></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}