{% extends 'base.html' %}

{% block title %}hotel-lhasa{% endblock %}

{% block style %} <!-- 页面样式表 -->
{% endblock %}

{% block script %} <!-- 页面js脚本 -->
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="wrapper clearfix">
    <div class="bread"></div>
    {% include 'sidebar.html' %}
    <div class="content">
        <h2>Lhasa Hotel</h2>
        <p>
            Lhasa, in the southeastern Tibet Autonomous Region in southwest China, is the provincial capital city. It is one of highest cities in the world, with an average altitude of 3650 meters. Be aware of the risks of altitude sickness and knowing how to deal with it is very important for tourists traveling to Lhasa. There are many budget hostels and home-like accommodations in Lhasa. Please note that you cannot take a shower in many of these hostels and home-like accommodations. China Highlights staff has made business trips to Lhasa every year, ensuring that we provide the best Lijiang hotels for our customers. The prices on China Highlights are all-inclusive (government tax, service fee, and western breakfast). Our individual travel advisors are always ready to give you professional advice. Call our 24/7 advice number in China
        </p>
        <div class="right-content">
            <ul class="hotel-tag clearfix">
                <li>
                    List
                </li>
                <li>
                    Map
                </li>
            </ul>
            <div class="recommended-hotel" id="Lhasa">
                <h3  class="hotel-tag-title">Recommended hotels in Lhasa</h3>
                <div class="hotel-list">
                    <img src="imagesnew/hotel-pic.jpg" style="float:left; margin-right:10px;">
                    <div>
                        <h4>Jardin Secret Hotel</h4>
                        <span style="width:300px; display:block; float:left;">Guess Impression: Luxury decoration, Delicious food,  Luxury decoration
                            <br>
                            Surroundings: Jokhang Temple, Bank, Coffer Bar, Bank,</span><img src="imagesnew/tripadvisor.jpg" style="float:right;margin-bottom:24px">
                        <p style="">
                            The Jardin Secret Hotel, opened in 2007 and decorated with Tibeten style, located on the Jinzhu West Road of Lhasa....read more>>
                        </p>
                    </div>
                    <table class="hotel-table">
                        <tr>
                            <th>Room Type</th><th>Bed Type</th><th>Breakfast</th><th>Internet</th><th>Book</th>
                        </tr>
                        <tr>
                            <td><span class="hotel-roomtype"><a href="#" >Standard Room</a></span></td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                        <tr class="roomtype-pic">
                            <td colspan="5"><img src="" /><span></span></td>
                        </tr>
                        <tr>
                            <td><span class="hotel-roomtype"><a href="#" class="">Standard Room</a></span></td><td>King Bed(1m*2m)</td><td>Inclued</td><td>Available</td><td class="hotel-book"><a class="btn small" href="###">Inquiry</a></td>
                        </tr>
                        <tr class="roomtype-pic clearfix">
                            <td colspan="5"><img src="" /><span></span></td>
                        </tr>
                    </table>
                    <p class="hotel-allroom">
                        <a href="">All room type V</a>
                    </p>
                </div>
                <p align="right">
                    <a href="#">Check all hotels in Lhasa>></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}