{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block style %} <!-- 页面样式表 -->
<link href="/assets/styles/index.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block script %} <!-- 页面js脚本 -->
{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	<div class="allpage-wrap clearfix">
		<div class="headtop clearfix">
			<div class="banner">
				<ul>
					<li>
						<img src="/imagesnew/index/banner1.jpg" width="665" height="333" alt="" title="">
					</li>
					<li>
						<img src="/imagesnew/index/banner2.jpg" width="665" height="333" alt="" title="">
					</li>
					<li>
						<img src="/imagesnew/index/banner3.jpg" width="665" height="333" alt="" title="">
					</li>
				</ul>
				<h1>Journey to the Roof of the World
				<br>
				<span> We are here to show you the REAL Tibet ! </span></h1>
				
			</div>
			<div class="tc">
				<h3>Your 1-to-1 Travel Consultant </h3>
				<p>
					Guarantee you a lifetime itinerary
				</p>
				<ul class="tc-list">
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
				</ul>
				<a class="talkto btn" href="#">Talk to our Experts</a>
			</div>

			<p class="about">
					As the leading Tibet travel agency, Tibetdiscovery makes travel to Tibet easy.    With the benefit of our know-how, all free from the frustrating mix-ups keep  your journey.
				</p>
		</div>
		<div class="aside">
			<h3>Know before you go</h3>
			<ul class="iconlist clearfix">
				<li class="permit-ico">
					<a href="#">Permit</a>
				</li>
				<li class="accommodation-ico">
					<a href="#">Hotel</a>
				</li>
				<li class="train-ico">
					<a href="#">Train</a>
				</li>
				<li class="altitude-ico">
					<a href="#">High Altitude</a>
				</li>
				<li class="pack-ico">
					<a href="#">What to pack</a>
				</li>
				
				<li class="road-ico">
					<a href="#">Road condition</a>
				</li>
				<li class="beijing-ico">
					<a href="#">Beijing Lhasa</a>
				</li>
				<li class="chengdu-ico">
					<a href="#">Chengdu Lhasa</a>
				</li>
				<li class="nepal-ico">
					<a href="#">Nepal Tibet</a>
				</li>
			</ul>
		</div>
		<div class="section section-one">
			<ul class="g-tour-list clearfix">
				<li>
					<h3><a href="#">4 Days Join-in Lhasa
					Holy City Tour</a></h3>
					<p class="clearfix">
						<a class="btn-check" href="#">Check Details</a>
						<span class="g-price"><span class="price-s">only</span> $99</span>
					</p>
				</li>
				<li>
					<h3></h3>
					<p class="clearfix">
						<a class="btn-check" href="#"></a>
						<span class="g-price"></span>
					</p>
				</li>
				<li>
					<h3></h3>
					<p class="clearfix">
						<a class="btn-check" href="#"></a>
						<span class="g-price"></span>
					</p>
				</li>
			</ul>
		</div>
		<div class="section">
			<h4>Most Popular Private Tibet Tour - loads of fun, flexibility & options</h4>
			<div class="section-content clearfix">
				<p>
					Escorted by your private local guide and transfer during the trip, they'll do all the driving and organise all
					the activities, so that you arrive fresh and informed and ready to discover. Time is never wasted waiting
					for a group, hopping on and off buses or negotiating unfamiliar destinations.
				</p>
				<img src="/imagesnew/index/sample-1.png" />
				<ul class="p-tour-list">
					<li>
						<a href="#">4 Days Join-in Lhasa Holy City Tour</a>
					</li>
					<li>
						<a href="#">4 Days Join-in Lhasa Holy City Tour</a>
					</li>
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
			</div>
			<a href="#" class="more-tour">more private Tibet tour</a>
		</div>
		<div class="section">
			<h4>Top Cities to Enter Tibet - Beijing, Chengdu, Shanghai & Kathmandu </h4>
			<ul class="inline-list expat-list clearfix">
				<li>
					<p>
						Go to Tibet from Beijing
					</p>
					<a href=""><img src="/imagesnew/index/beijing.jpg" /></a>
					<p>
						By Train: 44 hours
						<br/>
						By Flight: 5 hours
					</p>
				</li>
				<li>
					<p>
						Go to Tibet from Beijing
					</p>
					<a href=""><img src="/imagesnew/index/chengdu.jpg" /></a>
					<p>
						By Train: 44 hours
						<br/>
						By Flight: 5 hours
					</p>
				</li>
				<li>
					<p>
						Go to Tibet from Beijing
					</p>
					<a href=""><img src="/imagesnew/index/shanghai.jpg" /></a>
					<p>
						By Train: 44 hours
						<br/>
						By Flight: 5 hours
					</p>
				</li>
				<li>
					<p>
						Go to Tibet from Beijing
					</p>
					<a href=""><img src="/imagesnew/index/nepal.jpg" /></a>
					<p>
						By Train: 44 hours
						<br/>
						By Flight: 5 hours
					</p>
				</li>
			</ul>
		</div>
		<div class="section last">
			<h4>Custom made Tours & Services for Special Interests & Themes </h4>
			<ul class="inline-list theme-list">
				<li>
					<a href=""> <img src="/imagesnew/index/family-tour.jpg" />
					<p>
						Train Tibet
					</p> </a>
				</li>
				<li>
					<a href=""> <img src="/imagesnew/index/hiking-tour.jpg" />
					<p>
						Train Tibet
					</p> </a>
				</li>
				<li>
					<a href=""> <img src="/imagesnew/index/train-tour.jpg" />
					<p>
						Train Tibet
					</p> </a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 