{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block style %} <!-- 页面样式表 -->
<link href="/assets/styles/index.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block script %} <!-- 页面js脚本 -->
{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	<div class="allpage-wrap clearfix">
		<div class="headtop clearfix">
			<div class="banner">
				<ul>
					<li>
						<img src="/imagesnew/index/banner2.jpg" width="665" height="333" alt="" title="">
					</li>
					<li>
						<img src="/imagesnew/index/banner2.jpg" width="665" height="333" alt="" title="">
					</li>
					<li>
						<img src="/imagesnew/index/banner1.jpg" width="665" height="333" alt="" title="">
					</li>
				</ul>
				<h1>Journey to the Roof of the World
				<br>
				<span> We are here to show you the REAL Tibet ! </span></h1>
				<p>
					As the leading Tibet travel agency, Tibetdiscovery makes travel to Tibet easy.    With the benefit of our know-how, all free from the frustrating mix-ups keep  your journey.
				</p>
			</div>
			<div class="tc">
				<h3>Your 1-to-1 Travel Consultant </h3>
				<p>
					Guarantee you a lifetime itinerary
				</p>
				<ul class="tc-list">
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
					<li>
						<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
					</li>
				</ul>
				<a class="talkto btn" href="#">Talk to our Experts</a>
			</div>
		</div>
		<div class="aside"></div>
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 