{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block style %} <!-- 页面样式表 -->
<link href="/assets/styles/index.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block script %} <!-- 页面js脚本 -->
<script type="text/javascript" src="/assets/scripts/index.js"></script>
{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	<div class="allpage-wrap clearfix">
		<div class="headtop clearfix">
			<div class="banner">
				<ul>
					<li>
						<img src="/imagesnew/index/banner1.jpg" width="665" height="333" alt="" title="">
					</li>
					<li>
						<img src="/imagesnew/index/banner2.jpg" width="665" height="333" alt="" title="">
					</li>
					<li>
						<img src="/imagesnew/index/banner3.jpg" width="665" height="333" alt="" title="">
					</li>
				</ul>
			</div>
			<div class="tc">
				<h3>Talk to Your Personal Tibet Expert</h3>
				<p>
					Guarantee you a lifetime itinerary
				</p>
				<div class="tc-wrap">
					<span class="back"><</span>
					<ul class="tc-list clearfix">
						<li>
							<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
						</li>
						<li>
							<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
						</li>
						<li>
							<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
						</li>
						<li>
							<a href="#"> <img src="/imagesnew/head1.jpg" /><span>Bruce</span></a>
						</li>
					</ul>
					<span class="front">></span>
				</div>
				<a class="talkto btn" href="#">Talk to our Experts</a>
			</div>
			<p class="about">
				As the leading Tibet travel agency, Tibetdiscovery makes travel to Tibet easy.    With the benefit of our know-how, all free from the frustrating mix-ups keep  your journey.
			</p>
		</div>
		<div class="aside">
			<div class="board">
				<h4><a href="#">11 Days Essential of Tibet Tour</a></h4>
				<p>
					on Oct.12,2012 at <span class="price">only $1,048</span>
					<br>
					(50% off)
				</p>
				<p class="space">
					3 Space is Left<a href="#">&nbsp;&nbsp;>>join in now</a>
				</p>
				<p class="details">
					There will be 4 travelers joining in this group, so you'll still enjoy the lods of fun and freedom, yet at the lowest price.
				</p>
				<p class="whobooked">Laura DeShano from USA has booked on 23rd, April, 2012</p>
			</div>
			<h3>Know before you go</h3>
			<ul class="iconlist clearfix">
				<li class="permit-ico">
					<a href="travel-tips/travel-permits-and-visa/">Permit</a>
				</li>
				<li class="accommodation-ico">
					<a href="tibet-hotels/">Hotel</a>
				</li>
				<li class="train-ico">
					<a href="train-to-tibet/">Train</a>
				</li>
				<li class="altitude-ico">
					<a href="travel-tips/high-altitude-sickness/">High Altitude</a>
				</li>
				<li class="pack-ico">
					<a href="travel-tips/what-to-pack/">What to pack</a>
				</li>
				<li class="road-ico">
					<a href="travel-guide/road-conditions/">Road condition</a>
				</li>
				<li class="beijing-ico">
					<a href="beijing-lhasa-tour/">Beijing Lhasa</a>
				</li>
				<li class="chengdu-ico">
					<a href="chengdu-tibet-tour/">Chengdu Lhasa</a>
				</li>
				<li class="nepal-ico">
					<a href="kathmandu-tibet-tour/">Nepal Tibet</a>
				</li>
			</ul>
			<h3>Recent Inquiry</h3>
			<div class="Recent-Inquiry">
				<ul>
					<li style="display: list-item;">
						On <em>Apr/23/2012</em> jess*** <em> from</em> Austral Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/kathmandu-tibet-tour/tibet-and-nepal-tour-via-ebc/">12 days Classic Tibet and Nepal Tou...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/22/2012</em> Roma*** <em> from</em> USA Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/join-in-tours/4-days-lhasa-tour/">4 Days Holy City Lhasa Group Tour...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/25/2012</em> Gord*** <em> from</em> US Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/private-tours/lhasa-to-kathmandu-overland-tour/">8 Days Overland Tour from Lhasa to ...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/25/2012</em> Mart*** <em> from</em> Canadia Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/private-tours/td-ebc-07-everest-base-camp-tour/">7 Days Everest Base Camp Tour...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/24/2012</em> Elie*** <em> from</em> USA Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/private-tours/everest-base-camp-trekking-tour/">12 Days Everest Base Camp Trekking ...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/24/2012</em> siva*** <em> from</em> usa Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/beijing-lhasa-tour/tibet-tour-from-beijing-4days/">4 Days Best of Tibet tour from Beij...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/24/2012</em> Shya*** <em> from</em> Indian  Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/private-tours/kailash-manasarovar-yatra/">18 Days Mt. Kailash &amp; Lake Manasaro...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/24/2012</em> ella*** <em> from</em> white Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/students-tour/10-days-lhasa-everest-tour/">10 Days Lhasa-Everest Students Tour...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/24/2012</em> Robe*** <em> from</em> USA Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/private-tours/td-ebc-07-everest-base-camp-tour/">7 Days Everest Base Camp Tour...</a>
					</li>
					<li style="display: list-item;">
						On <em>Apr/23/2012</em> Beh *** <em> from</em> Malaysi Inquired:
						<br>
						<a href="http://www.tibetdiscovery.com/private-tours/lhasa-gyantse-shigatse-tour/">7 Days Tibet Discovery Tour (Lhasa/...</a>
					</li>
				</ul>
			</div>
			<h3>Latest from TibetDiscovery</h3>
			<div class="latestnews">
				<ul class="list3">
					<li>
						<a title="Tibet to Hold Mountaineering Assembly" href="latest-news/tibet-to-hold-mountaineering-assembly/">Tibet to Hold Mountaineering Assembly in April</a><span class="time">Tuesday, Apr.24, 2012</span>
					</li>
					<li>
						<a title="Eight lamas Awarded Highest Academic Degree in Tibetan Buddhism Studies" href="latest-news/eight-lamas-awarded-highest-academic-degree/">Eight lamas awarded highest academic degree </a><span class="time">Friday, Apr.20, 2012</span>
					</li>
					<li>
						<a title="Potala Palace to extend opening hours to meet tourists' demand" href="latest-news/potala-palace-to-extend-opening-hours-to-meet-tourists-demand/">Potala Palace to extend opening hours to meet tourists' demand </a><span class="time">Sunday, Apr.15, 2012</span>
					</li>
				</ul>
				<a href="latest-news/" class="more">&gt;&gt;more</a>
			</div>
			<h3>Tour Reviews</h3>
			<div class="hreview">
				<div class="cont">
					<p>
						<a title="18 Days Mt. Kailash &amp; Lake Manasarovar Trekking Tour" href="private-tours/kailash-manasarovar-yatra/#reviews">Great trip! We spent wonderful time on the way to Mt. Kailash, at the Kailash Site and on the way back!</a>
					</p>
				</div>
				<div class="userinfo">
					<p>
						Alexander <span class="time">Feb 2, 2012</span>
						<br>
						<a title="18 Days Mt. Kailash &amp; Lake Manasarovar Trekking Tour" href="private-tours/kailash-manasarovar-yatra/#reviews">Kailash Manasarovar Tour</a>
					</p>
				</div>
			</div>
			<div class="hreview">
				<div class="cont">
					<p>
						<a title="7 Days Mouny Everest Tour" href="private-tours/td-ebc-07-everest-base-camp-tour/#reviews">We finally made it ! Thanks for Elena's suggestions and the great itinerary. It's really one of my best experiences ever!</a>
					</p>
				</div>
				<div class="userinfo">
					<p>
						Alexander <span class="time">Mar 21st, 2012</span>
						<br>
						<a title="7 Days Mouny Everest Tour" href="private-tours/td-ebc-07-everest-base-camp-tour/#reviews">Mount Everest Tour</a>
					</p>
				</div>
			</div>
			<a href="testimonials/" class="more">&gt;&gt;more</a>
		</div>
		<div class="section section-one">
			<ul class="g-tour-list clearfix">
				<li>
					<h3><a href="#">4 Days Join-in Lhasa
					Holy City Tour</a></h3>
					<p class="clearfix">
						<a class="btn-check" href="#">Check Details</a>
						<span class="g-price"><span class="price-s">only</span> $99</span>
					</p>
				</li>
				<li>
					<h3></h3>
					<p class="clearfix">
						<a class="btn-check" href="#"></a>
						<span class="g-price"></span>
					</p>
				</li>
				<li>
					<h3></h3>
					<p class="clearfix">
						<a class="btn-check" href="#"></a>
						<span class="g-price"></span>
					</p>
				</li>
			</ul>
		</div>
		<div class="section">
			<h4>Most Popular Private Tibet Tour - loads of fun, flexibility & options</h4>
			<div class="section-content clearfix">
				<p>
					Escorted by your private local guide and transfer during the trip, they'll do all the driving and organise all
					the activities, so that you arrive fresh and informed and ready to discover. Time is never wasted waiting
					for a group, hopping on and off buses or negotiating unfamiliar destinations.
				</p>
				<img src="/imagesnew/index/sample-1.png" />
				<ul class="p-tour-list">
					<li>
						<a href="#">4 Days Join-in Lhasa Holy City Tour</a>
					</li>
					<li>
						<a href="#">4 Days Join-in Lhasa Holy City Tour</a>
					</li>
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
			</div>
			<a href="#" class="more-tour">more private Tibet tour</a>
		</div>
		<div class="section">
			<h4>Top Cities to Enter Tibet - Beijing, Chengdu, Shanghai & Kathmandu </h4>
			<ul class="inline-list expat-list clearfix">
				<li>
					<a href=""><img src="/imagesnew/index/beijing.jpg" />
					<div class="caption">
						<h5>Go to Tibet from Beijing </h5>
						<p>
							By Train: 44 hours
							<br/>
							By Flight: 5 hours
						</p>
					</div> </a>
				</li>
				<li>
					<a href=""><img src="/imagesnew/index/beijing.jpg" />
					<div class="caption">
						<h5>Go to Tibet from Beijing </h5>
						<p>
							By Train: 44 hours
							<br/>
							By Flight: 5 hours
						</p>
					</div> </a>
				</li>
				<li>
					<a href=""><img src="/imagesnew/index/beijing.jpg" />
					<div class="caption">
						<h5>Go to Tibet from Beijing </h5>
						<p>
							By Train: 44 hours
							<br/>
							By Flight: 5 hours
						</p>
					</div> </a>
				</li>
				<li>
					<a href=""><img src="/imagesnew/index/beijing.jpg" />
					<div class="caption">
						<h5>Go to Tibet from Beijing </h5>
						<p>
							By Train: 44 hours
							<br/>
							By Flight: 5 hours
						</p>
					</div> </a>
				</li>
			</ul>
		</div>
		<div class="section last">
			<h4>Custom made Tours &amp; Services for Special Interests &amp; Themes </h4>
			<ul class="inline-list theme-list">
				<li>
					<a href=""> <img src="/imagesnew/index/family-tour.jpg" />
					<p>
						Train Tibet
					</p> </a>
				</li>
				<li>
					<a href=""> <img src="/imagesnew/index/hiking-tour.jpg" />
					<p>
						Train Tibet
					</p> </a>
				</li>
				<li>
					<a href=""> <img src="/imagesnew/index/train-tour.jpg" />
					<p>
						Train Tibet
					</p> </a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 