{% extends 'base.html' %}

{% block title %}Itinerary{% endblock %}

{% block style %}
<link href="/assets/styles/itinerary.css"  type="text/css" rel="stylesheet"/>
<link href="/assets/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block script %}
<script src="/assets/scripts/itinerary.js" type="text/javascript"></script>
<script src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="bread"></div>
<div class="itinerary-wrap">
    
    <div class="tour-info clearfix">
        <h1><img src="/imagesnew/itinerary/icon-tour-type.png" />12 Days Everest Base Camp Trekking Tour</h1>
        <div class="tour-sub clearfix">
        This Itinerary is updated on Feb.14,2012  
            <div class="tour-price">
                Price from <span class="light-price">$1,600<img src="/imagesnew/itinerary/icon-question.png"></span>
                <div class="price-tip">
                    <h4>Price explanation:</h4>
                    <ul>
                        <li>1, based on double occupancy </li>
                        <li>2, 3 star commendation in low season</li>
                        <li>3, international airfare is not included</li>
                        <li>4, price is subjected to change </li>
                    </ul>
                </div>                                
            </div>
        </div>
        <div class="clearfix">
            <div class="tour-des clearfix">
                <div class="tour-pic-gallery">
                	<img src="/imagesnew/sample/itinerary-1.png" />
                	<a href="#" class="view-gallery">View Gallery</a>
                	<ul class="gallery-list" style="display: none">
                		<li name="http://farm5.static.flickr.com/4044/4286199901_33844563eb.jpg"></li>
                		<li name="http://farm3.static.flickr.com/2687/4220681515_cc4f42d6b9.jpg"></li>
                	</ul>
                </div>
                <div class="des-detail">
                    <ul>
                        <li><strong>Duration: </strong>12 days</li>
                        <li><strong>Tour Type: </strong> Private Local  Tibetan tour guide &
private car/SUV</li>
                        <li><strong>Depature: </strong>every day you want</li>
                        <li><strong>Tour code: </strong>TD-DR</li>
                    </ul>
                    <div class="trip-for">
                        <p><strong>Is This Trip for you?</strong></p>
                        <ul class="clearfix">
                            <li>Phycical Demand
                                <img src="/imagesnew/itinerary/tripfor-1.png"/>
                                <div class="tripfor-detail">
                                    <h4>Physical Requirements</h4>
                                    <ul>
                                        <li>1-Capable of walking short to medium distances by oneself in high altitudes. Must be capable of minor ascents and descents.</li>
                                        <li>2- Capable of light walking and hiking in high altitudes. Suitable for most fitness levels.</li>
                                        <li>3- Average fitness level. High altitude hiking for several hours.</li>
                                        <li>4- Possibly includes high altitude hiking of up to 6 hours per day or activities of a similar nature. Requires an elevated level of fitness. </li></li>
                                        <li>5- Features demanding high altitude treks or cycling. Only suitable for those with a high level of physical fitness and endurance. </li>
                                    </ul>
                                    <p>
                                        Note: If you have any questions concerning the requirements or the unique demands for your particular tour package, please feel free to contact one of our helpful Travel Consultants for further information.
                                    </p>
                                    <p>It's advisable to have a body check-up or have your doctor's advice before visiting Tibet. Visitors with a record of heart, lung, liver, or kidney problems must seek medical advice before making the decision to go to Tibet
Also, people with any of the following problems should not go to Tibet.</p>
                                    <ul>
                                        <li>Have already caught a cold</li>
                                        <li>Have severe anemia</li>
                                        <li>Have high blood pressure or severe heart disease</li>
                                        <li>Have pneumonia, tuberculosis, tracheitis, or bronchitis</li>
                                    </ul>
                                    
                                </div>
                            </li>
                            <li>Tour Pace
                                <img src="/imagesnew/itinerary/tripfor-2.png"/>
                                <div class="tripfor-detail">22</div>
                            </li>
                            <li>Maximum Altitude
                                <img src="/imagesnew/itinerary/tripfor-3.png"/>
                                <div class="tripfor-detail">33</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <ul class="tour-glance">
                <li class="first">Journey at a Glance</li>
                <li>Gyantse/Shigatse</li>
                <li>Gyantse/Shigatse</li>
                <li>Gyantse/Shigatse</li>
                <li>Gyantse/Shigatse</li>
            </ul>
        </div>
    </div>
    <div class="share-tools clearfix">
    	<a class="add-wish iframe" href="http://www.tibetdiscovery.com/wishlist">Add to my wishlist</a>
    </div>
    
    <ul class="tour-tab clearfix">
		<li class="tab-detail"><a href="/itinerary/#tab-detail">Itinerary Details</a></li>
		<li class="tab-price"><a href="/itinerary/#tab-price">&nbsp;&nbsp;&nbsp;&nbsp;Price Guide & Booking Info</a></li>
		<li class="tab-faq"><a href="/itinerary/#tab-faq">&nbsp;&nbsp;&nbsp;Trip FAQs</a></li>
		<li class="tab-review"><a href="/itinerary/#tab-review">&nbsp;&nbsp;&nbsp;&nbsp;Reviews</a></li>
		<li class="last"><span class="btn-enquiry make-enquiry"><a href="#" class="">Make an Enquiry</a></span></li>
    </ul>
    <ul class="tab-replace" style="height:36px; width: 970px; display: none"></ul>
    
    <div class="tour-detail">
    	<div class="tour-intro clearfix">
    		<div class="tc-say">
    			<h2>Our Expert Says</h2>
    			<p>    You can stop anywhere on the road to discover the real Tibet;
    Your private Tibetan local guide and driver will show you the best of Tibetan people, landscape, religion and culture;
    The trekking will
</p>
    			<h3>Trip Highlights & our service value</h3>
    			<ul>
    				<li>You can stop anywhere on the road to discover the real Tibet;</li>
    				<li>Your private Tibetan local guide and driver will show you the best of Tibetan people,landscape, religion and culture;</li>
					<li>The trekking will</li>
    			</ul>
    		</div>
    		<div class="tailoring">
    			<h2>Tailoring your trip</h2>
    			<p>This itinerary is designed to give you a flavour of
what is possible.</p>
				<ul>
					<li>We can tailor this trip to suit your specific requirements</li>
					<li>Any aspect of the itinerary can be altered,from excursions to accommodation</li>
				</ul>
				<p align="right">
					Call a specialist on </br>
					<strong>01993 838 220</strong>
				</p>
    		</div>
    		
    	</div>
    	<div class="tour-intro-foot"></div>
    	<div class="itinerary-full clearfix">
    		<h2 id="tab-detail">Full Itinerary</h2>
    		<div id="itinerary">
				<dl class="dayCloum">
					<div>
						<dt>
							<span>Day 1</span> Lhasa Arrival
						</dt>
						<dd>
							<img width="200" height="155" title="Potala Palace: No.1 must-see attraction in Tiber" alt="Potala Palace: No.1 must-see attraction in Tiber" src="/imagesnew/sample/potala-palace-200-4.jpg">
						</dd>
						<dd>
							<p>
								<strong>Welcome to Tibet! </strong>Your local guide will meet you upon your arrival in Gonggar airport and will escort you to Lhasa. On the 2-hour drive way, you'll enjoy the heart-stopping views along the <strong>Yarlong Tsangpo River</strong>.
							</p>
							<p>
								After arrival at your hotel, the rest of the day is free for you to explore the local area and acclimatize yourself to this high altitude city at the top of the world.&nbsp;
							</p>
						</dd>
					</div>
					<dd></dd>
				</dl>
				<dl class="dayCloum">
					<div>
						<dt>
							<span>Day 1</span> Lhasa Arrival
						</dt>
						<dd>
							<img width="200" height="155" title="Potala Palace: No.1 must-see attraction in Tiber" alt="Potala Palace: No.1 must-see attraction in Tiber" src="/imagesnew/sample/potala-palace-200-4.jpg">
						</dd>
						<dd>
							<p>
								<strong>Welcome to Tibet! </strong>Your local guide will meet you upon your arrival in Gonggar airport and will escort you to Lhasa. On the 2-hour drive way, you'll enjoy the heart-stopping views along the <strong>Yarlong Tsangpo River</strong>.
							</p>
							<p>
								After arrival at your hotel, the rest of the day is free for you to explore the local area and acclimatize yourself to this high altitude city at the top of the world.&nbsp;
							</p>
							<p>
								After arrival at your hotel, the rest of the day is free for you to explore the local area and acclimatize yourself to this high altitude city at the top of the world.&nbsp;
							</p>
							
						</dd>
					</div>
					<dd></dd>
				</dl>
				
    		</div>
    		
    		<div class="itinerary-right">
    		    <a class="itinerary-map" href="/imagesnew/sample/itinerary-map.png">
    			     <img src="/imagesnew/sample/itinerary-map.png" />
    			</a>
    			<div class="update-enquiri">
    				
    			</div>
    		</div>
    	</div>
    	
    	<h2 id="tab-price">Price Guide & Booking Info</h2>
		<div class="price-book clearfix">
			<div class="price-left">
				<h3>What's included in this price?	</h3>
				<ul class="price-include">
					<li>Entrancet fees listed in the itinerary.</li>
					<li>Private professional English-speaking tour guide.</li>
				</ul>
				<h3>What's included in this price?</h3>
				<ul class="price-nonclude">
					<li>Entrance fees listed in the itinerary.</li>
					<li>Private professional English-speaking tour guide.</li>
				</ul>
			</div>
			<div class="price-right">
				<h3>Trip highlights & Our service value</h3>
				<p class="first">The price we offered for this itinerary can be
tailor-made to your needs,for example:if you want to
depart to Lhasa from HongKong, and we can buy
the flight for you at a great price; just feel free to tell
our friendly expert what you would like and they'll\
design the trip just for you for free. </p>
				<h3>Value for money</h3>
				<p>We believe that value for money is important, we
want you to travel with Tibetdiscovery.com again.
When comparing prices, ensure you are comparing
like for like as often there may be a cheaper option,
but there may be hidden extras or the quality may
not be as good. </p>
			</div>
		</div>
		<div class="book-step">
			<h3>Booking Step with Tibetdiscovery is as Simple as <span class="red">1..2..3..</span></h3>
			<img src="/imagesnew/itinerary/book-step.png" />
			<ul class="clearfix">
				<li>Send an Enquiry</li>
				<li>Get a Quote within 24 hours</li>
				<li class="diff">Amend your tour for FREE</li>
				<li class="diff">Confirm & Pay Deposit of 30-50%</li>
				<li>Make Reservation</li>
				<li class="last">Final Payment & Enjoy your tour</li>
			</ul>
		</div>
		
		<div class="tibet-promise">
			<h3>What Tibetdiscovery <span class="red">Promise</span></h3>
			<ul>
				<li>Travel Insurance:  We Provider offers a limited Tourist Accident / Casualty insurance in Tibet. The type of insurance is China Life Tourist
Accident/Casualty Insurance only covering accidents that occur within Tibet and insurance indemnity is limited. We strongly recommend that you
take out comprehensive travel insurance from your local reliable insurance providers before your tour.</li>
				<li>Refund: some accident reasons for not going for the trip? Don't worry, if you want to plan for a new date, then we'll keep your deposite and it can
be valid for a lifetime, if you has no plans for the Tibet trip, then we'll refund you the deposit totally. </li>
				<li>On the Road: your personal travel consutanlt is on your service 24hrs every day, and any problems you run, they'll help to solve it in one minute;</li>
			</ul>
    	</div>
    	
    	<div class="tour-faq">
    		<h2 id="tab-faq">Trip FAQs</h2>
    		<h3><span class="red">FAQs</span> for Taking this Trip</h3>
    		<ol class="accordion">
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    			<li><h6>When is the best time for Tibet tour? </h6>
    				<p>It is suitable for travel to Tibet from April to early November, and the best time is August and September. But if you only stay in Lhasa, you can go there any time of the year. Get real time weather report in different places of Tibet.</p>
    			</li>
    		</ol>
    		<div class="faq-bottom">
    			<h3>Can't find the answer?</h3>
    			<p>Contact one of our friendly travel consultants and they are always happy to assit with your travel to Tibet. </p>
    			<p class="faq-contact">
    				<span><a class="btn middle">Email us</a></span>
    				<span> OR </span>
    				<span>
    					Call us at</br>
    					<strong>+86-28-82956469</strong>
    				</span>
    			</p> 
    		</div>
    	</div>
    	
    	<div class="tour-review clearfix">
    		<h2 id="tab-review">Reviews</h2>
    		<h3>Still Not sure if this trip suits you? Check out what our previous customers say...</h3>
			<dl>
				<dt>
					&nbsp;
				</dt>
				<dd>
					<p>
						Excellent way to discover all the top attractions in Lhasa city. Our tour guide was very helpful. He is a local guy, and told us much about this wonderful land.
					</p>
				</dd>
				<dd></dd>
				<dd>
					USA,&nbsp;March 16, 2011
				</dd>
				<dd>
					Jeremy A‚&nbsp;
				</dd>
			</dl>
			<dl>
				<dt>
					&nbsp;
				</dt>
				<dd>
					<p>
						Excellent way to discover all the top attractions in Lhasa city. Our tour guide was very helpful. He is a local guy, and told us much about this wonderful land.
					</p>
				</dd>
				<dd></dd>
				<dd>
					USA,&nbsp;March 16, 2011
				</dd>
				<dd>
					Jeremy A‚&nbsp;
				</dd>
			</dl>
			<dl>
				<dt>
					&nbsp;
				</dt>
				<dd>
					<p>
						Excellent way to discover all the top attractions in Lhasa city. Our tour guide was very helpful. He is a local guy, and told us much about this wonderful land.
					</p>
				</dd>
				<dd></dd>
				<dd>
					USA,&nbsp;March 16, 2011
				</dd>
				<dd>
					Jeremy A‚&nbsp;
				</dd>
			</dl>
			<div class="btn-review btn large">Write a review</div>
    	</div>
    	
    </div>
    <div class="tour-foot">
    	<h2>Our Customers who have viewed this tour finally took the following itineraries:</h2>
    	<div class="clearfix">
    	    <span class="total-rank">85%,15%,15%,15%,15%</span>
    		<div class="itinerary-first">
    			<h3>7 Days Classic Tibet Tour <span></span></h3>
    			<img src="/imagesnew/sample/tour.png" /> 
    		</div>
    		<ul class="itinerary-other">
    			<li>
    				<img src="/imagesnew/sample/tour.png" width="150" height="105" /> 
    				<a href="#" class="tour-name">Classic Tibet Tour</a>
    				<p><span class="red">$688</span></p>
    				<span class="rate"></span>
    			</li>
    			<li>
    				<img src="/imagesnew/sample/tour.png" width="150" height="105" /> 
    				<a href="#" class="tour-name">Classic Tibet Tour</a>
    				<p>7 days from <span class="red">$688</span>	</p>
    				<span class="rate"></span>
    			</li>
    			<li>
    				<img src="/imagesnew/sample/tour.png" width="150" height="105" /> 
    				<a href="#" class="tour-name">Classic Tibet Tour</a>
    				<p>7 days from <span class="red">$688</span>	</p>
    				<span class="rate"></span>
    			</li>
    			<li>
    				<img src="/imagesnew/sample/tour.png" width="150" height="105" /> 
    				<a href="#" class="tour-name">Classic Tibet Tour</a>
    				<p>7 days from <span class="red">$688</span>	</p>
    				<span class="rate"></span>
    			</li>
    		</ul>
    	</div>
    	
    </div>
</div>

<div style="display: none" class="inquirybox divReview">
	<script src="/forms/inquiry.js" language="javascript"></script>
	<h3>Been on this tour?</h3><span class="close">close</span>
	<p>
		Fellow Tibet Discovery travelers would like to know what you think of this tour.
	</p>
	<form id="inquiryform1">
		<input type="hidden" value="Inquiry:Tour review" id="subject" name="subject">
		<input type="hidden" value="20" id="inqtype" name="Inqtype">
		<input type="hidden" value="FullName" name="required">
		<input type="hidden" value="167" id="pfid" name="pfid">
		<input type="hidden" value="reviews" id="reviews" name="reviews">
		<script type="text/javascript" language="javascript">
			// &lt;![CDATA[
			document.write("<input name=\"PageTitle\" value=\"" + document.title + "\" type=\"hidden\" >");
			document.write("<input name=\"PageLink\" value=\"" + location.href + "\" type=\"hidden\" >");
			document.write("<input type=\"hidden\" name=\"Ref_Page\" value=\"" + document.referrer + "\" >");
			// ]]&gt;
			function toenter(x) {
				if(x.value == x.defaultValue)
					x.value = '';
				x.style.color = '#000';
			}

			function overenter(x) {
				if(/^\s*$/.test(x.value)) {
					x.value = x.defaultValue;
					x.style.color = '#aaa';
				}
			}
		</script>
		<input type="hidden" value="Lhasa Tour in Tibet to See Potala Palace &amp; Jokhang Temple" name="PageTitle">
		<input type="hidden" value="http://www.tibetdiscovery.com/private-tours/essence-tour-of-lhasa/#bookings" name="PageLink">
		<input type="hidden" value="" name="Ref_Page">
		<div class="reviewInfo">
			<label>Your Overall Rating <span>*</span></label>
			<div class="star">
				<input type="radio" checked="checked" value="Highly Recommended(5star)" id="s5" name="star">
				<label for="s5">Highly Recommended</label>
				<input type="radio" value="Recommended(4star)" id="s4" name="star">
				<label for="s4">Recommended</label>
				<input type="radio" value="worth doing(3star)" id="s3" name="star">
				<label for="s3">worth doing</label>
				<input type="radio" value="it was OK, but could have been better(2star)" id="s2" name="star">
				<label for="s2">it was OK, but could have been better</label>
				<input type="radio" value="I don’t recommend this(1star)" id="s1" name="star">
				<label for="s1">I don’t recommend this</label>
			</div>
			<label for="text">Write Your Review <span>*</span></label>
			<textarea onblur="if(value=='') {value='Please describe your tour. You may include tour guide, driver, accommodation, meals, sights, or anything else that happened during your trip.'}" onfocus="if(value=='Please describe your tour. You may include tour guide, driver, accommodation, meals, sights, or anything else that happened during your trip.') {value=''}" id="text" name="text">Please describe your tour. You may include tour guide, driver, accommodation, meals, sights, or anything else that happened during your trip.</textarea>
			<label for="caption">Write a Caption for your Trip</label>
			<input type="text" id="caption" name="caption">
		</div>
		<div class="personalInfo">
			<label for="FullName">Your Name <span>*</span></label>
			<input type="text" id="FullName" name="FullName">
			<em>(If you’d rather your name wasn’t published, please enter your initials)</em>
			<label for="nationality">Your Nationality <span>*</span></label>
			<input type="text" id="nationality" name="nationality">
			<label for="date">Your Traveled Date <span>*</span></label>
			<input type="text" id="date" name="date">
			<em>(mm-dd-yy)</em>
			<label for="facebook">Your Facebook</label>
			<input type="text" value="http://facebook.com/" id="facebook" name="facebook">
			<a class="facebook" href="#">Connect with our Facebook</a>
		</div>
		<p align="center">
			<a id="inquirysub" class="btn_submit" href="#">Submit</a>
		</p>
	</form>
	
</div>

<form id="inquiryform">
    <input type="hidden" name="subject" id="subject" value="Inquiry: Inquiry Tibet Tour">
    <input type="hidden" name="required" value="FullName, EmailAdress">
    <input type="hidden" name="Inqtype" id="inqtype" value="21">
    <input type="hidden" name="pfid" id="pfid" value="[*id*]">
    <script language="javascript" type="text/javascript">
        // <![CDATA[
        document.write("<input name=\"PageTitle\" value=\""+document.title+"\" type=\"hidden\" />");
        document.write("<input name=\"PageLink\" value=\""+location.href+"\" type=\"hidden\" />");
        document.write("<input type=\"hidden\" name=\"Ref_Page\" value=\""+document.referrer+"\" />");
        // ]]>
        function toenter(x){
            if(x.value==x.defaultValue) x.value='';
            x.style.color='#000';
        }
        function overenter(x){
            if(/^\s*$/.test(x.value)){
                x.value=x.defaultValue;
                x.style.color='#aaa';
            }
        }
        function focusdiv(fd,t){
            for(i=1;i<=t;i++){
                if(fd==i) document.getElementById('fd'+i).className='';
                else document.getElementById('fd'+i).className='tm';
            }
        }
        function checkselect(x){
            if(document.getElementById(x)){
                if(document.getElementById(x).checked) document.getElementById('s'+x).className='mpisa';
                else document.getElementById('s'+x).className='mpnoa';
            }
        }
        function siteselect(x){
            if(document.getElementById('s'+x)){
                if(document.getElementById('s'+x).className=='mpisa'){
                    document.getElementById('s'+x).className='mpnoa';
                    document.getElementById(x).checked=false;
                }else{
                    document.getElementById('s'+x).className='mpisa';
                    document.getElementById(x).checked=true;
                }
            }
        }
        function checkbx(x,tj){
            if(x.value==tj){
                x.style.backgroundColor='#ffbbbb';
                x.style.border='1px solid #ff0000';
            }else{
                x.style.backgroundColor='';
                x.style.border='';
            }
        }
    </script>
    <div class="inquirybox mt8">
        <h2 id="fd1" class="tm">Quick Booking or Inquiry</h2>
                <p style="width:668px;padding:10px;margin:0px;border-left:1px solid #ccc;border-right:1px solid #ccc;font-size:13px;">In order for us to best assist you, please fill out the form below and get booking confirmation or enquiry reply within 24 hours. TibetDiscovery.com will never distribute your personal information to any unauthorized or third-party individuals or companies for any reason.</p>
        <div class="cont">
            <div class="formbox">
                <table>
                                       <h3>Contact Information</h3>
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            <select class="w85" name="Title" onfocus="focusdiv(1,4)">
                                <option selected="selected" value="mr">Mr.</option>
                                <option value="mrs">Mrs.</option>
                                <option value="ms">Ms.</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label><img src="img/required.gif" alt="Required" /> Your Full Name:</label></td>
                        <td><input class="w180" type="text" name="FullName" onfocus="focusdiv(1,4)" onblur="checkbx(this,'')"></td>
                    </tr>
                    <tr>
                        <td><label><img src="img/required.gif" alt="Required" /> Your E-mail Address:</label></td>
                        <td><input class="w180" type="text" name="EmailAdress" onfocus="focusdiv(1,4)" onblur="checkbx(this,'')"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span class="red stext" style="display:block; width:300px">(Please <strong>double check</strong> it! Your email address will be kept strictly confidential.)</span></td>
                    </tr>
                    <tr>
                        <td><label>Alternative Email:</label></td>
                        <td><input class="w180" type="text" name="Alteremail" onfocus="focusdiv(1,4)"></td>
                    </tr>
                    <tr>
                        <td><label>Phone:</label></td>
                        <td><input class="w180" type="text" name="Phone" onfocus="focusdiv(1,4)" /></td>
                    </tr>
                    <tr>
                        <td><label>Cell/Mobile:</label></td>
                        <td><input class="w180" type="text" name="Mobile" onfocus="focusdiv(1,4)" /></td>
                    </tr>
                    <tr>
                        <td><label>Your Nationality:</label></td>
                        <td><input class="w180" type="text" name="Nationality" id="gjword" onfocus="focusdiv(1,4)" onblur="checkbx(this,'')"></td>
                    </tr>
                                  </table>
                                        <h3 style="margin-top:15px;">Trip Details (optional)</h3>
                                     <table>
       <tr>
<td><label><img src="img/required.gif" alt="Required">Your Travel Date:</label></td>
<td><select name="TravelDate" class="w180">
<option value="2012-02">Feb, 2012</option>
<option value="2012-03">Mar, 2012</option>
<option value="2012-04">Apr, 2012</option>
<option value="2012-05">May, 2012</option>
<option value="2012-06">Jun, 2012</option>
<option value="2012-07">Jul, 2012</option>
<option value="2012-08">Aug, 2012</option>
<option value="2012-09">Sep, 2012</option>
<option value="2012-10">Oct, 2012</option>
<option value="2012-11">Nov, 2012</option>
<option value="2012-12">Dec, 2012</option>
<option value="2013-01">Jan, 2013</option>
<option value="2013-02">Feb, 2013</option>
<option value="2013-03">Mar, 2013</option>
<option value="2013-04">Apr, 2013</option>
<option value="2013-05">May, 2013</option>
<option value="2013-06">Jun, 2013</option>
<option value="2013-07">Jul, 2013</option>
<option value="2013-08">Aug, 2013</option>
<option value="2013-09">Sep, 2013</option>
<option value="2013-10">Oct, 2013</option>
<option value="2013-11">Nov, 2013</option>
<option value="2013-12">Dec, 2013</option>
<option value="2014-01">Jan, 2014</option>
<option value="2014-02">Feb, 2014</option>
</select>&nbsp;Date:<select name="Date" class="w85">
<option value='01'>1st</option>
<option value='02'>2nd</option>
<option value='03'>3rd</option>
<option value='04'>4th</option>
<option value='05'>5th</option>
<option value='06'>6th</option>
<option value='07'>7th</option>
<option value='08'>8th</option>
<option value='09'>9th</option>
<option value='10'>10th</option>
<option value='11'>11th</option>
<option value='12'>12th</option>
<option value='13'>13th</option>
<option value='14'>14th</option>
<option value='15'>15th</option>
<option value='16'>16th</option>
<option value='17'>17th</option>
<option value='18'>18th</option>
<option value='19'>19th</option>
<option value='20'>20th</option>
<option value="21">21st</option>
<option value="22">22nd</option>
<option value="23">23rd</option>
<option value='24'>24th</option>
<option value='25'>25th</option>
<option value='26'>26th</option>
<option value='27'>27th</option>
<option value='28'>28th</option>
<option value='29'>29th</option>
<option value='30'>30th</option>
<option value='31'>31st</option>
</select></td>
</tr>
                    <tr>
                        <td><label>Tour Name:</label></td>
                        <td>
                            <input value="[*h1title*]" name="Tourname" style="width:320px;">
                            <ul id="optformlist">
                                 [[Ditto? &documents=`[*addTour-id*]` &sortBy=`menuindex` &sortDir=`ASC` &tpl=`tourCheckForm`]]
                            </ul>
                        </td>
                    </tr>               
            <tr>
<td>
<label>Number of Travelers:</label>
</td>
<td>
<select class="w85" onfocus="toenter(this);focusdiv(3,4)" onblur="overenter(this)" style="color:#aaa;" name="AdultsNumber">
<option value="Adults">Adults</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value=">10">&gt;10</option>
</select>
<img src="img/required.gif" alt="Required">
<select class="w85" onfocus="toenter(this);focusdiv(3,4)" onblur="overenter(this)" style="color:#aaa;" name="ChildrenNumber">
<option value="Children">Children</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
</select>
<select class="w85" onfocus="toenter(this);focusdiv(3,4)" onblur="overenter(this)" style="color:#aaa;" name="Babies">
<option value="Babies">Babies</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
</select>
</td>
</tr>

[[tourform]]
                    <tr>
                        <td><label>Num of Rooms:</label></td>
                        <td><input type="text" class="w180" name="RoomNum" onfocus="focusdiv(3,4)"></td>
                    </tr>
                    <tr>
                        <td><label>Budget Per Person:</label></td>
                        <td><input type="text" class="w180" name="Budget" onfocus="focusdiv(3,4)"></td>
                    </tr>
                    <tr>
                        <td valign="top"><label>Additional comments or questions:</label></td>
                        <td><textarea class="w300" name="Comments" cols="" rows="5" onfocus="focusdiv(4,4)"></textarea></td>
                    </tr>
                </table>
            </div>
                            <p class="mt8" align="center"><a id="inquirysub" class="btn_submit" href="javascript:Submitform()">Submit</a></p>
        </div>
    </div>
    
</form>

{% include 'footer.html' %}
{% endblock %}