{% extends 'base.html' %}

{% block title %}Itinerary{% endblock %}

{% block style %}
<link href="/assets/styles/itinerary.css"  type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %}
<!-- 页面js脚本 -->
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="bread"></div>
<div class="itinerary-wrap">
    
    <div class="tour-info clearfix">
        <h1><img src="/imagesnew/itinerary/icon-tour-type.png" />12 Days Everest Base Camp Trekking Tour</h1>
        <div class="tour-sub clearfix">
        This Itinerary is updated on Feb.14,2012  
            <div class="tour-price">
                Price from <span class="light-price">$1,600<img src="/imagesnew/itinerary/icon-question.png"></span>
            </div>
        </div>
        <div class="clearfix">
            <div class="tour-des clearfix">
                <div class="tour-pic-gallery">
                	<img src="/imagesnew/sample/itinerary-1.png" />
                </div>
                <div class="des-detail">
                    <ul>
                        <li><strong>Duration: </strong>12 days</li>
                        <li><strong>Tour Type: </strong> Private Local  Tibetan tour guide &
private car/SUV<img src="/imagesnew/itinerary/icon-question.png"></li>
                        <li><strong>Depature: </strong>every day you want</li>
                        <li><strong>Tour code: </strong>TD-DR</li>
                    </ul>
                    <div class="trip-for">
                        <p><strong>Is This Trip for you?</strong></p>
                        <ul class="clearfix">
                            <li>Phycical Demand
                                <img src="/imagesnew/itinerary/tripfor-1.png"/>
                                <div class="tripfor-detail"></div>
                            </li>
                            <li>Tour Pacing
                                <img src="/imagesnew/itinerary/tripfor-2.png"/>
                                <div class="tripfor-detail"></div>
                            </li>
                            <li>Daily Tough?
                                <img src="/imagesnew/itinerary/tripfor-3.png"/>
                                <div class="tripfor-detail"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <ul class="tour-glance">
                <li class="first">Journey at a Glance</li>
                <li>Gyantse/Shigatse</li>
                <li>Gyantse/Shigatse</li>
                <li>Gyantse/Shigatse</li>
                <li>Gyantse/Shigatse</li>
            </ul>
        </div>
    </div>
    
    <div class="tour-detail"></div>
    
    <div class="tour-foot"></div>
</div>

{% include 'footer.html' %}
{% endblock %}