{% extends 'base.html' %}

{% block title %}latest news{% endblock %}

{% block style %}
<link href="/assets/styles/latestnew.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} 

{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-destination.html' %}
	<div class="content" name="">
		<h1>Latest & Hottest Tibet Travel News</h1>
		<p>2012 Tibet Discovery travel news shows you the latest and hottest Tibet travel information. Here, 
many aspects of Tibet conveyed, true stories of Tibet shown. All news sources come from authoritative 
news-websites, which may help you get better on the sacred journey and witness real Tibet.</p>
		
		<div class="news-block">
			<div class="block-title">
				<h2><a href="#">2012 Tibet Discovery travel news</a></h2>
				<div class="news-date">
					<div class="date-m">April</div>
					<div class="date-d">24</div>
				</div>
			</div>
			<div class="block-body clearfix">
				<div class="left news-time">
					<p>Activity time:
					April.19.to 
					May1,2012</p>
					<p>Edit on :
					April.19,2012</p>
				</div>
				<div class="left news-info">
					<img src="/imagesnew/sample/similing-international-friends-480.jpg" alt="">
					<p>2012 Tibet Discovery travel news shows you the latest and hottest Tibet travel 
information. Here, many aspects of Tibet conveyed, true stories of Tibet shown.
 All news sources come from authoritative news-websites, </p>
					<a href="" class="continue-read btn large">Continue reading</a>
				</div>
			</div>
		</div>

		<div class="news-block">
			<div class="block-title">
				<h2><a href="#">2012 Tibet Discovery travel news</a></h2>
				<div class="news-date">
					<div class="date-m">April</div>
					<div class="date-d">24</div>
				</div>
			</div>
			<div class="block-body clearfix">
				<div class="left news-time">
					<p>Activity time:
					April.19.to 
					May1,2012</p>
					<p>Edit on :
					April.19,2012</p>
				</div>
				<div class="left news-info">
					<img src="/imagesnew/sample/similing-international-friends-480.jpg" alt="">
					<p>2012 Tibet Discovery travel news shows you the latest and hottest Tibet travel 
information. Here, many aspects of Tibet conveyed, true stories of Tibet shown.
 All news sources come from authoritative news-websites, </p>
					<a href="" class="continue-read btn large">Continue reading</a>
				</div>
			</div>
		</div>

		<div class="news-block">
			<div class="block-title">
				<h2><a href="#">2012 Tibet Discovery travel news</a></h2>
				<div class="news-date">
					<div class="date-m">April</div>
					<div class="date-d">24</div>
				</div>
			</div>
			<div class="block-body clearfix">
				<div class="left news-time">
					<p>Activity time:
					April.19.to 
					May1,2012</p>
					<p>Edit on :
					April.19,2012</p>
				</div>
				<div class="left news-info">
					<img src="/imagesnew/sample/similing-international-friends-480.jpg" alt="">
					<p>2012 Tibet Discovery travel news shows you the latest and hottest Tibet travel 
information. Here, many aspects of Tibet conveyed, true stories of Tibet shown.
 All news sources come from authoritative news-websites, </p>
					<a href="" class="continue-read btn large">Continue reading</a>
				</div>
			</div>
		</div>

		<div class="news-block">
			<div class="block-title">
				<h2><a href="#">2012 Tibet Discovery travel news</a></h2>
				<div class="news-date">
					<div class="date-m">April</div>
					<div class="date-d">24</div>
				</div>
			</div>
			<div class="block-body clearfix">
				<div class="left news-time">
					<p>Activity time:
					April.19.to 
					May1,2012</p>
					<p>Edit on :
					April.19,2012</p>
				</div>
				<div class="left news-info">
					<img src="/imagesnew/sample/similing-international-friends-480.jpg" alt="">
					<p>2012 Tibet Discovery travel news shows you the latest and hottest Tibet travel 
information. Here, many aspects of Tibet conveyed, true stories of Tibet shown.
 All news sources come from authoritative news-websites, </p>
					<a href="" class="continue-read btn large">Continue reading</a>
				</div>
			</div>
		</div>

		<div class="pager">
			
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}