<div class="life-on-board clearfix" >
    <h2>Life on Board</h2>
    <ul class="pic-list clearfix">
        <li><a href="#" class="wrap-img">
                <img src="/imagesnew/img1.jpg" />
            </a>
            <a href="#">Soft Sleeper Cars</a>
            <p>
                The most comfortable compartments with doors and 4 soft berths in each offer more privacy and fewer crowds.
            </p>
        </li>
        <li><a href="#" class="wrap-img">
                <img src="/imagesnew/img2.jpg" />
            </a>
            <a href="#">What to eat on board?</a>
            <p>
                Simple Western and Chinese food are offered in the Dining car. Also some snacks and drinks are sold by the train attendant with a trolley.
            </p>
        </li>
        <li><a href="#" class="wrap-img">
                <img src="/imagesnew/img3.jpg" />
            </a>
            <a href="#">More Tibet Train FAQs</a>
            <p>
                See what other travelers are curious about trains to Tibet. Get more information about every corner of the train.
            </p>
        </li>
    </ul>
</div>