{% extends 'base.html' %}

{% block title %}Nepal{% endblock %}

{% block style %}
<link href="/assets/styles/tour-index.css"  type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %}

{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="allpage-wrap nepal-color clearfix">
    <div class="content-head">
    	<div class="content-words">
	    	<h1>Nepal</h1>
	    	<p>Tibet and Nepal, two of the world's most amazing destinations, </p>
	    	<p>Tibet and Nepal, two of the world's most amazing destinations, </p>
    	</div>
    </div>
    <div class="content left">
    	<div class="tour-block">
    		<h2><span class="tour-rank">1</span>7 Days Lhasa & Kathmandu Overland Tour<span class="tour-style tour-style-p"></span></h2>
    		<div class="tour-content clearfix">
    			<img src="/imagesnew/sample/nepal-2.png"/>
    			<div class="tour-info">
    				<p><b>Kathmandu</b> <img src="/imagesnew/sample/car.png"/> <b>Lhasa</b><img src="/imagesnew/sample/flight.png"/></p>
    				<p>Duration: 7 Days & 6 Nights </p>
    				<p>Tour Type: Private escorted tour with Tibetan tour guide & tran</p>
    				<p>OvvDine in one of the city's superb Newari
					restaurants, with the accompaniment of traditional
					dances
					</p>
					<p class="clearfix"><span class="tour-price">From $ 2,200</span><a href="#" class="nepal-btn">Check Detail</a></p>					
    			</div>
    		</div>
    	</div>
    </div>
    <div class="sidebar" style="margin:18px 0 0 25px">
		<div class="right-pannel pannel-fir">
			<img src="/imagesnew/sample/nepal-map.png" />
			<p>monuments of Durbar Square, an
artistic and architectural tradition that
rival's anything you'll find in the great
cities of Europe. </p>
			<p>
				monuments of Durbar Square, an
artistic and architectural tradition that
rival's anything you'll find in the great
cities of Europe. 
			</p>
		</div>
		<div class="right-pannel pannel-sec">
			<h3>Top Things to Do in Kathmandu</h3>
			<p>1. Old Town
Stroll around Kathmandu's medieval-
like old town and soak up its
atmosphere. </p>
			<p>
				2. Durbar Square
Appreciate the amazing architectural
monuments of Durbar Square, an
artistic and architectural tradition that
rival's anything you'll find in the great
cities of Europe. 
			</p>
			<p>
				3. Newari restaurants
Dine in one of the city's superb Newari
restaurants, with the accompaniment
of traditional dances. 
			</p>
		</div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}