{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
{% include 'sidebar-aboutus.html' %}
<div class="content">
		
	
	
</div>
</div>
{% include 'footer.html' %}
{% endblock %}