{% extends 'base.html' %}

{% block title %}Our Team{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<h1>Your Personal Tibet Travel Consultants</h1>
		<p>
			They are friends, prompt, careful&responsible
		</p>
		<div class="block-container clearfix">
			<div class="words-pannel">
				Tashi Delek ! (Welcome)
				<br>
				For you, Tibet is the ultimate destination; for us, it is our home. Each year our travel consultants migrate to Tibet as the nomads migrate to the higher summer pastures. I guess they are now nomads too. They know and understand Tibet better than any other travel company.
			</div>
			<div class="images-pannel">
				<a href="/imagesnew/sample/why-1.jpg" rel="images-gallery">
					<img src="/imagesnew/sample/why-1.jpg" width="438" height="250" />
				</a>
			</div>
		</div>
		<div class="block-container clearfix">
			<div class="images-pannel">
				<a href="/imagesnew/sample/why-1.jpg" rel="images-gallery">
					<img src="/imagesnew/sample/why-1.jpg" width="438" height="250" />
				</a>
			</div>
			<div class="words-pannel">
				When helping your tour planning, they are always prompt and efficient, getting back to you within 0.5~23.5hrs. You can rely on their first-hand knowledge and boundless enthusiasm. At Tibet Discovery Tours we believe in an honest 'tell is how it is' approach to planning an itinerary, suggesting sights, selecting accommodation and discussing the practicalities of your Tibet travel. 
				<br>
				During your Tibet tour, your personal travel consultant will remain in contact with you, continually checking if everything is going well as planned. In the case of unexpected events, such as the late flight, activity cancellation, or you do not feel well, your travel consultant will react promptly and responsibly with alternative plans to make sure nothing is going to ruin your experience. Anyway, remember that your travel consultant is always just a phone call away! 
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 