{% extends 'base.html' %}

{% block title %}Our Team{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
<link href="/assets/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.easing-1.3.pack.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<h1>Specialists of Tibetdiscovery.com </h1>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<p>
					Every specialized team at Tibet Discovery Tours is working closely with each other in a coordinated way for only one goal, which is to bring every customer a delightful and spiritual lifetime Tibet tour experience.
				</p>
				<p>
					Tibet Discovery Tours consists of teams of travel consultants, tour guides & drivers, website & marketing and Quality Supervisor. Meet them eachly.
				</p>
			</div>
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/big/ourteam01.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam01.jpg" width="410" height="200"/></a>
			</div>
		</div>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<a href="/imagesnew/aboutus/big/ourteam09.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam09.jpg" width="260" height="200"/></a>
				<a href="/imagesnew/aboutus/big/ourteam07.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam07.jpg" width="125" height="100"/></a>
				<a href="/imagesnew/aboutus/big/ourteam04.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam04.jpg" width="125" height="100"/></a>
				<a href="/imagesnew/aboutus/big/ourteam03.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam03.jpg" width="125" height="210"/></a>
				<a href="/imagesnew/aboutus/big/ourteam08.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam08.jpg" width="125" height="100"/></a>
				<a href="/imagesnew/aboutus/big/ourteam06.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam06.jpg" width="125" height="100"/></a>
				<a href="/imagesnew/aboutus/big/ourteam05.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam05.jpg" width="125" height="200"/></a>
				<a href="/imagesnew/aboutus/big/ourteam02.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/ourteam02.jpg" width="125" height="200"/></a>
			</div>
			<div class="long-pannel">
				<h2>Meet Our Teams</h2>
				<strong>Marketing & Website Team</strong>
				<p>
					You meet Tibet Discovery Tours firstly via this website created by our marketing department. They make sure the travel guide and resources provided are helpful and updated, and the suggested travel ideas and sample Tibet tours, China & Tibet tours, and Nepal Tibet tours are attractive and meeting your travel interests.
				</p>
				<br>
				<br>
				<strong>Online Travel Consultants Team </strong>
				<p>
					Our travel consultants at the sales department are whom you contact us in person in the first place. They are working closely with every customer for every tour from the beginning of tour planning to the last minutes the customer leaving for home.
				<a href="[~~]" class="more-details">More details>></a>
				</p>
				
				<br>
				<br>
				<strong>Our Tibetan Tour Guide & Driver Team </strong>
				<p>
					When you arrive in Lhasa, the ones you meet firstly are your personal tour guide and driver. All of them are qualified Tibetan professionals, and they know this land very well, and provide you with maximized personal care, scurity, and flexibility.
				<a href="[~~]" class="more-details">More details>></a>
				</p>
				<br>
				<br>
				<strong>Quality Supervisors</strong>
				<p>
					Their work is to guarantee that all travel services experienced during your tour are smooth and consistent in quality. Moreover, after your tour, they'll evaluate the service of your guide and driver from your tour reviews.
				</p>
			</div>
		</div>
		<h2 class="howwe">How We Plan & Fullfill your Tibet Trip </h2>
		<p>
			The following charts briefly illustrates how we work for you.
		</p>
		<img class="flow-img" src="/imagesnew/aboutus/workflow.png" width="683" height="675"  alt="trip plan flow">
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 
