{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/destination.css" type="text/css" rel="stylesheet"/>
<link href="/assets/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block script %} <script src="/assets/scripts/destination.js" type="text/javascript"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-destination.html' %}
	<div class="content" name="">
		<div class="destination-top">
			<div class="slides">
				<div class="slide">
					<img width="440" height="275" src="/imagesnew/flight-demo.png">
					<h2>Visit the Terracotta Warriors</h2>
					<p>
						Widely regarded as one of China’s top three historical sites, the 2500 year old Terracotta Army has been amazing visitors since they were accidentally unearthed in 1974.
					</p>
					<a class="nav-button" href=""> <span>Read more</span> </a>
				</div>
			</div>
			<div class="thumbs">
				<ul>
					<li class="thumb active">
						first
					</li>
					<li class="thumb">
						second
					</li>
				</ul>
			</div>
		</div>
		<div class="overview-left">
			<h2>Tailor-made Lhasa Tours</h2>
			<p>
				Countless temples and monasteries dot this mystical land high up on the
				roof of the world. From the sheer walls of the Potala Palace in Lhasa to the
				towing bulk of Mount Everest, the people here cling to their ancient
				identities and offer an exceptional welcome to all.
			</p>
			<h3 class="most-title">Most Popular Lhasa Tour</h3><a href="#">View all Itineraries</a>
			
			<div class="popular">
				<img src="/imagesnew/flight-demo.png" width="180" height="128">
				<h4>Classic Lhasa Tour</h4><span>4 days from $688pp</span>
				<p>
					This 4 day trip takes in the Lhasa and the
					key towns of Tibet, where you'll visit the
					most important monasteries and sights.
				</p>
				<a href="#" class="middle btn view-btn">View Itinerary</a>
			</div>
			
			<div class="popular">
				<img src="/imagesnew/flight-demo.png" width="180" height="128">
				<h4>Classic Lhasa Tour</h4><span>4 days from $688pp</span>
				<p>
					This 4 day trip takes in the Lhasa and the
					key towns of Tibet, where you'll visit the
					most important monasteries and sights.
				</p>
				<a href="#" class="middle btn view-btn">View Itinerary</a>
			</div>
			
		</div>
		<div class="overview-right">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div><!--end of div.content-->
</div><!--end of div.wrapper-->
{% include 'footer.html' %}
{% endblock %}