{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
<link href="/assets/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.easing-1.3.pack.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<h1>Your Personal Tibet Travel Consultants </h1>
		<span class="h1-below"><strong>They are friendly, prompt, careful & responsible</strong></span>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<p>
					For you, Tibet is the ultimate destination; for us, it is our home. Each year our travel consultants migrate to Tibet as the nomads migrate to the higher summer pastures. I guess they are now nomads too. They know and understand Tibet better than any other travel company.
				</p>
			</div>
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/big/saleteam16.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam16.jpg" width="410" height="200"/></a>
			</div>
		</div>
		<!--<div class="block-container clearfix">
		<div class="short-pannel">
		<a href="/imagesnew/aboutus/big/saleteam07.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam07.jpg" width="125" height="100"/></a>
		<a href="/imagesnew/aboutus/big/saleteam14.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam14.jpg" width="125" height="100"/></a>
		<a href="/imagesnew/aboutus/big/saleteam06.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam06.jpg" width="260" height="200"/></a>
		</div>
		<div class="long-pannel">
		<p>
		When helping your tour planning, they are always prompt and efficient, getting back to you within 0.5~23.5hrs. You can rely on their first-hand knowledge and boundless enthusiasm. At Tibet Discovery Tours we believe in an honest 'tell is how it is' approach to planning an itinerary, suggesting sights, selecting accommodation and discussing the practicalities of your Tibet travel.
		</p>
		<p>
		During your Tibet tour, your personal travel consultant will remain in contact with you, continually checking if everything is going well as planned. In the case of unexpected events, such as the late flight, activity cancellation, or you do not feel well, your travel consultant will react promptly and responsibly with alternative plans to make sure nothing is going to ruin your experience. Anyway, remember that your travel consultant is always just a phone call away!
		</p>
		</div>
		</div>-->
		<hr class="team-hr">
		<div class="block-container clearfix">
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/big/saleteam08.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam08.jpg" width="300" height="210"/></a>
				<a href="/imagesnew/aboutus/big/saleteam15.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam15.jpg" width="100" height="100"/></a>
				<a href="/imagesnew/aboutus/big/saleteam11.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam11.jpg" width="100" height="100"/></a>
			</div>
			<div class="short-pannel">
				<p>
					<a class="tc-name" href="#">Wong
					<br>
					(Sales Manager)</a>
					The travel bug got me early, I think from a childhood spent studying the atlas. Until now, I've been in China tourism business for over 15 years, working as tour guide, travel consultant, and quality supervisor, so I know how to make our clients have an authentic experience at the LOWEST price.
					<br />
					<br />
					Our goal is to make you a lifetime experience in Tibet and be your friends in Tibet and China.
				</p>
			</div>
		</div>
		<hr class="team-hr">
		<div class="block-container clearfix">
			<div class="short-pannel">
				<p>
					<a class="tc-name">Bruce Tang
					<br>
					(Sales Supervisor)</a>
					I've been travelling and adventuring for as long as I can remember - I grew up in Guilin, one of the most beautiful city in China, and I almost explored every corner of Guilin and around when I was in the middle school.
					<br />
					<br />
					Tibet was my ultimate destination when I was in College, so I'm here now to invite you have a cup of yak butter tea and some yak meat while you learn something new about Tibet from me.
				</p>
			</div>
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/big/saleteam01.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam01.jpg" width="300" height="210"/></a>
				<a href="/imagesnew/aboutus/big/saleteam02.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam02.jpg" width="100" height="100"/></a>
				<a href="/imagesnew/aboutus/big/saleteam12.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam12.jpg" width="100" height="100"/></a>
			</div>
		</div>
		<hr class="team-hr">
		<div class="block-container clearfix">
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/big/saleteam04.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam04.jpg" width="300" height="210"/></a>
				<a href="/imagesnew/aboutus/big/saleteam05.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam05.jpg" width="100" height="100"/></a>
				<a href="/imagesnew/aboutus/big/saleteam10.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam10.jpg" width="100" height="100"/></a>
			</div>
			<div class="short-pannel">
				<p>
					<a class="tc-name">Elena Chung
					<br>
					(Travel Consultant)</a>
					My enthusiasm for travel was first sparked by a college field trip to Daocheng & Yading (Sichuan province) in 2009. Since this experience, I had taken every opportunity to explore Sichuan and Tibet. After graduating, I realised that travel is my passion and Tibet is definitely my second hometown. So I'm here and can't wait to share my inside ideas about my hometown - the Holy Land.
				</p>
			</div>
		</div>
		<hr class="team-hr">
		<div class="block-container clearfix">
			<div class="short-pannel">
				<p>
					<a class="tc-name">Laura Tang
					<br>
					(Travel Consultant)</a>
					My love for Tibet began almost 8 years ago when I was in high school, and I promised to discover every corner of Tibet after graduating. Now, I almost make it! I fully immerse myself in this Holy Land, attracted by its unique culture, devoted religion, simple people and gorgeous landscape.
				</p>
			</div>
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/big/saleteam09.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam09.jpg" width="300" height="210"/></a>
				<a href="/imagesnew/aboutus/big/saleteam03.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam03.jpg" width="100" height="100"/></a>
				<a href="/imagesnew/aboutus/big/saleteam13.jpg" rel="images-gallery"><img src="/imagesnew/aboutus/photos/saleteam13.jpg" width="100" height="100"/></a>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 