{% extends 'base.html' %}

{% block title %}<!--填标题-->
{% endblock %}

{% block style %}
<link href="/assets/styles/share-form.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script src="/assets/scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/scripts/share-form.js" type="text/javascript"></script>
{% endblock %}

{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
			<h1>Do You Have An Interesting Tibet Travel Story? Do Tell! </h1>
			<p>
				Tibetdiscovery.com is all about our company’s Tibet travel stories, tour highlights, and travel tips (as you may have guessed!).
			</p>
			<p>
				But, now, we’d like to turn the tables on <strong>you</strong>.
			</p>
			<p>
				We would <strong>love</strong> to hear about <strong>your</strong> best experiences,your most interesting information on Tibet, your top Tibet travel tips, your precious photos…anything about Tibet that you’d love to share.
			</p>
			<p>
				tips, your precious photos…anything about Tibet that you’d love to share.

				Everybody has something they love most about Tibet. What makes Tibet, Tibet to you? Is it the grassland? The simple people? The religion? What is it that really tingles you about this Holy Land? We’re sure others who visit this site will thank you, too!
			</p>
	</div><!--end of div.content -->
</div><!--end of div.wrapper -->
{% include 'footer.html' %}
{% endblock %} 