<div class="sidebar">
	<h1 class="sidebar-title"><a href="###">About Tibetdiscovery</a></h1>
	<div class="sidebar-pic"><img src="/imagesnew/train-img.jpg">
	</div>
	<ul class="nav-left">
		<li>
			<a href="[~2358~]" id="about-what">Our Service Scope</a>
		</li>
		<li>
			<a href="[~323~]" id="about-why">Why Tour with Us ?</a>
		</li>
		<li>
			<a href="[~2306~]" id="about-team">Our Specialists</a>
		</li>
		<li>
			<a href="[~324~]" id="about-say">What People Say ?</a>
		</li>
		<li>
			<a href="[~358~]" id="about-book">How to Book ?</a>
		</li>
		<li>
			<a href="[~357~]" id="about-terms">Terms & Conditions</a>
		</li>
		<li>
			<a href="[~328~]" id="about-privacy">Privacy Policy</a>
		</li>
		<li>
			<a href="[~191~]" id="about-contact">Contact Us</a>
		</li>
		<li>
			<div>
				<img src="/imagesnew/6things.png">
			</div>
			<ul class="subnav-left have-arrow" >
				<li>
					<a>Reasons to Go by Train</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
						</p>
					</div>
				</li>
				<li>
					<a>Necessary Documents</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
						</p>
					</div>
				</li>
				<li>
					<a>Advanced Ticket Booking</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
						</p>
					</div>
				</li>
				<li>
					<a>Soft/Hard Sleeping Cars</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
						</p>
					</div>
				</li>
				<li>
					<a>Dining on Board</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
						</p>
					</div>
				</li>
				<li>
					<a>High Altitude Sickness</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
						</p>
					</div>
				</li>
				<li>
					<a>Railway Attractions</a>
					<div class="poptips">
						<img id="triangle-left" src="/imagesnew/triangle-left.png">
						<img src="/imagesnew/poptip-img.jpg"/>
						<h2>Reasons to Go by Train</h2>
						<p>
							Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to <a class="noicon" href="###">take the world's highest railway</a>.
						</p>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<div class="aboutus-side-foot">
		<h3>Share Your Travel Story to WIN!</h3>
		<div class="abuout-side-img">
			<img src="/imagesnew/movie.png" />
			<p>
				Send us you travleSend us you travleSend us you travleSend us you travleSend us you travle
				Send us you travleSend us you travleSend us you travle.
			</p>
		</div>
	</div>
	<div class="departures">
		<h2>Departures</h2>
		<div id="departures-monthly">
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
			<div class="departure-month">
				<a href="#"> <span class="month">Mar</span> <span class="year">2012</span> </a>
			</div>
		</div>
	</div>
</div>