<div class="sidebar hotel-sidebar">
	<h1><a href="###">Hotel</a> </h1>
	<div class="hotel-map">
		<img src="/imagesnew/train-img.jpg">
		<a class="map-show">Show map</a>
	</div>
	<div class="hotel-viewd">
		<h2>My Viewd Hotels</h2>
		<ul class="v-hotel clearfix">
			<li class="hotel-img"><img src="/imagesnew/reviewd/views-s.jpg" width="50px;" height="50px;">
			</li>
			<li class="hotel-name">
				<a>Red Wall Hotel Beijing</a>
			</li>
			<li class="hotel-star"><img src="/imagesnew/reviewd/fourstar-s.png">
			</li>
			<a class="hotel-delete"></a>
		</ul>
	</div>
	<div class="near">
		<h2>Nearby Places</h2>
		<ul class="near-list">
			<li><a>Lhasa RailWay Station</a></li>
		</ul>
	</div>
</div>
