<div class="sidebar">
    <h1 class="sidebar-title"><a href="###">About Tibetdiscovery</a></h1>
    <div class="sidebar-pic"><img src="/imagesnew/train-img.jpg" alt="">
    </div>
    <h2>Most Useful Travel Info</h2>
    <ul>
    	<li>Tibet Permits & Visa</li>
    	<li>High Altitude Sickness</li>
    	<li>What to Pack</li>
    	<li>Best Time to Go</li>
    	<li class="more-nav"><a href="#">More</a></li>
    </ul>
    <h2>Tibet Guide-What, Where…</h2>
    <ul>
    	<li>What to See</li>
    	<li>Where to Stay</li>
    	<li>What to Eat</li>
    	<li> Where to Eat</li>
    	<li class="more-nav"><a href="#">More</a></li>
    </ul>
    
</div>
<script>
    //sidebar点击more显示全部二级子导航
    $( '.subnav' ).each(function(){
        $( this ).children( 'li:gt(3)').hide();
    });
    function toggleLi() {
        $( '.subnav' ).each(function(){
            $( this ).children( 'li:gt(3)' ).slideToggle();
        });
    };
</script>
