<div class="sidebar">
	<h1 class="sidebar-title"><a title="Tibet Travel Resources" href="travel-tips/">Tibet Travel Resources</a></h1>
	<div class="sidebar-pic"><img alt="Most Useful Tibet Travel Info and Tips" src="images/sidebar/tibet-travel-resources-tips.jpg">
	</div>
	<div class="sidebar-resource">
		<h2>Most Useful Travel Info</h2>
		<ul class="nav-left">
			<li>
				<a title="Tibet Permits &amp; Visa" href="travel-tips/travel-permits-and-visa/">Tibet Permits &amp; Visa</a>
			</li>
			<li>
				<a title="High Altitude Sickness" href="travel-tips/high-altitude-sickness/">High Altitude Sickness</a>
			</li>
			<li>
				<a title="What to Pack for Tibet Travel" href="travel-tips/what-to-pack/">What to Pack</a>
			</li>
			<li>
				<a title="Best Time to Travel Tibet" href="travel-tips/best-time-to-go/">Best Time to Go</a>
			</li>
			<li>
				<a title="Money &amp; Credit Card in Tibet" href="travel-tips/money-and-credit-card/">Money &amp; Credit Card</a>
			</li>
			<li>
				<a title="Do's&amp;Don'ts for Tibet Travel" href="travel-tips/tibetan-etiquette-and-taboo/">Do's &amp; Don'ts</a>
			</li>
			<li>
				<a title="Useful Numbers &amp; Words for Tibet Travel" href="travel-tips/useful-numbers-and-words/">Useful Number &amp; Words</a>
			</li>
			<li>
				<a title="Tibet Travel FAQs" href="travel-tips/faq/">Tibet Travel FAQs</a>
			</li>
			<li>
				<a title="about Tibet People, Culture, Religion..." href="about-tibet/">About Tibet</a>
			</li>
		</ul>
		<h2>Tibet Guide: What, Where…</h2>
		<ul class="nav-left">
			<li>
				<a title="What to See in Tibet" href="what-to-see/">What to See</a>
			</li>
			<li>
				<a title="Tibet Hotels" href="tibet-hotels/">Where to Stay</a>
			</li>
			<li>
				<a title="What to Eat &amp; Drink in Tibet" href="what-to-eat-and-drink/">What to Eat &amp; Drink</a>
			</li>
			<li>
				<a title="Where to Eat &amp; Drink" href="where-to-stay/">Where to Eat</a>
			</li>
			<li>
				<a title="What to Buy" href="what-to-buy/">What to Buy</a>
			</li>
			<li>
				<a title="Tibet Maps" href="tibet-maps/">Useful Maps</a>
			</li>
		</ul>
		<h2>Get to Tibet &amp; Tibet Road</h2>
		<ul class="nav-left">
			<li>
				<a title="Qinghai Lhasa Railway" href="train-to-tibet/qinghai-tibet-railway/">Train to Tibet</a>
			</li>
			<li>
				<a title="Beijing Lhasa Flight" href="flight-to-lhasa/beijing-lhasa-flight/">Flight to Tibet</a>
			</li>
			<li>
				<a title="Tibet Friendship Highway" href="road-to-tibet/tibet-friendship-highway/">Tibet Friendship Highway</a>
			</li>
			<li>
				<a title="Qinghai-Tibet Highway" href="road-to-tibet/qinghai-tibet-highway/">Qinghai-Tibet Highway</a>
			</li>
			<li>
				<a title="Road Condition in Tibet" href="travel-guide/road-conditions/">Road Condition in Tibet</a>
			</li>
		</ul>
	</div>
</div>