<div class="sidebar">
    <h1 class="sidebar-title"><a href="###">About Tibetdiscovery</a></h1>
    <div class="sidebar-pic"><img src="/imagesnew/train-img.jpg" alt="">
    </div>
    <ul class="nav-left">
        <li>
            <a class="active" href="[~2358~]" id="travle-permit">Travel Permit &amp; Visa</a>
        </li>
        <li>
            <a href="[~323~]" id="what-see">What to See</a>
        </li>
        <li>
            <a href="[~2306~]" id="where-stay">Where to Stay</a>
        </li>
        <li>
            <a href="#" id="">How to Get to Tibet</a>
        </li>
        <ul class="subnav-left subnav">
            <li>
                <a href="#">Train to Tibet</a>
            </li>
            <li>
                <a href="#">Flight to Tibet</a>
            </li>
            <li>
                <a href="#">Road to Tibet</a>
            </li>
        </ul>
        <li>
            <a id="">What to Eat</a>
        </li>
        <ul class="subnav-left subnav">
            <li>
                <a href="#">What to Eat</a>
            </li>
        </ul>
        <li>
            <a href="[~324~]" id="about-say">What to Buy</a>
        </li>
        <li>
            <a href="[~358~]" id="about-book">Useful Tibet Maps</a>
        </li>
        <ul class="subnav-left subnav">
            <li>
                <a href="#">Lhasa Maps</a>
            </li>
            <li>
                <a href="#">Everest Maps</a>
            </li>
        </ul>
        <li>
            <a href="[~357~]" id="about-terms">Useful Travel Tips</a>
        </li>
        <ul class="subnav-left subnav">
            <li>
                <a href="#">Do's and Don'ts</a>
            </li>
            <li>
                <a href="#">Money & Credit Card</a>
            </li>
            <li>
                <a href="#">Useful Numbers & Words</a>
            </li>
        </ul>
        <li>
            <a href="[~328~]" id="travel-faq">Tibet Travel FAQs</a>
        </li>
        <li>
            <a href="[~328~]" id="travel-faq">About Tibet</a>
        </li>
        <ul class="subnav-left subnav">
            <li>
                <a href="#">Why Travel to Tibet</a>
            </li>
            <li>
                <a href="#">Tibet Buddhism</a>
            </li>
            <li>
                <a href="#">How to Prostrate</a>
            </li>
            <li>
                <a href="#">Tibet People</a>
            </li>
            <li>
                <a href="#">Tibet Culture & Art</a>
            </li>
            <li>
                <a href="#">Tibet Festival</a>
            </li>
            <li>
                <a href="#">Tibet Landscape</a>
            </li>
            <li>
                <a href="#">Top 10 Tibet Mysteries</a>
            </li>
        </ul>
        <a href="" onclick="toggleLi();return false" style="display: block ;margin:10px 10px 10px 180px;">more</a>
    </ul>

</div>
<script>
    $()
    //sidebar点击more显示全部二级子导航
    $( '.subnav' ).each(function(){
        $( this ).children( 'li:gt(3)').hide();
    });
    function toggleLi() {
        $( '.subnav' ).each(function(){
            $( this ).children( 'li:gt(3)' ).slideToggle();
        });
    };
</script>
