<div class="sidebar">
    <h1 class="sidebar-title">Train to Tibet</h1>
    <div class="sidebar-pic"><img src="/imagesnew/train-img.jpg">
    </div>
    <ul class="nav-left">
        <li>
            <a href="#" class="staion-list active">Chengdu Lhasa Train</a>
        </li>
        <li>
            <a  class="staion-list">Chongqing Lhasa Train</a>
        </li>
        <li>
            <a class="staion-list">Shanghai Lhasa Train</a>
        </li>
        <li>
            <a class="staion-list">Guangzhou Lhasa Train</a>
        </li>
        <li>
            <a class="staion-list">Lanzhou Lhasa Train</a>
        </li>
        <li>
            <a class="staion-list">Xining Lhasa Train</a>
        </li>
        <li>
            <a class="nohover">Qinghai Tibet Railway</a>
            <ul class="subnav-left">
                <li>
                    <a>Fact&Feature</a>
                </li>
                <li>
                    <a>Scenery-view Platforms</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="nohover" href="#">Guide on Train Travel</a>
            <ul class="subnav-left">
                <li>
                    <a>Train Schedule&Timetable</a>
                </li>
                <li>
                    <a>Tibet Railway Maps</a>
                </li>
                <li>
                    <a>Train tickets booking</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="###">FAQS</a>
            <div>
                <img src="/imagesnew/7things.png">
            </div>
            <ul class="subnav-left have-arrow" >
                <li>
                    <a>Reasons to Go by Train</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
                <li>
                    <a>Necessary Documents</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
                <li>
                    <a>Advanced Ticket Booking</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
                <li>
                    <a>Soft/Hard Sleeping Cars</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
                <li>
                    <a>Dining on Board</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
                <li>
                    <a>High Altitude Sickness</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
                <li>
                    <a>Railway Attractions</a>
                    <div class="poptips">
                        <img id="triangle-left" src="/imagesnew/triangle-left.png">
                        <img src="/imagesnew/poptip-img.jpg"/>
                        <h2>Reasons to Go by Train</h2>
                        <p>
                            Taking a train to Tibet provides you the best chance to witness and enjoy the changes from the wide plains to the snow-capped mountains on the world highest Tibetan Plateau. It is also better for you to get used to the high altitude gradually during the train journey. It is absolutely a great experience to take the world's highest railway.
                        </p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>