<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>accesss to tibet bty</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/assets/styles/global-published.css" type="text/css" rel="stylesheet" />
		<link href="/assets/styles/themetour.css" type="text/css" rel="stylesheet" />
		<script src="/assets/scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="/assets/scripts/global.js" type="text/javascript"></script>
	</head>
	<body>
		<ul>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Private Tibet Tour</a>
			</li>
			<li>
				<a href="#">Join-in Tibet Tour</a>
			</li>
			<li>
				<a href="#">China &amp;Tibet Tour</a>
			</li>
			<li>
				<a href="#">Nepal &amp;Tibet Tour</a>
			</li>
			<li>
				<a href="#">Tibet Guide</a>
			</li>
			<li>
				<a href="#">Travel Resources</a>
			</li>
			<li>
				<a href="#">About Us</a>
			</li>
		</ul>
		<img src="/imagesnew/themetour/train-tour.jpg" >
		<div class="section">
			<h2>Qinghai Tibet Railway(Xing-Lhasa)</h2>
			<div class="sec-img">
				<img src="" >
			</div>
			<div class="sec-con">
				<p>
					fdfdfdf
				</p>
				<p>
					fdfjdsfjk
				</p>
				<h3>Train Tours From Xining To Tibet</h3>
				<dl>
					<dt><img src="">
					</dt>
					<dd>
						<p>
							fjdksfj;djf;dgjd;gjf;lgjf
						</p>
						<span class="btn">Check Details</span>
					</dd>
				</dl>
			</div>
		</div>
	</body>
</html>