<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>accesss to tibet bty</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/assets/styles/global-published.css" type="text/css" rel="stylesheet" />
		<link href="/assets/styles/themetour.css" type="text/css" rel="stylesheet" />
		<script src="/assets/scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="/assets/scripts/global.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="headnav">
			<ul class="topnav clearfix">
				<li>
					<a href="#">About Us </a>
				</li>
				<li>
					<a href="#">Nepal &amp;Tibet Tour</a>
				</li>
				<li>
					<a href="#">China &amp;Tibet Tour</a>
				</li>
				<li>
					<a href="#">Join-in Tibet Tour</a>
				</li>
				<li>
					<a href="#">Private Tibet Tour</a>
				</li>
				<li>
					<a href="#">Home</a>
				</li>
			</ul>
		</div>
		<div class="themetour-wrap clearfix">
			<div class="head-banner">
				<div class="head-logo">
					<a href="###"><img src="/imagesnew/themetour/logo.png"></a>
					<p>
						The Best Way to Access to Tibet is by the Trian
					</p>
				</div>
			</div>
			<div class="head-con">
				<h1>Take the train to Tibet on the Qinghai Tibet Railway!</h1>
				<p>
					This is BIG: It is now possible to go to Tibet by train via the
					Qinghai-Tibet railway, the world's highest altitude railway. While
					traveling to Tibet by train takes much longer than by plane, you
					will be witness to thousands of miles of the most stunning
					landscapes in the world rolling by outside your window.
				</p>
			</div>
			<div class="section clearfix">
				<h2>Qinghai Tibet Railway(Xining-Lhasa)</h2>
				<div class="sec-img">
					<a href="#"><img src="/imagesnew/themetour/map01.jpg" alt="" ></a>
					<p>
						<a href="###">Qinghai Tibet Railway(Xing-Lhasa)</a>
					</p>
				</div>
				<div class="sec-con">
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
					<h3>Train Tours From Xining To Tibet</h3>
					<ul class="sec-tours">
						<li>
							<span class="tour-rank">Tour A</span>
							<a href="###">3 days in Beijing, 2 days on train & 4 days in Lhasa</a>
							<span class="price">from $1013</span>
							<br>
							<span class="destination">Tour Beijing, Xian &amp; Shanghai</span>
						</li>
						<li>
							<span class="tour-rank">Tour B</span>
							<a href="###">8 Days China Impressions Tour</a>
							<span class="price">from $1013</span>
							<br>
							<span class="destination">3 days in Beijing, 2 days on train & 4 days in Lhasa </span>
						</li>
					</ul>
				</div>
			</div>
			<div class="section clearfix">
				<h2>Qinghai Tibet Railway(Xining-Lhasa)</h2>
				<div class="sec-img">
					<a href="#"><img src="/imagesnew/themetour/map02.jpg" alt="" ></a>
					<p>
						<a href="###">Tibet Railway(Xing-Lhasa)</a>
					</p>
				</div>
				<div class="sec-con">
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
					<h3>Train Tours From Xining To Tibet</h3>
					<ul class="sec-tours">
						<li>
							<span class="tour-rank">Tour A</span>
							<a href="###">3 days in Beijing, 2 days on train & 4 days in Lhasa</a>
							<span class="price">from $1013</span>
							<br>
							<span class="destination">Tour Beijing, Xian &amp; Shanghai</span>
						</li>
						<li>
							<span class="tour-rank">Tour B</span>
							<a href="###">8 Days China Impressions Tour</a>
							<span class="price">from $1013</span>
							<br>
							<span class="destination">3 days in Beijing, 2 days on train & 4 days in Lhasa </span>
						</li>
					</ul>
				</div>
			</div>
			<div class="sec-fact section sec-fact clearfix">
				<h2>Tibet Train Facts &amp; FAQs</h2>
				<ul class="facts">
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
					<li>
						<a href="###"><img src="/imagesnew/themetour/img01.png"></a>
						<a href="###">Oxygen Supply on the Train</a>
					</li>
				</ul>
			</div>
			<div class="FAQ-footer foots clearfix">
				<div class="FAQ-help clearfix">
					<p class="faq-intro">
						<strong>Are you planning a trip to Tibet?</strong>
						<br>
						Start to customize your lifetime tour experience with the help of one of our friendly travel experts!
					</p>
					<div class="btn-enquiry">
						<a href="tailor-made-tours/">Make an Enquiry</a><!--<a href="tailor-made-tours/">Customize your trip</a>-->
					</div>
				</div>
				<div class="author-list clearfix">
					<ul>
						<li>
							<a href="our-team/bruce/"><img src="/images/travel-consultant/bruce93.jpg" class="img-icon"> Bruce</a>
						</li>
						<li>
							<a href="our-team/elena/"><img src="/images/travel-consultant/elena93.jpg" class="img-icon"> Elena</a>
						</li>
						<li>
							<a href="our-team/laura/"><img src="/images/travel-consultant/laura93.jpg" class="img-icon"> Laura</a>
						</li>
						<li>
							<a href="our-team/karen/"><img src="/images/travel-consultant/karen93.jpg" class="img-icon"> Karen</a>
						</li>
					</ul>
				</div>
				<h4>Our specialists are always ready to help!</h4>
			</div>
		</div><!--end of themetour wrap div-->
		<div class="footer">
			<div class="newsletter">
				<div class="newsletter-container">
					<div class="wrap clearfix">
						<div class="newsletter-title">
							<h4>Sign up for our free newsletter</h4>
							<p>
								Receive news and offers from us.
							</p>
						</div>
						<script type="text/javascript" src="http://www.tibetdiscovery.com/forms/js/newsletter.js"></script>
						<form method="post" action="#" id="newsletter-form">
							<label for="nname">Name</label>
							<input type="text" class="required" id="name" name="FullName">
							<label for="nemail">Email</label>
							<input type="text" class="required" id="newsletter" name="newsletter">
							<input type="submit" name="submit" id="submit" value="Submit">
						</form>
					</div>
				</div>
			</div>
			<div class="wrap clearfix">
				<div class="nav">
					<h4>About Us</h4>
					<ul>
						<li>
							<a href="about-us/">About TibetDiscovery</a>
						</li>
						<li>
							<a href="why-choose-us/">Why Choose Us</a>
						</li>
						<li>
							<a href="testimonials/">Testimonials</a>
						</li>
						<li>
							<a href="contact-us/">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="nav">
					<h4>Tibet Tours</h4>
					<ul>
						<li>
							<a href="classic-tibet-tour/">Classic Tours</a>
						</li>
						<li>
							<a href="tibet-adventure-tours/">Adventure Tours</a>
						</li>
						<li>
							<a href="tibet-overland-tours/">Overland Tours</a>
						</li>
						<li>
							<a href="tibet-train-tour/">Train Tours</a>
						</li>
						<li>
							<a href="china-and-tibet-tour/">Tibet+China Tours</a>
						</li>
						<li>
							<a href="tibet-festival-tours/">Featured Tours 2011</a>
						</li>
						<li>
							<a href="join-in-tours/">Join-in Tours</a>
						</li>
					</ul>
				</div>
				<div class="nav">
					<h4>Explore Tibet</h4>
					<ul>
						<li>
							<a href="travel-guide/">Tibet Guide</a>
						</li>
						<li>
							<a href="what-to-see/">What to See</a>
						</li>
						<li>
							<a href="what-to-buy/">What to Buy</a>
						</li>
						<li>
							<a href="what-to-eat-and-drink/">What to Eat &amp; Drink</a>
						</li>
					</ul>
				</div>
				<div class="nav">
					<h4>Travel Essentials</h4>
					<ul>
						<li>
							<a href="travel-tips/travel-permits-and-visa/">Travel Permits</a>
						</li>
						<li>
							<a href="travel-tips/high-altitude-sickness/">High Altitude Sickness</a>
						</li>
						<li>
							<a href="travel-tips/what-to-pack/">What to Pack</a>
						</li>
						<li>
							<a href="travel-tips/best-time-to-go/">When to Go</a>
						</li>
					</ul>
				</div>
				<div class="nav">
					<h4>Help</h4>
					<ul>
						<li>
							<a href="how-to-book/">How to Book</a>
						</li>
						<li>
							<a href="payment-guide/">Payment Guide</a>
						</li>
						<li>
							<a href="travel-tips/faq/">FAQs</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-wrapper">
				<div class="info">
					<a href="/">Home</a> | <a href="privacy-policy/">Privacy Policy</a> | <a href="terms-and-conditions/">Terms &amp; Conditions</a> | <a href="travel-links/">Travel Links</a>
					<br>
					Copyright &copy; 2000 - 2011. All Rights Reserved to TibetDiscovery.com.
					<br>
					Any questions, please contact us at Info<img align="absbottom" alt="@" src="img/mailat_670e14.gif">TibetDiscovery.com. TEL: 86-0891-6809260
					<br>
					Office Address: Tibet Discovery Tour, Tibet Niwei International Travel Service No. 2, North Lingkuo Road Lhasa, Tibet, P.R. China
				</div>
				<div class="ta-link">
					<img src="http://www.tripadvisor.com/img/cdsi/img2/badges/recommended_en-11424-2.gif">
					<a target="_blank" href="http://www.tripadvisor.com/ShowUserReviews-g294223-d2453731-r125666779-Tibet_Discovery_Tours-Lhasa_Tibet.html"><strong>Tibet Discovery Tours</strong></a>
				</div>
			</div>
		</div>
	</body>
</html>