{% extends 'base.html' %}

{% block title %}Travel-resource{% endblock %}

{% block style %}
<link href="/assets/styles/travel-resource.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block script %}
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="bread"></div>
<div class="wrapper clearfix">
    {% include 'sidebar-travel-resource.html' %} 
    <div class="content">
        <h1>Tibet Travel Tips</h1>
        <p>
            Traveling to Tibet is even easier now, as
            <strong>we have done all the work for you</strong>
            . Here you will find everything you could possibly want to know about what to do to prepare for getting to Tibet, including Tibet permits and VISA, Tibet altitude sickness, Tibet backpacking list, Tibet weather and best time to go, how to get to Tibet, Tibet taboos, Tibet currency exchange, etc.
        </p>
        
        <h2 class="travel-res-title title-fir">
            Most Practical Travel Info
        </h2>
        <div class="travel-res-wrap clearfix">
            <div class="res-1">
                <a href="[~37~]"title="Tibet Permits & Visa">Tibet Permits & Visa</a>
            </div>
            <div class="res-2">
                <a href="[~49~]"title="High Altitude Sickness">High Altitude Sickness</a>
            </div>
            <div class="res-3">
                <a href="[~46~]"title="What to Pack for Tibet Travel">What to Pack</a>
            </div>
            <div class="res-4">
                <a href="[~47~]"title="Best Time to Travel Tibet">Best Time to Go</a>
            </div>
            <div class="res-5">
                <a href="[~51~]"title="Money & Credit Card in Tibet">Money & Credit Car</a>
            </div>
            <div class="res-6">
                <a href="[~50~]"title="Do's&Don'ts for Tibet Travel">Do's & Don'ts</a>
            </div>
            <div class="res-7">
                <a href="[~52~]"title="Useful Numbers & Words for Tibet Travel">Useful Number & Words</a>
            </div>
            <div class="res-8">
                <a href="[~53~]"title="Tibet Travel FAQs">Tibet Travel FAQs</a>
            </div>
            <div class="res-9">
                <a href="[~2~]"title="about Tibet People, Culture, Religion...">About Tibet</a>
            </div>
        </div>
        
        <h2 class="travel-res-title title-sec">Tibet Travel Guide - What,Where,How...</h2>
        <div class="travel-res-wrap clearfix">
             <div class="res-10">
                <a href="[~55~]"title="What to See in Tibet">What to See</a>
             </div>
             <div class="res-11">
                <a href="[~516~]"title="Tibet Hotels">Where to Stay</a>
             </div>
             <div class="res-12">
                <a href="[~57~]"title="What to Eat & Drink in Tibet">What to Eat & Drink</a>
             </div>
             <div class="res-13">
                <a href="[~56~]"title="What to Buy">What to Buy</a>
             </div>
             <div class="res-14">
                <a href="[~254~]"title="Tibet Maps">Useful Maps</a>
             </div>
        </div>
        
        <h2 class="travel-res-title title-thi">How to Get to Tibet & Tibet Transportation</h2>
        <div class="travel-res-wrap clearfix">
            <div class="res-15">
                <a href="[~2127~]"title="Qinghai Lhasa Railway">Train to Tibet</a>
            </div>
            <div class="res-16">
                <a href="[~2304~]"title="Beijing Lhasa Flight">Flight to Tibet</a>
            </div>
            <div class="res-17">
                <a href="[~192~]"title="Qinghai-Tibet Highway">Qinghai-Tibet Highway</a>
            </div>
            <div class="res-18">
                <a href="[~194~]"title="Tibet Friendship Highway">Tibet Friendship Highway</a>
            </div>
            <div class="res-19">
                <a href="[~119~]"title="Road Condition in Tibet">Road Condition in Tibet</a>
            </div>
        </div>
        
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}