{% extends 'base.html' %}

{% block title %}Travel-resource{% endblock %}

{% block style %}
<link href="/assets/styles/travel-resource.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block script %}
{% endblock %}

{% block body%}
{% include 'header.html' %}
<div class="bread"></div>
<div class="wrapper clearfix">
    {% include 'sidebar-travel-resource.html' %} 
    <div class="content">
        <h1>Tibet Travel Tips</h1>
        <p>
            Traveling to Tibet is even easier now, as
            <strong>we have done all the work for you</strong>
            . Here you will find everything you could possibly want to know about what to do to prepare for getting to Tibet, including Tibet permits and VISA, Tibet altitude sickness, Tibet backpacking list, Tibet weather and best time to go, how to get to Tibet, Tibet taboos, Tibet currency exchange, etc.
        </p>
        
        <h2 class="travel-res-title title-fir">
            Most Pratical Travel Info
        </h2>
        <div class="travel-res-wrap clearfix">
            <div class="res-1">
                <a href="#">Tibet Permits & Visa</a>
            </div>
            <div class="res-2">
                <a href="#">High Altitude Sickness</a>
            </div>
            <div class="res-3">
                <a href="#">What to Pack</a>
            </div>
        </div>
        
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}