{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<h1>Tour Services of Tibetdiscovery.com </h1>
		<p>
			<span>We'll show you the heart &amp; soul.</span>
			Like you, all of us at Tibetdiscovery.com are travelers. We live and breathe Tibet, China and Nepal, so we have tons of tips to share for amazing local experiences.
		</p>
		<ul class="wedo-nav clearfix">
			<li class="active">
				Tibet Tours
			</li>
			<li>
				China&amp;Tibet Tours
			</li>
			<li>
				Nepal&amp;Tibet Tours
			</li>
		</ul>
		<!--第一块开始Tibet Tours
		------------------------------------------------------------------------------------------->
		<div class="wrap-js clearfix">
			<div class="wedo-unit clearfix">
				<div class="wedo-left">
					<h2 class="wedo-title">1Why Tibet Tour</h2>
					<p>
						"Tibet challenges and inspires me: it can be frustrating, rewarding, stunningly beautiful, harsh, intriguing, powerful and full of surprises...........“
					</p>
					<p>
						”Tibet never fails to tantalize all my senses. From the sights and smells of the crazy markets in Lhasa, to the sound of a lonely Yak huffing on the plateau and the feel of the thin air atop the passes, Tibet holds endless fascination for me. “
					</p>
					<p>
						”I am spellbound by this ancient culture and its traditions; a months’ journey has turned into a lifetime of exploration". - Sharyn
					</p>
				</div>
				<div class="wedo-right">
					<div class="wedo-bg">
						<h3>Find Your Tibet Tour </h3>
						<strong>Affordable Private Tibet Tours</strong>
						<p>
							A private Tibet tour means that the tour you take is exclusive to you and whomever you would like to travel to Tibet with. In this way, not only the tour itinerary is specifically customized for you, but also the whole tour arrangement will be organized according to your needs.
						</p>
					</div>
					<div class="wedo-bg2">
						<strong>Budget Join-in Small Group Tour</strong>
						<p>
							During our small group tours, you will travel by one of our clean, safe and comfortable buses in the company of other tourists. Not only a means to save money, a small group tour gives you the opportunity to make new friends from all over the world. Those traveling alone may particularly appreciate the opportunity to share their experience with new-found friends.
						</p>
					</div>
				</div>
			</div>
			<div class="wedo-left2">
				<h3>Why Tibet with Us </h3>
				<strong>It's more than just a trip.</strong>
				<p>
					Traveling with us isn't about ticking the boxes. We live in Tibet and can get you off the tourist trails and into the heart of the places we visit. Eat where the Tibetan locals eat, and get close to the people and places that make Tibet come alive.

					We'll do all the legwork for you so there's more time to explore. And we'll be right there with you to help you create your lifetime Tibet adventure.
				</p>
				<strong>Take Advantage of our First-Hand Knowledge</strong>
				<p>
					Each year we migrate to Tibet as the nomads migrate to the higher summer pastures. I guess we are now nomads too. So we should know the Holy Land better than any other tour operators.

					We can offer invaluable advice and suggestions for things to see and do while you are there and you can be confident that your unique itinerary has been created by us who have extensive first-hand knowledge of the places and accommodation it contains.
				</p>
				<strong>Reassurance while you are away</strong>
				<p>
					While you're away, you'll be in the capable hands of Tibetan specialists. You'll be able to contact and visit our office 24 hours a day, 7 days a week.
				</p>
			</div>
			<div class="wedo-reco">
				<h3>Travelers' Favorite Tibet Tours </h3>
				<div class="side-reco">
					<a href="beijing-lhasa-tour/beijing-lhasa-train-tour/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="beijing-lhasa-tour/beijing-lhasa-train-tour/ ">Beijing Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">8 Days</span> from <span class="price">$1,168pp</span>
						</p>
						<a class="reco-click" href="beijing-lhasa-tour/beijing-lhasa-train-tour/">Check details</a>
					</div>
				</div>
				<div class="side-reco">
					<a href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/ ">Shanghai Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">8 Days</span> from <span class="price">$1,038pp</span>
						</p>
						<a class="reco-click" href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/">Check details</a>
					</div>
				</div>
				<div class="side-reco">
					<a href="private-tours/qinghai-tibet-train-tour/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="private-tours/qinghai-tibet-train-tour/ ">Xining Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">6 Days</span> from <span class="price">$959pp</span>
						</p>
						<a class="reco-click" href="private-tours/qinghai-tibet-train-tour/">Check details</a>
					</div>
				</div>
			</div>
			</div>
		<!--第一块结束
		------------------------------------------------------------------------------------------->
		<!--第二块开始China&Tibet Tours
		------------------------------------------------------------------------------------------->
		<div class="wrap-js clearfix">
			<div class="wedo-unit clearfix">
				<div class="wedo-left">
					<h2 class="wedo-title">2Why Tibet Tour</h2>
					<p>
						"Tibet challenges and inspires me: it can be frustrating, rewarding, stunningly beautiful, harsh, intriguing, powerful and full of surprises...........“
					</p>
					<p>
						”Tibet never fails to tantalize all my senses. From the sights and smells of the crazy markets in Lhasa, to the sound of a lonely Yak huffing on the plateau and the feel of the thin air atop the passes, Tibet holds endless fascination for me. “
					</p>
					<p>
						”I am spellbound by this ancient culture and its traditions; a months’ journey has turned into a lifetime of exploration". - Sharyn
					</p>
				</div>
				<div class="wedo-right">
					<div class="wedo-bg">
						<h3>Find Your Tibet Tour </h3>
						<strong>Affordable Private Tibet Tours</strong>
						<p>
							A private Tibet tour means that the tour you take is exclusive to you and whomever you would like to travel to Tibet with. In this way, not only the tour itinerary is specifically customized for you, but also the whole tour arrangement will be organized according to your needs.
						</p>
					</div>
					<div class="wedo-bg2">
						<strong>Budget Join-in Small Group Tour</strong>
						<p>
							During our small group tours, you will travel by one of our clean, safe and comfortable buses in the company of other tourists. Not only a means to save money, a small group tour gives you the opportunity to make new friends from all over the world. Those traveling alone may particularly appreciate the opportunity to share their experience with new-found friends.
						</p>
					</div>
				</div>
			</div>
			<div class="wedo-left2">
				<h3>Why Tibet with Us </h3>
				<strong>It's more than just a trip.</strong>
				<p>
					Traveling with us isn't about ticking the boxes. We live in Tibet and can get you off the tourist trails and into the heart of the places we visit. Eat where the Tibetan locals eat, and get close to the people and places that make Tibet come alive.

					We'll do all the legwork for you so there's more time to explore. And we'll be right there with you to help you create your lifetime Tibet adventure.
				</p>
				<strong>Take Advantage of our First-Hand Knowledge</strong>
				<p>
					Each year we migrate to Tibet as the nomads migrate to the higher summer pastures. I guess we are now nomads too. So we should know the Holy Land better than any other tour operators.

					We can offer invaluable advice and suggestions for things to see and do while you are there and you can be confident that your unique itinerary has been created by us who have extensive first-hand knowledge of the places and accommodation it contains.
				</p>
				<strong>Reassurance while you are away</strong>
				<p>
					While you're away, you'll be in the capable hands of Tibetan specialists. You'll be able to contact and visit our office 24 hours a day, 7 days a week.
				</p>
			</div>
			<div class="wedo-reco">
				<h3>Travelers' Favorite Tibet Tours </h3>
				<div class="side-reco">
					<a href="beijing-lhasa-tour/beijing-lhasa-train-tour/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="beijing-lhasa-tour/beijing-lhasa-train-tour/ ">Beijing Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">8 Days</span> from <span class="price">$1,168pp</span>
						</p>
						<a class="reco-click" href="beijing-lhasa-tour/beijing-lhasa-train-tour/">Check details</a>
					</div>
				</div>
				<div class="side-reco">
					<a href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/ ">Shanghai Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">8 Days</span> from <span class="price">$1,038pp</span>
						</p>
						<a class="reco-click" href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/">Check details</a>
					</div>
				</div>
				<div class="side-reco">
					<a href="private-tours/qinghai-tibet-train-tour/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="private-tours/qinghai-tibet-train-tour/ ">Xining Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">6 Days</span> from <span class="price">$959pp</span>
						</p>
						<a class="reco-click" href="private-tours/qinghai-tibet-train-tour/">Check details</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--第二块结束
		------------------------------------------------------------------------------------------->
		<!--第三块开始Nepal&Tibet Tours
		------------------------------------------------------------------------------------------->
		<div class="wrap-js clearfix">
			<div class="wedo-unit clearfix">
				<div class="wedo-left">
					<h2 class="wedo-title">3Why Tibet Tour</h2>
					<p>
						"Tibet challenges and inspires me: it can be frustrating, rewarding, stunningly beautiful, harsh, intriguing, powerful and full of surprises...........“
					</p>
					<p>
						”Tibet never fails to tantalize all my senses. From the sights and smells of the crazy markets in Lhasa, to the sound of a lonely Yak huffing on the plateau and the feel of the thin air atop the passes, Tibet holds endless fascination for me. “
					</p>
					<p>
						”I am spellbound by this ancient culture and its traditions; a months’ journey has turned into a lifetime of exploration". - Sharyn
					</p>
				</div>
				<div class="wedo-right">
					<div class="wedo-bg">
						<h3>Find Your Tibet Tour </h3>
						<strong>Affordable Private Tibet Tours</strong>
						<p>
							A private Tibet tour means that the tour you take is exclusive to you and whomever you would like to travel to Tibet with. In this way, not only the tour itinerary is specifically customized for you, but also the whole tour arrangement will be organized according to your needs.
						</p>
					</div>
					<div class="wedo-bg2">
						<strong>Budget Join-in Small Group Tour</strong>
						<p>
							During our small group tours, you will travel by one of our clean, safe and comfortable buses in the company of other tourists. Not only a means to save money, a small group tour gives you the opportunity to make new friends from all over the world. Those traveling alone may particularly appreciate the opportunity to share their experience with new-found friends.
						</p>
					</div>
				</div>
			</div>
			<div class="wedo-left2">
				<h3>Why Tibet with Us </h3>
				<strong>It's more than just a trip.</strong>
				<p>
					Traveling with us isn't about ticking the boxes. We live in Tibet and can get you off the tourist trails and into the heart of the places we visit. Eat where the Tibetan locals eat, and get close to the people and places that make Tibet come alive.

					We'll do all the legwork for you so there's more time to explore. And we'll be right there with you to help you create your lifetime Tibet adventure.
				</p>
				<strong>Take Advantage of our First-Hand Knowledge</strong>
				<p>
					Each year we migrate to Tibet as the nomads migrate to the higher summer pastures. I guess we are now nomads too. So we should know the Holy Land better than any other tour operators.

					We can offer invaluable advice and suggestions for things to see and do while you are there and you can be confident that your unique itinerary has been created by us who have extensive first-hand knowledge of the places and accommodation it contains.
				</p>
				<strong>Reassurance while you are away</strong>
				<p>
					While you're away, you'll be in the capable hands of Tibetan specialists. You'll be able to contact and visit our office 24 hours a day, 7 days a week.
				</p>
			</div>
			<div class="wedo-reco">
				<h3>Travelers' Favorite Tibet Tours </h3>
				<div class="side-reco">
					<a href="beijing-lhasa-tour/beijing-lhasa-train-tour/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="beijing-lhasa-tour/beijing-lhasa-train-tour/ ">Beijing Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">8 Days</span> from <span class="price">$1,168pp</span>
						</p>
						<a class="reco-click" href="beijing-lhasa-tour/beijing-lhasa-train-tour/">Check details</a>
					</div>
				</div>
				<div class="side-reco">
					<a href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/ ">Shanghai Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">8 Days</span> from <span class="price">$1,038pp</span>
						</p>
						<a class="reco-click" href="shanghai-tibet-tour/tibet-train-tour-from-shanghai-8days/">Check details</a>
					</div>
				</div>
				<div class="side-reco">
					<a href="private-tours/qinghai-tibet-train-tour/"><img class="reco-img" src="/imagesnew/train-img.jpg"></a>
					<div class="reco-details">
						<a class="reco-title" href="private-tours/qinghai-tibet-train-tour/ ">Xining Lhasa Train Tour</a>
						<p class="reco-con">
							<span class="days">6 Days</span> from <span class="price">$959pp</span>
						</p>
						<a class="reco-click" href="private-tours/qinghai-tibet-train-tour/">Check details</a>
					</div>
				</div>
			</div>
		</div>
		<!--第三块结束
		------------------------------------------------------------------------------------------->
	</div>
</div>
{% include 'footer.html' %}
{% endblock %} 