{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/whattosee.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %} <script src="/assets/scripts/whattosee.js" type="text/javascript"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-whattosee.html' %}
	<div class="content" name="">
		<h1>What to See in Tibet; Tibet Attractions: Potala Palace, Everest, Jokhang Temple..</h1>
		<div class="see-top">
			<div class="see-map">
				<img src="/imagesnew/tibet-maps.jpg">				
			</div>
			<ul class="attr-list">
				<li>
					<h4><a href="###">Lhasa</a></h4>
					<a href="###">Potala Palace</a>
					<a href="###">Jokhang Temple</a>
					<a href="###">Barkhor Street</a>
					<a href="###">Norbulingka Park</a>
				</li>
				<li>
					<h4><a href="###">Lhasa</a></h4>
					<a href="###">Potala Palace</a>
					<a href="###">Jokhang Temple</a>
					<a href="###">Barkhor Street</a>
					<a href="###">Norbulingka Park</a>
				</li>
				<li>
					<h4><a href="###">Lhasa</a></h4>
					<a href="###">Potala Palace</a>
					<a href="###">Jokhang Temple</a>
					<a href="###">Barkhor Street</a>
					<a href="###">Norbulingka Park</a>
				</li>
				<li>
					<h4><a href="###">Lhasa</a></h4>
					<a href="###">Potala Palace</a>
					<a href="###">Jokhang Temple</a>
					<a href="###">Barkhor Street</a>
					<a href="###">Norbulingka Park</a>
				</li>
				<li>
					<h4><a href="###">Lhasa</a></h4>
					<a href="###">Potala Palace</a>
					<a href="###">Jokhang Temple</a>
					<a href="###">Barkhor Street</a>
					<a href="###">Norbulingka Park</a>
				</li>
			</ul>
			<h5> Other Attractions you may be interested in: </h5>
			<div class="other-attr">
				<a href="###">Changtang Grassland</a>| <a href="###">Changtang Grassland</a>| <a href="###">Changtang Grassland</a>| <a href="###">Changtang Grassland</a>
				<a href="###">Changtang Grassland</a>| <a href="###">Changtang Grassland</a>| <a href="###">Changtang Grassland</a>| <a href="###">Changtang Grassland</a>
			</div>
		</div>
		<div class="attr-con">
			<h2>How to better Plan your Tibet Trip including these attractions?</h2>
			<h3>Tour Lhasa in 4 Days</h3>
			<p>
				<strong>Four days in Lhasa</strong> will be plenty to see things slowly and adjust to the high altitude. Lhasa sits at nearly 12,000 feet or 4,000 meters. Note, altitude sickness
				can strike without prejudice - 22-year-old marathoners and 50-year-old couch potatoes have equal chances of getting it. Check our sample 4 days Lhasa Tour
				with our travel service.
			</p>
			<dl>
				<dt>
					<span>Day 1</span> - Arrival in Lhasa
				</dt>
				<dd>
					Welcome to Tibet. You'd better avoid strenous activity for the first day, and it is advisable that you not take showers. Drink more water, have fresh fruit and
					plenty of rest will help to prevent the sickness.
				</dd>
			</dl>
			<dl>
				<dt>
					<span>Day 2 </span> - A Slow Day in Lhasa
				</dt>
				<dd>
					In the morning, visit the <a href="###">Potala Palace</a>, the imposing citadel where, historically, the Dalai Lama sat. In the afternoon, go to the Jokhang Temple, Tibet's holiest
					temple which contains a jeweled image of the Buddha. After, experience the Barkhor, an old market square where you'll see wily Chinese and ancient Tibetans
					bargaining for goods.
				</dd>
			</dl>
			<h4>2 More days to Explore Gyantse & Shigatse</h4>
			<p>
				<strong>Gyantse and Shigatse</strong> are the two most attractive tourist destinations if you go to see the Mount Everest.
			</p>
			<dl>
				<dt>
					<span>Day 5 </span> - A Slow Day in Lhasa
				</dt>
				<dd>
					In the morning, visit the <a href="###">Potala Palace</a>, the imposing citadel where, historically, the Dalai Lama sat. In the afternoon, go to the Jokhang Temple, Tibet's holiest
					temple which contains a jeweled image of the Buddha. After, experience the Barkhor, an old market square where you'll see wily Chinese and ancient Tibetans
					bargaining for goods.
				</dd>
			</dl>
		</div>
	</div><!--end of div.content-->
</div><!--end of div.wrapper-->
{% include 'footer.html' %}
{% endblock %}