{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
<link href="/assets/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block script %} <script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.easing-1.3.pack.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<h1>Why Tour Tibet with us?</h1>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<p>
					For many experienced travellers, Tibet is the ultimate destination -
					an exotic land on the roof
					of the world - for us it is our home. Each year we migrate to Tibet as the
					nomads migrate to the higher summer pastures.
					I guess we are now nomads too. We know and
					understand Tibet better than any other travel company.
					</br></br>
					Tibet is the trip of a lifetime. We believe that your trip
					should be truly unforgettable, so
					we never take any chances. Take the hassle out
					of planning your next Tibet trip, and leave it
					to Tibetdiscovery. We've spent 20 years
					discovering the every corner
					of Tibet for the best things to see and do in the Holy Land,
					and we can't wait to share it all with you.
				</p>
			</div>
			<div class="long-pannel">
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose09.jpg" width="300" height="200" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose17.jpg"  width="100" height="200" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose02.jpg" width="200" height="100"> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose16.jpg" width="200" height="100" /> </a>
			</div>
		</div>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose03.jpg" width="125" height="100"/> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose01.jpg" width="125" height="100" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose15.jpg" width="260" height="200" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose06.jpg" width="125" height="100" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose05.jpg" width="125" height="100" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose15.jpg" width="260" height="200" /> </a>
			</div>
			<div class="long-pannel">
				<p>
					<strong>We are living here in Tibet with over 20 years</strong>
					We are Tibetan specialists. We live here, explore every corner of Tibet and know this land better than any other tour operator, so we know how to design the best Tibet trips to get under its skin.
					</br></br>
					For the past 20 years, we have had a long-established relationship with the hotels, restaurants, and transportation companies of Tibet, and can provide guaranteed service at a lower price.
					</br></br>
					Note: As a local tour operator, the prices of our Tibet tours are regularly 10%-20% lower than our competitors from Chinese cities like Chengdu, Shanghai, Guilin, Beijing, etc., and 15%-25% lower than overseas travel agents or wholesalers.
				</p>
				<p>
					<strong>100% Tailor-made Trips</strong>
					With Tibetdiscovery, you truly get the most for your money: from the big drawcards to authentic Tibet local experiences, our itineraries cover a lot.
					</br></br>
					Our tours are tailored to your needs. Just choose the dates, the itinerary, your companions and your interests, and we can help make your dream trip a reality.
					</br></br>
					Whatever you want from your trip we can use our detailed knowledge to plan your ideal itinerary. The great thing about tailor-made travel is that your complete trip is designed around your interests and budget, so you can explore at your own pace and select accommodation that suits you,
				</p>
			</div>
		</div>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<p>
					<strong>Our Devoted Team</strong>
					1-on-1 tour consulting and planning to make sure you really get what you want according to your preferences and budgets. Absolutely no push selling;
					</br></br>
					A personal travel consultant to back you up through your whole journey in China, who will make sure all details are taken care of;
					</br></br>
					Private tour guide and transportation are scheduled at all destinations regardless of your group size. Our tour guides are professional and our tour vehicles are comfortable and manned with experienced safe drivers;
					</br></br>
					Prompt and proper handling of emergencies and complaints, with quality management system certified by the lastest ISO9001: 2008 international standard.
				</p>
			</div>
			<div class="long-pannel">
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose12.jpg" width="300" height="200"/> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose04.jpg" width="100" height="200" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose10.jpg" width="410" height="200" /> </a>
			</div>
		</div>
		<div class="block-container clearfix">
			<div class="short-pannel">
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose13.jpg" width="262" height="200"/> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose08.jpg" width="125" height="100" /> </a>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose14.jpg" width="125" height="100" /> </a>
			</div>
			<div class="long-pannel">
				<p>
					<strong>Commited to the Substainable Tourism </strong>
					Tibet is the destination that needs your help.
					</br></br>
					Travelling with Tibetdiscovery means looking after
					the Holy Land, and empowering local communities in Tibet.
					</br></br>
					Every place around Tibet is special - and we want our hometown
					stay that way. Our Responsible Travel ethos is at the heart of everything we do, from respecting
					Tibetan cultures and the environment, to initiating projects that make positive contributions to local communities.
				</p>
				<a href="" rel="images-gallery"> <img src="/imagesnew/aboutus/photos/whychoose11.jpg" width="410" height="100" /> </a>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}