{% extends 'base.html' %}

{% block title %}hotel-index{% endblock %}

{% block style %}
<link href="/assets/styles/aboutus.css" type="text/css" rel="stylesheet"/>
<link href="/assets/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/scripts/aboutus.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.easing-1.3.pack.js"></script>
{% endblock %}
{% block body%}
{% include 'header.html' %} <div class="bread"></div>
<div class="wrapper clearfix">
	{% include 'sidebar-aboutus.html' %}
	<div class="content">
		<h1>Why Tour Tibet with us?</h1>
		
		<div class="block-container clearfix">
			<div class="short-pannel">
				For many experienced travellers, Tibet is the ultimate destination - 
				an exotic land on the roof 
				of the world - for us it is our home. Each year we migrate to Tibet as the 
				nomads migrate to the higher summer pastures.
				 I guess we are now nomads too. We know and 
				 understand Tibet better than any other travel company. 
				</br>
				Tibet is the trip of a lifetime. We believe that your trip 
				should be truly unforgettable, so 
				we never take any chances. Take the hassle out 
				of planning your next Tibet trip, and leave it
				 to Tibetdiscovery. We've spent 20 years 
				 discovering the every corner
				 of Tibet for the best things to see and do in the Holy Land, 
				 and we can't wait to share it all with you. 
			</div>
			<div class="long-pannel">
				<a href="/imagesnew/aboutus/why/riding-around-namtso-lake.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/riding-around-namtso-lake.jpg" width="300" height="200" />
				</a>
				<a href="/imagesnew/aboutus/why/discover_lhasa.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/discover_lhasa.jpg"  width="100" height="200" />
				</a>
				<a href="/imagesnew/aboutus/why/DSC00393.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/DSC00393.jpg" width="200" height="100">
				</a>
				<a href="/imagesnew/aboutus/why/tibetan-woman-girl.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/tibetan-woman-girl.jpg" width="200" height="100" />
				</a>
			</div>
		</div>
		
		<div class="block-container clearfix">
			<div class="short-pannel">
				<a href="/imagesnew/aboutus/why/everest-hiking.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/everest-hiking.jpg" width="125" height="100"/>
				</a>
				<a href="/imagesnew/aboutus/why/DSC_0053.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/DSC_0053.jpg" width="125" height="100" />
				</a>
				<a href="/imagesnew/aboutus/why/professional-tour-guide.png" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/professional-tour-guide.png" width="260" height="200" />
				</a>
				<a href="/imagesnew/aboutus/why/peaceful-namtso-lake.jpg" rel="images-gallery">
					<img src="/imagesnew/aboutus/why/peaceful-namtso-lake.jpg" width="125" height="100" />
				</a>
				<a href="/imagesnew/aboutus/why/namtso-lake.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/namtso-lake.jpg" width="125" height="100" />
                </a>
                <a href="/imagesnew/aboutus/why/tibetan-simple-people.png" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/tibetan-simple-people.png" width="260" height="200" />
                </a>
			</div>
			
			<div class="long-pannel">
				When helping your tour planning, they are always prompt and efficient, 
				getting back to you within 0.5~23.5hrs. You can rely on their first-hand knowledge 
				and boundless enthusiasm. At Tibet Discovery Tours we believe in an honest 
				'tell is how it is' approach to planning an itinerary, suggesting sights, 
				selecting accommodation and discussing the practicalities of your Tibet travel. 
				<br>
				During your Tibet tour, your personal travel 
				consultant will remain in contact with you, 
				continually checking if everything is going well as planned. 
				In the case of unexpected events, such as the late flight, 
				activity cancellation, or you do not feel well, your travel 
				consultant will react promptly and responsibly with alternative
				 plans to make sure nothing is going to ruin your experience. Anyway,
				  remember that your travel consultant is always just a phone call away! 
			</div>
		</div>
		
		<div class="block-container clearfix">
		    <div class="short-pannel">
		        <h2>Our Devoted Team</h2>
		        1-on-1 tour consulting and planning to make sure you really get what you want according to your preferences and budgets. Absolutely no push selling;

A personal travel consultant to back you up through your whole journey in China, who will make sure all details are taken care of;

Private tour guide and transportation are scheduled at all destinations regardless of your group size. Our tour guides are professional and our tour vehicles are comfortable and manned with experienced safe drivers;

Prompt and proper handling of emergencies and complaints, with quality management system certified by the lastest ISO9001: 2008 international standard.
		    </div>
		
		    <div class="long-pannel">
		        <a href="/imagesnew/aboutus/why/tibet-monk-window.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/tibet-monk-window.jpg" width="300" height="200"/>
                </a>
                <a href="/imagesnew/aboutus/why/laura-posting.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/laura-posting.jpg" width="100" height="200" />
                </a>
                <a href="/imagesnew/aboutus/why/simple-tibetan-people.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/simple-tibetan-people.jpg" width="410" height="200" />
                </a>
		   </div>
	   </div>
	
	   <div class="block-container clearfix">
	       <div class="short-pannel">
	           <a href="/imagesnew/aboutus/why/tibet-monkfriends.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/tibet-monkfriends.jpg" width="262" height="200"/>
                </a>
                <a href="/imagesnew/aboutus/why/responsible-tibet-travel.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/responsible-tibet-travel.jpg" width="125" height="100" />
                </a>
                <a href="/imagesnew/aboutus/why/tibetan-nomads.jpg" rel="images-gallery">
                    <img src="/imagesnew/aboutus/why/tibetan-nomads.jpg" width="125" height="100" />
                </a>
	       </div>
	       <div class="long-pannel">
	           <h2>Commited to the Substainable Tourism </h2>
	           <p>
	               Tibet is the destination that needs your help. 

    Travelling with Tibetdiscovery means looking after 
    the Holy Land, and empowering local communities in Tibet. 
    
    Every place around Tibet is special - and we want our hometown 
    stay that way. Our Responsible Travel ethos is at the heart of everything we do, from respecting 
    Tibetan cultures and the environment, to initiating projects that make positive contributions to local communities.  
	           </p>
	       </div>
	   </div>
	
	
</div>
</div>
{% include 'footer.html' %}
{% endblock %}