@font-face {
    font-family: 'MuseoSans500';
    src: url('/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 { 
	font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px; 
}


p {
    margin: 8px 0 16px;
    font-size: 13px;
    line-height: 19px;
}

h2 { font-size: 20px; line-height:28px;}

h3 { font-size: 18px; line-height:24px;}

h4 { font-size: 16px; line-height:22px;}

h5 { font-size: 14px; line-height:18px;}

h6 { font-size: 12px; line-height:14px;}

h1, h2, h3, h4, h5, h6{ font-weight: normal;font-family:"Museo Sans 500",Lucida Grande,Arial,Sans-serif ;}



.tc-info {
}

.tc-info img {
	margin: 10px 0 40px;
	float:;
}

.tc-info-con {
	width: 378px;
	float: right;
}
.tc-info h1 {
	margin:5px 0 5px 0 ;
	padding:0;
}

.tc-info h3 {
	margin: 10px 0 6px;
}

.tc-ul h4 {
	background: url("/imagesnew/nav-dot.png") no-repeat scroll left center transparent;
	padding-left: 12px;
    line-height: 12px;
    padding-left: 18px;
}

.tc-ul li {
	display: block;
	float: left;
	width: 40%;
}
.tc-ul li.first {
	border-right: 1px dashed #DDDDDD;
    margin-right: 30px;
    padding-right: 30px;
}
.tc-cotact {
	width: 360px;
	margin-top: 20px;
}
.tc-email {
	height: 30px;
	text-align: right;
}
.tc-email span {
	background: #8F1105;
	float: right;
	height: 25px;
	border-radius: 4px;
	line-height: 25px;
	padding: 0 8px;
	behavior: url(PIE.htc);
}
.tc-email a {
	background: url("/imagesnew/email-icon-white.png") no-repeat right center;
	padding-right: 20px;
	color: #DEDEDE;
	display: block;
}
.tc-email a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.tc-info-con2 {
	width: 430px;
	float: left;
}
.tc-img {
	float: right;
	width: 180px;
	height: 200px;
}
.tc-talk {
	font-style: italic;
	margin-bottom: 15px;
}
.tc-talk img {
	margin: 0;
}
.tc-faq h3, h4 {
	color: #434343;
	font-weight: normal;
	margin-bottom: 10px;
}
.tc-faq ol {
	list-style: decimal inside none;
	margin-bottom: 10px;
	
}
.tc-faq-head{
	margin-top:5px;
}
.tc-faq-head p{
	width:70%;
	float:left;
	
}
.tc-faq-head span{
	background: none repeat scroll 0 0 #8F1105;
    border-radius: 4px 4px 4px 4px;
    height: 25px;
    line-height: 25px;
    padding: 0px 8px;	
    float:right;
    margin-top:6px;
}


.tc-faq-head span a{
	background: url("/imagesnew/email-icon-white.png") no-repeat scroll right center transparent;
    color: #DEDEDE;
    padding-right: 20px;
    text-decoration:none;
    
}
.tc-faq-head span a:hover{
	text-decoration:none;
	color:#fff;
}

.tc-ul{
	margin-top:15px;
}

.accordion li{
	display:block;
	border:1px dotted #ccc;
	margin-bottom:5px;
	background: url("/imagesnew/grid.png") repeat-x 0 0;
}
.accordion li.oddli {
	background: url("/imagesnew/grid.png") repeat-x 0 0;
}

.accordion-content.odd {
	background: url("/imagesnew/grid.png") repeat-x 0 0;
}
.accordion li h6 {
	font-weight:normal;
	color:#434343;
	text-indent:25px;
	width: 100%;
	height:30px;
	line-height:28px;
	cursor:pointer;
	background: url("/imagesnew/slide-icon.png") no-repeat 658px center;
	background: url("/imagesnew/ask-icon.png") no-repeat 2px center;
}
.accordion li p {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dashed #CCCCCC;
    line-height: 20px;
    padding: 8px;
    width: 664px;	
}

ul.pagenum {
	float:right;
	margin-bottom:10px;
}
ul.pagenum li {
	border:1px solid #ccc;
	width:18px;
	height:18px;
	float:left;
	margin:0 1px;
	text-align:center;
	line-height:18px;
	cursor:pointer;
}
ul.pagenum li:hover,
ul.pagenum li.activedcss {
	border:1px solid #922811;
	background:#922811;
	color:#fff;
}

ul.letter-page {
	display:block;
	margin:0 auto;
	width:100px;	
}
ul.letter-page li {
	border:1px solid #ccc;
	width:18px;
	height:18px;
	float:left;
	margin:0 1px;
	text-align:center;
	line-height:18px;
	cursor:pointer;
}
ul.letter-page li:hover,
ul.letter-page li.activedcss {
	border:1px solid #922811;
	background:#922811;
	color:#fff;
}



.custom-say{
	margin-top:60px;
}

/*SLIDESHOW
---------------------------------------------------------------------------------*/
div.slideshow {
	height: 340px;
	overflow: hidden;
	position: relative;
	width: 682px;
	margin:20px 0;
}
div.slideshow a.control-previous, div.slideshow a.control-next {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	display: block;
	height: 320px;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 100px;
	z-index: 2;
}
div.slideshow div.images {
	display: none;
	height: 320px;
	margin-left: -865px;
	width: 10000px;
	z-index: 1;
}
div.slideshow div.images div.image, div.slideshow div.images div.spacer {
	float: left;
	height: 350px;
	margin: 0 1px;
	position: relative;
	width: 480px;
}
div.slideshow ul.indicator {
	float: right;
	margin: 8px 0 0;
}
div.slideshow a.control-previous {
	left: 0;
}
div.slideshow a.control-next {
	right: 0;
}
div.slideshow a.control-previous:hover, div.slideshow a.control-next:hover {
	background: rgba(255,255,255,0.8);
}
div.slideshow a.control-previous span {
	background: url("http://static.audleytravel.com/images/2011/components/component-slideshow-left.png") no-repeat scroll left top transparent;
	display: block;
	height: 32px;
	margin: 159px auto;
	width: 30px;
}
div.slideshow a.control-next span {
	background: url("http://static.audleytravel.com/images/2011/components/component-slideshow-right.png") no-repeat scroll left top transparent;
	display: block;
	height: 32px;
	margin: 159px auto;
	width: 30px;
}
div.slideshow div.images div.image div.caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 0;
	color: white;
	left: 0;
	line-height: 16px;
	padding: 8px 0px;
	position: absolute;
	width: 480px;
	text-indent:20px;
}
div.slideshow ul.indicator li {
	background: none repeat scroll 0 0 #AAAAAA;
	cursor: pointer;
	display: block;
	float: left;
	height: 8px;
	margin: 1px 5px;
	width: 12px;
}
div.slideshow ul.indicator li.active {
	background: none repeat scroll 0 0 #666666;
	border: 1px solid black;
	margin: 0 4px;
}
div.slideshow ul.indicator li:hover {
	background: #666666;
}

div.slideshow div.images div.image, 
div.slideshow div.images div.spacer {
    float: left;
    height: 320px;
    margin: 0 1px;
    position: relative;
    width: 480px;
}
div.slideshow div.images div.image img{
	width:480px;
	height:320px;
}

/*LETTER
-----------------------------------------------------------------------------*/

.letter{
	/*background: url(/imagesnew/grid.png) 0 0;*/
}


.letter-content {
	background:url(/imagesnew/dialog.png) no-repeat -6px -6px;
	margin: 20px 0px;
	padding: 10px 0 0 70px;
    width: 580px;
	
}
.letter-content p {
	margin: 10px 0;
}
/* @SIDEBAR
-----------------------------------------------------------------------------*/
.aboutus-side-foot {
	background: url(/imagesnew/sidebar-flower-down.png) no-repeat top center;
	padding-top: 45px;
	text-align: center;
	margin-top: 60px;
}
.aboutus-side-foot h3{
	color:#434343;
	font-size:13px;
	font-weight:normal;
	font-style:italic;
	letter-spacing:normal;
}
.abuout-side-img {
	background: url(/imagesnew/sidebar-flower-up.png) no-repeat bottom center;
	padding-bottom: 45px;
	margin-top: 5px;
	position: relative;
}
.abuout-side-img img {
    left: 30px;
    position: absolute;
    top: 17px;
}
.abuout-side-img p {
    margin-left: 90px;
    margin-right: 14px;
    font-size:12px;
    text-align: left;
}

/* @CONTACTUS
-----------------------------------------------------------------------------*/

.contact-header {
	width: 676px;
	height: 330px;
	/*background: url(/imagesnew/sample/bg-aboutus-head.png) no-repeat center center;*/
	position: relative;
	border: 1px solid #dddfe6;
	padding: 1px;
	margin:-8px 0 20px;
}
.contact-header img{
	width:676px;
	height:329px;
}
.contact-header span {
	width:676px;
	height: 35px;
	color: #FFFFFF;
	font-size: 14px;
	background: rgba(0,0,0,0.2);
	line-height: 35px;
	text-indent:20px;
	position: absolute;
	right:1px;
	bottom: 1px;
}



.contact-body {
	margin-top: 40px;
}



.contact-form {
	margin-top: 30px;
}

.contact-form h3 {
	color: #434343;
	text-align: left;
	padding-bottom: 3px;
	border-bottom: 1px solid #DDDDDD;
}

.contact-form p {
	margin-left: 35px;
}


.contact-form .inset-title {
	font-size: 14px;
	color: #434343;
	font-weight: bold;
}

.contact-form .last-btn {
	margin-left: 290px;
}

.contact-form textarea {
	height: 100px;
    width: 340px;
}

.contact-form ul li {
	margin-bottom: 12px;
	padding-left: 35px
}

.contact-form label {
	display: block;
    float: left;
    text-align: right;
    width: 135px;
    margin-right: 5px;
}

.contact-form select {
	width: 100px;
}

.contact-form .contact-icon {
	padding-left: 35px;
}

.contact-form .contact-phone {
	background: url(/imagesnew/call-contact.png) no-repeat left center;
}

.contact-form .contact-email {
	background: url(/imagesnew/email-contact.png) no-repeat left center;
}

.contact-form2 {
	margin-top: 20px;
}

.visit-us h2 {
	padding: 0 0 0 30px;
	background: url(/imagesnew/person-contact.png) no-repeat left center;
}

.visitus-head {
	margin: 0 0 16px 30px;
}

.visit-title {
	margin-bottom: 20px;
}

.visit-title2 {
	margin-bottom: 5px;
	margin-left: 30px;
	font-size: 14px;
	font-weight: bold;
}

.visit-us .visitus-head img {
	float: left;
	margin-right: 28px;
}

.office-location {
	margin-left: 30px;
}

.section {
	margin-top: 40px;
}

.section ul {
	margin-top: 5px;
	padding: 20px 0 0 30px;
}

.section ul li {
	background: url("/imagesnew/nav-dot.png") no-repeat scroll left center transparent;
    height: 20px;
    line-height: 22px;
    padding-left: 15px;
}

.section ul li a{
	color:#434343;
}

.section ul li a:hover{
	color:#888888;
	text-decoration:none;
}

.aboutus-foot {
	margin: 40px 0 10px 0;
	background:url(/imagesnew/aboutus/flower.png) no-repeat center right;
	height:355px;
}
.aboutus-foot p{
	text-align: center;
}

.aboutus-foot .btn-enquiry {
	margin: 20px 85px 0 0;
}

.aboutus-foot span {
	font-size; 16px;
	float: left;
	margin: 30px 0 30px 125px;
	font-weight: bold;
}

/*Why Choose Us*/
.block-container {
	margin: 0 0 0 0;
	width: 690px;
}

.block-container .short-pannel {
	width:270px;
	float: left;
	/*background:#0283DE;*/
}

.block-container .long-pannel {
	width: 420px;
	float: left;
	/*background:#589442;*/
}

.block-container img {
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	display:inline;
	
}
.block-container img:hover{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.block-container p{
	padding:0px 10px 0px;
}
.block-container h2{
	margin:10px 0 10px 10px;
    margin: 10px 0 10px 10px;
    width: 95%;
}
.block-container strong{
	padding: 10px 0 5px 0px;
	display: block;
	color:#670E14;
	font-size:15px;
}


/* @WHAT WE DO
-------------------------------------------------------------------------------*/
ul.wedo-nav {
	width:679px;
	background: url("/imagesnew/aboutus/bg_nav.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 110px;
    list-style: none outside none;
    margin-top: 20px;
    position: relative;
    z-index: 60;
}
.wedo-nav li{
	width:225px;
    display: inline-block;
    float: left;
    height: 110px;
    text-align:center;
    font-weight: bold;
    font-size:20px;
    color:#fff;
    line-height:110px;
    background:url("/imagesnew/aboutus/bg-nav-li.png") no-repeat;
    cursor:pointer;
}
.wedo-nav li:hover ,
.wedo-nav .active{
    background:url("/imagesnew/aboutus/bg_active_wide.png") no-repeat scroll center 104px transparent;
    height: 116px;
    color:#ececec;
}
.wedo-unit h2{
	color:#fff;
	text-indent:20px;
	margin-top:15px;

}
.wrap-js h3{
	font-size:14px;
	margin:0px 0 10px 0;
	border-bottom: 1px solid #CCCCCC;
	padding:5px 0;
}
.wrap-js strong{
	color:#222;
    padding: 10px 0 0px;
	display:block;
}
.wedo-unit p {
	margin:10px 0;
}
.wedo-left p{
	color:#fff;
}
.wedo-bg{
	background:#fff;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:1px;
	padding-right:10px;
}
.wedo-bg2{
	padding-left:20px;
	padding-right:10px;
}
.wedo-left{
	float:left;
	width:280px;
	padding:10px;
	height:380px;
	min-height:100px;
	clear:left;
	
	position:relative;
}
.wedo-left-tibet{
	background:url(/imagesnew/aboutus/wedo-bg-tibet.png) 0 0 no-repeat ;
}
.wedo-left-tibetchina{
	background:url(/imagesnew/aboutus/wedo-bg-tibetchina.jpg) 0 0 no-repeat ;
}
.wedo-left-nepal{
	background:url(/imagesnew/aboutus/wedo-bg-nepal.jpg) 0 0 no-repeat ;
}
.wedo-left-tibetchina p{
	color:#222222;
}
.wedo-right{
	float:left;
	width:382px;
	height:400px;
	background:#ececec;
}
.wedo-title{
	display:block;
	height:56px;
	width:300px;
	line-height:40px;
	background:url(/imagesnew/aboutus/bg_left_side_heading.png);
	position:relative;
	left:-10px;
	top:0;
	text-indent:20px;
}
.wedo-left2{
	float:left;
	
	min-height:100px;
	margin-top:20px;
	margin-right:10px;
	clear:left;	
}

.wedo-reco{
	float:left;
	
	margin-top:20px;
}
.wedo-reco a.reco-title{
	font-weight:normal;
}
.wedo-reco .reco-img{
	height:130px;
}
.wedo-reco .side-reco{
	float:left;
	margin:0 10px 10px;
	display:inline;
}
.h1-below{
	margin:0 0 20px;
	display: block;
	
}

.flow-img{
	margin-top:17px;
}

.responsible h2{
	color:#434343;
	font-size:18px;
}


/*******Departures*******/
.departures {
	margin-top:40px;
}

.departures h2{
	text-indent:30px;
}

#departures-monthly{
	margin-top:10px;
}
#departures-monthly .departure-month {
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
    padding:5px 0px 0px;
    margin-left:10px;
}
#departures-monthly .departure-month a {
    border: 1px solid #D6D6D6;
    border-radius: 3px 3px 3px 3px;
    display: block;
    padding: 4px;
    width: 2.5em;
}
#departures-monthly .departure-month a:hover {
text-decoration: none;
border: 1px solid #342559;
box-shadow: 2px 2px 2px #DDD; } 
#departures-monthly .month {
font-weight: 700;
display: block; }
#departures-monthly .year {
font-weight: 400;
font-size: 0.8em; } 
#departures-monthly  a:hover
{
	color:#AAD045;
}

.block-container a{
	position:relative;
	display:block;
	float:left;
}
.zoom{
	position:absolute;
	right: 15px;
	bottom:15px;
	width:57px;
	height:17px;
	background:url(/imagesnew/aboutus/zoom-more.gif) no-repeat;
	display:block;
}

.team-hr{
	border-top: 1px dashed #ccc;color:#fff; padding:10px 0;border-left:none;
}
a.tc-name{
	float:none;
	color:#670e14;
	font-weight:bold;
	text-decoration:none;
	font-size:15px;
	padding: 0 0 10px;
}
a.more-details{
	display:inline;
	display:block;
	float:right;
	margin-top:27px;
}

/* @TOUR GUIDE
-------------------------------------------------------------------------------*/
.vehicle{
	margin:20px 0; 
}
.vehicle p{
	width:260px;
	float:left;
}

.vehicle img{
	float:right;
	margin-top:30px;
}
.tour-guides img{
	margin:15px 15px 10px;
}
.aboutus-foot{
	
}
.travelstyle ul{
	border-bottom:1px dotted #dddddd;
}
.travelstyle ul li{
	display:block;
	min-height:130px;
	border-top:1px dotted #dddddd;
	padding:10px 0;
}
.travelstyle img{
	float:left;
	margin:3px 25px 3px 0;
	padding:1px;
	border:1px solid #dddddd;
}
.travelstyle p{
	margin-bottom:0;
}

.company-profile img{
	float:right;
	padding:1px;
	background:#fff;
	border:1px solid #ddd;
	margin:10px 0px 0 30px;
	clear:right;
}

.ourservice img{
	margin: 15px 15px 10px;
	
}
.ourservice ul{
	width:160px;
	min-height:100px;
	float:left;
	margin:20px 30px; 
}
.ourservice ul li{
	list-style-type:disc;
	list-style-position: inside;
	line-height:22px;
}
.ourservice ul li.li-title{
	list-style-type:none;
	color:#222222;
	font-weight:bold;
	line-height:26px;
}
.ourcustomers img{
	float:right;
	margin:15px 0px 10px 45px;
	padding:1px;
	background:#fff;
	border:1px solid #ddd;
}
.ourcustomers a{
	display:block;
	margin-top:30px;
}
.ourcustomers p{
}
.tibetred{
	color:#7E0122;
}
