.tc-info {
}
.tc-info img {
	margin: 10px 0 40px;
	float:;
}
.tc-info-con {
	width: 378px;
	float: right;
}
.tc-info h1 {
	margin:5px 0 5px 0 ;
	padding:0;
}
.tc-info h3 {
	color: #434343;
	font-size: 14px;
	margin: 10px 0 6px;
}
.tc-ul h4 {
	background: url("/imagesnew/nav-dot.png") no-repeat scroll left center transparent;
	padding-left: 12px;
    line-height: 12px;
    padding-left: 18px;
}
.tc-ul li {
	display: block;
	float: left;
	width: 40%;
}
.tc-ul li.first {
	border-right: 1px dashed #DDDDDD;
    margin-right: 30px;
    padding-right: 30px;
}
.tc-cotact {
	width: 360px;
	margin-top: 20px;
}
.tc-email {
	height: 30px;
	text-align: right;
}
.tc-email span {
	background: #8F1105;
	float: right;
	height: 25px;
	border-radius: 4px;
	line-height: 25px;
	padding: 0 8px;
	behavior: url(PIE.htc);
}
.tc-email a {
	background: url("/imagesnew/email-icon-white.png") no-repeat right center;
	padding-right: 20px;
	color: #DEDEDE;
}
.tc-email a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.tc-info-con2 {
	width: 430px;
	float: left;
}
.tc-img {
	float: right;
	width: 180px;
	height: 200px;
}
.tc-talk {
	font-style: italic;
	margin-bottom: 15px;
}
.tc-talk img {
	margin: 0;
}
.tc-faq h2 {
	margin: 10px 0 6px;
}
.tc-faq h3, h4 {
	color: #434343;
	font-weight: normal;
	margin-bottom: 10px;
}
.tc-faq ol {
	list-style: decimal inside none;
	margin-bottom: 10px;
	
}
.tc-faq-head{
    border-bottom: 1px solid #F2F4F6;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.tc-faq-head p{
	width:70%;
	float:left;
	
}
.tc-faq-head span{
	background: none repeat scroll 0 0 #8F1105;
    border-radius: 4px 4px 4px 4px;
    height: 25px;
    line-height: 25px;
    padding: 0px 8px;	
    float:right;
    margin-top:6px;
}


.tc-faq-head span a{
	background: url("/imagesnew/email-icon-white.png") no-repeat scroll right center transparent;
    color: #DEDEDE;
    padding-right: 20px;
    text-decoration:none;
    
}
.tc-faq-head span a:hover{
	text-decoration:none;
	color:#fff;
}



.accordion li{
	display:block;
	border:1px dotted #ccc;
	margin-bottom:5px;
	background: url("/imagesnew/grid.png") repeat-x 0 0;
}
.accordion li.oddli {
	background: url("/imagesnew/grid.png") repeat-x 0 0;
}

.accordion-content.odd {
	background: url("/imagesnew/grid.png") repeat-x 0 0;
}
.accordion li h6 {
	font-weight:normal;
	color:#434343;
	text-indent:25px;
	width: 100%;
	height:30px;
	line-height:28px;
	cursor:pointer;
	background: url("/imagesnew/slide-icon.png") no-repeat 658px center;
	background: url("/imagesnew/ask-icon.png") no-repeat 2px center;
}
.accordion li p {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dashed #CCCCCC;
    line-height: 20px;
    padding: 8px;
    width: 664px;	
}

ul.pagenum {
	float:right;
	margin-bottom:10px;
}
ul.pagenum li {
	border:1px solid #ccc;
	width:18px;
	height:18px;
	float:left;
	margin:0 1px;
	text-align:center;
	line-height:18px;
	cursor:pointer;
}
ul.pagenum li:hover,
ul.pagenum li.activedcss {
	border:1px solid #922811;
	background:#922811;
	color:#fff;
}

ul.letter-page {
	display:block;
	margin:0 auto;
	width:100px;	
}
ul.letter-page li {
	border:1px solid #ccc;
	width:18px;
	height:18px;
	float:left;
	margin:0 1px;
	text-align:center;
	line-height:18px;
	cursor:pointer;
}
ul.letter-page li:hover,
ul.letter-page li.activedcss {
	border:1px solid #922811;
	background:#922811;
	color:#fff;
}



.custom-say{
	margin-top:60px;
}

/*SLIDESHOW*/
div.slideshow {
	height: 340px;
	overflow: hidden;
	position: relative;
	width: 682px;
	margin:20px 0;
}
div.slideshow a.control-previous, div.slideshow a.control-next {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	display: block;
	height: 320px;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 100px;
	z-index: 2;
}
div.slideshow div.images {
	display: none;
	height: 320px;
	margin-left: -865px;
	width: 10000px;
	z-index: 1;
}
div.slideshow div.images div.image, div.slideshow div.images div.spacer {
	float: left;
	height: 350px;
	margin: 0 1px;
	position: relative;
	width: 480px;
}
div.slideshow ul.indicator {
	float: right;
	margin: 8px 0 0;
}
div.slideshow a.control-previous {
	left: 0;
}
div.slideshow a.control-next {
	right: 0;
}
div.slideshow a.control-previous:hover, div.slideshow a.control-next:hover {
	background: rgba(255,255,255,0.8);
}
div.slideshow a.control-previous span {
	background: url("http://static.audleytravel.com/images/2011/components/component-slideshow-left.png") no-repeat scroll left top transparent;
	display: block;
	height: 32px;
	margin: 159px auto;
	width: 30px;
}
div.slideshow a.control-next span {
	background: url("http://static.audleytravel.com/images/2011/components/component-slideshow-right.png") no-repeat scroll left top transparent;
	display: block;
	height: 32px;
	margin: 159px auto;
	width: 30px;
}
div.slideshow div.images div.image div.caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 0;
	color: white;
	left: 0;
	line-height: 16px;
	padding: 8px 0px;
	position: absolute;
	width: 480px;
	text-indent:20px;
}
div.slideshow ul.indicator li {
	background: none repeat scroll 0 0 #AAAAAA;
	cursor: pointer;
	display: block;
	float: left;
	height: 8px;
	margin: 1px 5px;
	width: 12px;
}
div.slideshow ul.indicator li.active {
	background: none repeat scroll 0 0 #666666;
	border: 1px solid black;
	margin: 0 4px;
}
div.slideshow ul.indicator li:hover {
	background: #666666;
}

div.slideshow div.images div.image, 
div.slideshow div.images div.spacer {
    float: left;
    height: 320px;
    margin: 0 1px;
    position: relative;
    width: 480px;
}
div.slideshow div.images div.image img{
	width:480px;
	height:320px;
}

/*LETTER*/

.letter{
	/*background: url(/imagesnew/grid.png) 0 0;*/
}


.letter-content {
	background:url(/imagesnew/dialog.png) no-repeat -6px -6px;
	margin: 20px 0px;
	padding: 10px 0 0 70px;
    width: 580px;
	
}
.letter-content p {
	margin: 10px 0;
}
/*SIDEBAR*/
.aboutus-side-foot {
	background: url(/imagesnew/sidebar-flower-down.png) no-repeat top center;
	padding-top: 45px;
	text-align: center;
	margin-top: 60px;
}
.aboutus-side-foot h3{
	color:#434343;
	font-size:13px;
	font-weight:normal;
	font-style:italic;
	letter-spacing:normal;
}
.abuout-side-img {
	background: url(/imagesnew/sidebar-flower-up.png) no-repeat bottom center;
	padding-bottom: 45px;
	margin-top: 5px;
	position: relative;
}
.abuout-side-img img {
    left: -18px;
    position: absolute;
    top: 2px;
}
.abuout-side-img p {
    margin-left: 90px;
    margin-right: 14px;
    font-size:12px;
    text-align: left;
}

/*CONTACTUS*/

.contact-header {
	width: 680px;
	height: 330px;
	background: url(/imagesnew/sample/bg-aboutus-head.png) no-repeat center center;
	position: relative;
	border: 1px solid #dddfe6;
	margin-top:13px;
}

.contact-header p {
	position: absolute;
	bottom: 1px;
	left: 1px;
	height: 35px;
	color: #FFFFFF;
	font-size: 14px;
	background: rgba(0,0,0,0.2);
	width: 663px;
	line-height: 35px;
	padding-left: 15px;
}

.contact-now {
	margin-top: 22px;
}

.contact-now h2 {
	font-size: 18px;
	margin: 0 0 15px 3px;
}

.contact-body {
	margin-top: 40px;
}

.contact-body h2 {
	font-size: 18px;
	height: 25px;
	margin: 0 0 15px 0;
}

.contact-form1 .contact-icon {
	height: 26px;
	padding-left: 45px;
	line-height: 32px;
	margin: 0 0 10px 8px;
}

.contact-form1 .contact-phone {
	background: url(/imagesnew/tel-aboutus.png) no-repeat left center;
}
.contact-form1 .contact-fax {
	background: url(/imagesnew/fax-aboutus.png) no-repeat left center;
}

.contact-icon.last {
	margin-bottom: 0;
}

.contact-form1 ul {
	margin-left: 50px;
	border: 1px solid #dddfe6;
	padding: 16px 18px 0;
	width: 600px;
}

.contact-form1 ul li {
	margin-bottom: 20px;
}

.contact-form1 ul li label {
	display: block;
    float: left;
    margin-right: 8px;
    text-align: right;
    width: 90px;
}

.contact-form1 .call-question {
	float: right;
    position: relative;
    top: -125px;
}

.call-question textarea{ 
    width: 260px;
    height: 80px;
}

.contact-form1 .call-question label {
	text-align: left;
	display: block;
	float: none;
}

.contact-form1 .call-submit {
	margin-left: 400px;
}

.contact-form2 ul{
	margin-left: 50px;
}

.contact-form2 ul li {
	margin-bottom: 20px;
}

.contact-form2 ul .form-title {
	color: #7E0122;
	font-weight: bold;
	margin-bottom: 10px;
}

.contact-form2 ul li label {
	display: block;
    float: left;
    margin-right: 8px;
    text-align: right;
    width: 150px;
}

.contact-form2 ul li textarea {
	width: 430px;
	height: 125px;
}

.comment-submit {
	margin-left: 200px;
}

.visitus-head {
	margin: 0 0 16px 50px;
}

.visit-title {
	margin-bottom: 20px;
}

.visit-title2 {
	margin-bottom: 20px;
	margin-left: 50px;
}

.visit-us .visitus-head img {
	float: left;
	margin-right: 10px;
}

.office-location {
	margin-left: 50px;
}

.section {
	margin-top: 40px;
}

.section ul {
	margin-top: 5px;
	padding: 20px 0 25px 50px;
	border-top: 1px solid #dddfe6;
	border-bottom: 1px solid #dddfe6;
}

.section ul li {
	background: url("/imagesnew/nav-dot.png") no-repeat scroll left center transparent;
    height: 20px;
    line-height: 22px;
    padding-left: 15px;
}

.aboutus-foot {
	margin: 40px 0 10px 0;
}

.aboutus-foot p{
	text-align: center;
}

.aboutus-foot .btn-enquiry {
	margin: 20px 85px 0 0;
}

.aboutus-foot span {
	font-size; 16px;
	float: left;
	margin: 30px 0 30px 125px;
	font-weight: bold;
}

/*Why Choose Us*/
.block-container {
	margin: 0 0 20px 0;
	width: 680px;
}

.block-container .words-pannel {
	width: 31%;
	float: left;
	padding: 10px;
}

.block-container .images-pannel {
	width: 65%;
	float: left;
}

.images-pannel img {
	display: inline;
	margin: 3px;
	border: 1px solid #a69c8f;
}

.images-pannel img:hover {
	padding: 1px;
	margin: 1px;
	border: 2px solid #fa9005;
}

