.tc-info{
}

.tc-info img{	
	margin:10px 20px 10px 0;
}

.tc-info-con{
	width:378px;
	float:right;	
}

.tc-info h2{
	display:block;
	padding-top:8px;
}

.tc-info h3{
	color:#434343;
	font-size:14px;
	margin: 10px 0 6px;
}

.tc-ul{
	display:block;
	float:left;
}

.tc-ul h4 {
    background: url("/imagesnew/nav-dot.png") no-repeat scroll left center transparent;
    padding-left: 12px;
}

.tc-ul li{
	display:block;
	float:left;
	width:40%;
}

.tc-ul li.first {
    border-right: 1px dashed #DDDDDD;
    margin-right: 28px;
    padding-right: 10px;
}

.tc-cotact{
	width:360px;
	float: left;
	margin-top:20px;
}

.tc-info-con2{
	width:435px;
	float: left;
}
.tc-img{
	float:right;
	width:180px;
	height:200px;
}

.tc-talk{
	font-style:italic;
}

.tc-faq {
    
}

.tc-faq h2 {
    margin: 10px 0 6px;
}

.tc-faq h3,h4 {
    color: #434343;
    font-weight: normal;
    margin-bottom: 10px;
}

.tc-faq ol{
    list-style: decimal inside none;
}

.tc-faq ol li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.custom-say {
    
}

.custom-say h2 {
    margin: 10px 0 10px;
}

.custom-say ul li {
    float: left;
    display: inline;
    margin: 0 13px 15px 0;
}

.custom-say ul li img {
    width: 100px;
    height: 80px;
}
