/* @OVERVIEW
 ---------------------------------------------------------------*/
.overview-top {
	width: 100%;
	margin: 0 0 10px;
}
.slides {
	width: 680px;
	height: 273px;
	border: 1px solid #8e271f;
	overflow: hidden;
	position: relative;
}
.slides h2 {
	font-size: 18px;
	margin: 10px 0 0 0;
}
.slide {
	left: 0;
	position: absolute;
	top: 0;
	width: 680px;
	background: #fff;
}
.slide img {
	float: left;
	margin: 0 10px 0 0;
}
.slide p {
	font-size: 13px;
	max-height: 153px;
	line-height: 19px;
	overflow: hidden;
}
.thumbs {
	width: 100%;
	height: 35px;
	border-top: 5px solid #8e271f;
}
.thumbs ul li {
	background: none repeat scroll 0 0 #EEEEEE;
	border-radius: 0 0 2px 2px;
	color: #8E271F;
	cursor: pointer;
	float: left;
	font-size: 13px;
	line-height: 40px;
	margin: 0 4px;
	padding: 0 10px
}
.thumbs ul li:hover, .thumbs ul li.active {
	color: #fff;
	background: #8e271f;
}
.thumbs a.all-things {
	line-height: 40px;
	padding-right: 15px;
	float:right;
}
.share-tools {
	background: url("/imagesnew/itinerary/bg-share.png") no-repeat scroll right center transparent;
	height: 37px;
	width: 100%;
}
.share-tools .addwish {
	background: url("/imagesnew/itinerary/icon-wish.png") no-repeat scroll left center transparent;
	display: block;
	float: right;
	height: 18px;
	margin: 8px 196px 8px 0;
	padding-left: 18px;
}
.social-tools {
	float: right;
	left: 309px;
	position: relative;
	top: 9px;
}
.overview-left {
	float: left;
	width: 450px;
}
.overview-left h2 {
	font-size: 16px;
	margin: 20px 0 0;
}
.overview-left p {
	margin: 0px 0 10px;
}
.most-title a {
	font-size: 13px;
	float: right;
}
dl.pop-tour {
	margin: 10px 0 40px;
	padding:10px;
	border:1px solid #fff;
}
dl.pop-tour:hover{
	background:rgba(234,234,234,0.6);
	border:1px solid #e0e0e0;
	cursor:pointer;
}
dl.pop-tour dt {
	width: 184px;
	float: left;
}
dl.pop-tour dt img{
	border:1px solid #ddd;
	padding:1px;
	background:#fff;
}
dl.pop-tour dd {
	width: 230px;
	float: right;
}
dl.pop-tour h4 a {
	text-decoration:none;
	color:#434343;
}
dl.pop-tour h4 a:hover{
	color:#888888;
} 
dl.pop-tour p {
	margin: 3px 0;
	font-size: 12px;
}
dl.pop-tour img.reco-img {
	width: 180px;
	height: 150px;
}
.pop img {
	float: left;
	clear: left;
	padding: 1px;
	border: 1px solid #ddd;
	background: #fff;
	margin: 0 20px 0 0;
}
.pop .view {
	width: }
	h3.most-title{
	float: left;
	width: 270px;
}
.overview-right {
	width: 220px;
	float: right;
	margin-top:20px;
}
.overview-right h5 {
	color: #222222;
	margin: 1px 0 10px;
}
.overview-right div {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0 20px;
	background: #fbfaf9;
}
.overview-right .right-more {
	float: right;
}
.WWtable td {
	width: 53px;
	height: 20px;
	text-align: center;
}
.ww-r1 {
	background: url("/imagesnew/destination/weather-rank1.png") no-repeat center center;
}
.ww-r2 {
	background: url("/imagesnew/destination/weather-rank2.png") no-repeat center center;
}
.ww-r3 {
	background: url("/imagesnew/destination/weather-rank3.png") no-repeat center center;
}
.ww-r4 {
	background: url("/imagesnew/destination/weather-rank4.png") no-repeat center center;
}
.ww-r5 {
	background: url("/imagesnew/destination/weather-rank5.png") no-repeat center center;
}
.further-reading {
	width: 100%;
	float: left;
	min-height: 100px;
	border-top: 1px dashed #ddd;
	padding: 20px 0;
	margin: 50px 0 0;
}
.further-reading ul {
	margin: 10px 0 20px;
}
.further-reading h3 {
	color: #434343;
	text-align: center;
}
.further-reading ul li {
	margin: 0 auto;
	float: left;
}
.further-reading ul li a {
	border: 1px solid #fff;
	float: left;
	padding: 5px 10px;
	margin: 5px;
	color: #434343;
	text-decoration: none;
}
.further-reading ul li a:hover {
	color: #888;
	border: 1px solid #ddd;
}
/* @WHEN TO GO
 -----------------------------------------------------------------------*/
.wea-table{
	margin: 30px 0 30px 0;
}
.wea-table h2{
	border-bottom:1px solid #ddd;
}
.wea-table table {
	margin-left: 30px;
	margin-top:20px;
    width: 660px;
}
.temp span {
	display: block;
	float: left;
	height: 18px;
	max-width: 90px;
	background: url("/imagesnew/destination/temperature-plus.png") repeat-x;
}
.wea-table table th {
	text-align: left;
}
.wea-table table td {
	width: 150px;
	text-align: right;
	padding: 3px 60px 3px 0;
}
.wea-table table tr td:first-child, .wea-table table th:first-child {
	text-align: left;
	width: 30px;
}
/* @THINGS TO DO
 -----------------------------------------------------------------------*/
dl.pop-place {
	background: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin: 20px 0 40px;
}
dl.pop-place dt {
	width: 220px;
	height:158px;
	float: left;
	background:url("/imagesnew/destination/img-border.png") no-repeat 0 0;
	position: relative;
}
dl.pop-place dt img{
	margin:7px 6px;
}
dl.pop-place h3 a{
	color:inherit;
}
dl.pop-place h3 a:hover{
	text-decoration:none;
}
dl.pop-place dt div {
	width: 47px;
	height:34px;
	background:url("/imagesnew/destination/img-num.png") no-repeat 0 0;
	position:absolute;
	left:20px;
	top:-5px;
	line-height:34px;
	text-align: center;
	color:#fff;
}
dl.pop-place dd {
	width: 430px;
	float: right;
}
.pop-place a.read-more {
	display: block;
	float: right;
	margin: 0 10px 0 0;
}
#mapContainer {
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#mapContainer {
	padding: 15px 0 0;
}
#mapContainer img.worldMap {
	margin: 5px 0 0;
}
#worldMapList a {
	background: url("/imagesnew/sprite-destinationsMap.png") no-repeat scroll 100% -120px transparent;
	cursor: pointer;
	float: left;
	font-size: 0.94em;
	height: 26px;
	overflow: visible;
	padding: 0 15px 0 0;
	text-align: center;
	text-decoration: none;
}
#worldMapList a span {
	background: url("/imagesnew/sprite-destinationsMap.png") no-repeat scroll 0 -60px transparent;
	color: #FFFFFF;
	float: left;
	height: 26px;
	line-height: 24px;
	padding: 0 0 0 15px;
	position: relative;
	white-space: nowrap;
}
#worldMapList a:hover {
	background-position: 100% -153px;
}
#worldMapList a:hover span {
	background-position: 0 -93px;
}
#worldMapList li {
	background-color: transparent;
	position: absolute;
}
#worldMapList li.northAmerica {
	left: 62px;
	top: 97px;
}
#worldMapList li.caribbean {
	left: 160px;
	top: 173px;
}
#worldMapList li.centralAmerica {
	left: 48px;
	top: 190px;
}
#worldMapList li.southAmerica {
	left: 150px;
	top: 238px;
}
#worldMapList li.europe {
	left: 330px;
	top: 105px;
}
#worldMapList li.middleEast {
	left: 353px;
	top: 151px;
}
#worldMapList li.africa {
	left: 333px;
	top: 187px;
}
#worldMapList li.antarctica {
	bottom: 53px;
	left: 380px;
}
#worldMapList li.asia {
	right: 424px;
	top: 130px;
}
#worldMapList li.pacific {
	right: 362px;
	top: 210px;
}
#sponsoredPinsContainer li {
	background: url("/imagesnew/sprite-destinationsMap.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 40px;
	position: absolute;
	width: 19px;
}
#sponsoredPinsContainer li a {
	color: #000000;
	display: block;
	height: 32px;
	width: 19px;
}
#sponsoredPinsContainer li span {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: rgba(0, 0, 0, 0.13) rgba(0, 0, 0, 0.13) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.08);
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 2px rgba(221, 0, 0, 0.5);
	cursor: pointer;
	display: none;
	font-size: 11px;
	left: 22px;
	padding: 2px 8px;
	position: absolute;
	top: 0;
	white-space: nowrap;
}


.map-list h3{
	clear:both;
}
.map-list dl{
	float:left;
	margin:10px 20px 10px 0;
	padding:10px;
	border:1px solid #ddd;
	position:relative;
}
.map-list dl dt img{
	width:180px;
	height:200px;
}
.map-list dl:hover{
	background:rgba(243,234,213,0.6);
	cursor:pointer;
}
.map-list dl .zoom{
	position:absolute;
	right:10px;
	bottom:10px;
}
.price-color{
	color:#7E0122;
}
/*SIDEBAR*/
.des-side-foot {
    background: url("/imagesnew/sidebar-flower-down.png") no-repeat scroll center top transparent;
    margin-top: 60px;
    padding-top: 45px;
    text-align: center;
}

.des-side-foot h3 {
    color: #434343;
    font-size: 15px;
    font-weight: bold;
}

.des-side-img {
    background: url("/imagesnew/sidebar-flower-up.png") no-repeat scroll center bottom transparent;
    margin-top: 5px;
    padding-bottom: 45px;
    position: relative;
    text-align: left;
    text-indent: 22px;
}

.des-side-img .nav-left a {
	background:url("/imagesnew/nav-dot.png") no-repeat scroll 26px center transparent;
}

.des-side-img .nav-left a:hover {
	color: #7E0122;
}
