.timetable-title {
    background-color: #92240D;
    color: #FFFFFF;
    font-weight: bold;
}

.timetable-title li {
    float: left;
    padding: 5px 23px;
}

.schedule-detail {
    width: 100%;
    text-align: center;
}

.flight-rows {
    border-top: 1px solid #92240D;
    border-bottom: 1px solid #DDDDDD;
    background: #FBFBFB;
}

.flight-rows li {
    float: left;
    text-align: center;
    border-right: 1px dashed #D3D3D3;
}

.flight-rows li.last {
    border-right: none;
}

.flight-rows li p {
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
}

.flight-row2 dt {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 0 0;
}

.flight-row2 dd {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
}

.flight-row4 dt, .flight-rows dt {
    padding: 8px 0 0 0;
}

.flight-row4 dd,.flight-row5 dd {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
    color: #DDDDDD;
}

.flight-row1 {
    line-height: 100px;
    width: 80px;
    font-weight: bold;
}

.flight-row2 {
    width: 120px;
}

.flight-row3 {
    width: 123px;
}

.flight-row4 {
    width: 74px;
}

.flight-row5 {
    width: 108px;
}

.flight-row6 {
    width: 96px;
}

.flight-row7 {
    width: 75px;
}
