.timetable-title {
    background-color: #92240D;
    color: #FFFFFF;
    font-weight: bold;
}

.timetable-title li {
    float: left;
    padding: 5px 23px;
}

.schedule-detail {
    width: 100%;
    text-align: center;
}

.flight-rows {
    border-top: 1px solid #92240D;
    border-bottom: 1px solid #DDDDDD;
    background: #FBFBFB;
}

.timetable-end {
    margin-bottom: 20px;
    border-bottom: 3px solid #DDDDDD;
}

.flight-col1 {
    float: left;
    padding: 30px 22px 0;
}

.flight-col2 {
    float: left;
    margin-left: 30px;  
}

.flight-col2 ul {
    border-bottom: 1px solid #FFFFFF;
}

.flight-col2 li {
    text-align: center;
    float: left;
    padding: 10px;
    border-left: 1px dashed #DDDDDD;
}

.flight-col2 dt {
    font-weight: bold;
}

.flight-col2 dd {
    color: #DDDDDD;
}

.li-col1 {
    width: 90px;
}

.li-col2 {
    width: 80px;
}

.li-col3 {
    width: 65px;
}

.li-col4 {
    width: 90px;
}

.li-col5 {
    width: 65px
}
/*LIFE ON BOARD*/
.life-on-board {
    margin-top: 35px;
}

.pic-list {
    margin: 20px 0 0 0;
}

.pic-list li{
    margin-right: 20px;
    float: left;
    width: 30%;
}

.pic-list li p {
    height: 60px;
}

.pic-list li img {
/*    outline: 1px solid #DDDDDD;
*/    border: 1px solid white;
    width: 184px;
    height: 124px;
    display: block;
    margin: 0 0 10px;
}