/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol {
	list-style-type:disc;
}

li {
    color: #434343;
}

ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* COMMON STYLE */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
	background: url("/imagesnew/body-bg.png") no-repeat center 139px #FBFBF5;
	color:#434343;
}

.wrap{
	margin:0 auto;
	width:960px;
	height:auto;
}
/*暂时不用本地字体，此样式暂时不用
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Regular.ttf');
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype'),
         url('../fonts/Cantarell-Oblique.ttf') format('truetype'),
         url('../fonts/Cantarell-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

h1, h2, h3, h4, h5, h6 {
    color: #7E0122;/*臧红色*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 16px;  
}

p {
    color: #434343;
    margin-top: 0;
}
img {
    border: medium none;
}
a {
    color: #2368C7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}

.btn{
	background-image:url(/imagesnew/btn.png);
	display:block;
    color: #ffffff;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	border: none;
}
.btn:hover{
	text-decoration:none;
}

.btn-wrap{
	margin-top:10px;
	margin-left:28px;
	display:block;
}

.btn.small {
    font-size: 11px;
	background-position:-303px 0;
	width: 67px; 
	height: 22px;
	line-height:22px;
}

.btn.small:hover {
	background-position:-303px -39px;
}

.btn.middle {
    font-size: 13px;
	background-position:-193px 0;
	width: 86px; 
	height: 25px;
	line-height:25px;
}
.btn.middle:hover {
	background-position:-193px -39px;
}
.btn.large {
    font-size: 15px;
	background-position:0 0;
	width: 184px; 
	height: 30px;
	line-height:30px;
}
.btn.large:hover {
	background-position:0 -39px;
}

input[type="text"]{
	height: 17px;
	width: 180px;
}

input[type="text"],textarea {
	 border: 1px solid #DEDEDE;
	 border-radius: 3px;
	 padding: 3px 8px;
}

input[type="text"]:hover,input[type="text"]:focus,textarea:hover,textarea:focus{
	border-color: #B5DFF1;
}

.title-margin {
    margin: 20px 0 6px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.black {
    color: #000000;
}

.grey {
    color: #868282;
}

.none {
    display: none;
}

.m10 {
    margin: 10px 0;
}

/* PAGER */
#pager {
    text-align: center;
    padding: 0 230px;
}

#pager:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    margin-bottom: 10px;
    padding: 0 210px;
}

#pager .btn-page {
    margin: 10px 10px 0 10px;
    width: 30px;
    height: 20px;
    background: red;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    float: left;
    cursor: pointer;
}

#pager .btn-page:hover {
    background: #92240D;
    color: #FFFFFF;
}

#pager .btn-page.selected {
    background: #92240D;
    color: #FFFFFF;
}

.page-pre .page-next {
    
}

/* LAYOUT */
.bread {
    color: #C09051;
    font-size: 11px;
    height: 37px;
    line-height: 35px;
    margin: 0 auto;
    width: 974px;
}

.bread .home {
    font-weight: bold;
}

.bread span {
    background: url("../imagesnew/nav-arrow.png") no-repeat scroll 100% 3px transparent;
    margin-right: 5px;
    padding-right: 11px;
}

.bread a {
    color: #C09051;
    text-decoration: none;
}
/*使面包屑导航样式与老版改良版一致。。*/

.wrapper {
	background:url("/imagesnew/sidebar-bg.png") repeat-y 0 0  #ffffff;
    margin:0 auto;
    width: 970px;
	position:relative;
    min-height: 900px;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: #666 0px 0px 3px;
    -moz-box-shadow: #666 0px 0px 3px;
    box-shadow: #666 0px 0px 3px;
    behavior: url(PIE.htc);
}

/* CONTENT */

.content {
    width: 682px;
    float: right;
	margin-top:10px;
	margin-right:22px;
}

.content h1 {
	font-family: 'Cantarell';
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.content .content-h2,content-h3 {
    margin: 20px 0 6px 0;
}

.content-foot {
	margin-bottom: 60px;
	float:left;
}

/* HEADER */
.header {
	min-height:125px;
	background:url(/imagesnew/header-top.png) no-repeat center top #EEF1F0;
}

.header a {
    color: #92240D;
}

.logo {
	width:165px;
	height:55px;
	background:url(/imagesnew/logo.png) no-repeat;
	display:block;
	margin-top:25px;
	float:left;
}

.header .slogan {
    float: left;
    margin: 36px 0 0 20px;
    background: url(/imagesnew/slogan.png) no-repeat 0 0 ;
    width: 296px;
    height: 34px;
}

.header-info {
	float:right;
	color: #92240D;
	margin: 5px 10px 0 0;
	width: 290px;
}


.header-info ul li {
	display:block;
	float:right;
	margin-top:7px;
}

.header-info .info {
    background: url(/imagesnew/email-icon.png) no-repeat left;
	padding-left:25px;
}

.header-info .tel {
    background: url(/imagesnew/tel-icon.png) no-repeat left;
	padding-left:25px;
	min-width:190px;
}

.header-info .custom {
    background: url(/imagesnew/customize-icon.png) no-repeat left;
	padding-left:25px;
	margin-right:5px;
}

.header-info .contact {
    background: url(/imagesnew/contact-icon.png) no-repeat left;
	padding-left:25px;
}
.call-you {
    position: relative;
    font-size: 11px;
    z-index: 99999;
}

#call-you {
	background:url(/imagesnew/callyou-btn.png) no-repeat;
	line-height:17px;
    text-decoration: none;
    color: #FFFFFF;
	text-align:center;
	padding: 2px 25px 2px 14px;
}
.tiny-form {
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 99999;
    padding: 10px;
    width: 163px;
    background-color: #F9F9F9;
    border: 2px solid #F1EDE2;
}

.tiny-form .error {
    font-size: 12px;
    color: red;
}

.tiny-form input {
    margin-bottom: 5px;
    padding: 3px;
    width: 155px;
}

.form-question {
    height: 55px;
    width: 158px;
}


/*HEADER MENU*/
.menu {
	font: 14px Arial,Helvetica,sans-serif;
	height: 35px;
	list-style-type: none;
	position: relative;
	width: 970px;
	z-index: 210;
	float:left;
	margin-top:24px;
}
.menu > li {
    background: #D2D2D2;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D2D2D2), to(#FFFFFF));
    background: -webkit-linear-gradient(#D2D2D2, #FFFFFF);
    background: -moz-linear-gradient(#D2D2D2, #FFFFFF);
    background: -ms-linear-gradient(#D2D2D2, #FFFFFF);
    background: -o-linear-gradient(#D2D2D2, #FFFFFF);
    background: linear-gradient(#D2D2D2, #FFFFFF);
/*    -pie-background: linear-gradient(#D2D2D2, #FFFFFF);
*/  float: left;
    line-height: 34px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	border-right:1px solid #7d7d7d;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	margin-right:5px;
    behavior: url(PIE.htc);
}
.nav-slide{
    background: url(/imagesnew/menu/ico_arrows2.png) no-repeat scroll 99% 55%;
}
.menu > li > a {
    color: #92240d;
    display: block;
    padding: 0 7px;
    text-decoration: none;
}
.menu > li > a:hover {
    background-color:#92240d;
	color:#ffffff;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	behavior: url(PIE.htc);
}

.menu > li > a.selected {
    background-color:#92240d;
    color:#ffffff;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    behavior: url(PIE.htc);
}

.nav-slide:hover {
    background:#92240d url(/imagesnew/menu/ico_arrows.png) no-repeat scroll 99% 55% ;
}

#nav-last{
	background:#92240d;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
    behavior: url(PIE.htc);

}

#nav-last li{
	float:left;
	margin: 5px 0 0;
}
#nav-last li a{
	display: block;
	color:#ffffff;
	background:#505050;
	font-size:10px;
	margin: 0 2px 0;
	height:16px;
	line-height: 16px;
	padding:7px 3px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;    
	behavior: url(PIE.htc);
}
#nav-last li a:hover{
	text-decoration:none;
	background:#333;
}

#travelStyle {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: #666666;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    left: 165px;
    padding: 8px 10px 3px;
    position: absolute;
    top: 35px;
    width: 425px;
    z-index: 100;
}
#travelStyle h2 {
    color: #990100;
    font-size: 15px;
    font-weight: normal;
}
#travelStyle h2, div#travelStyle p, div#travelStyle ul {
    border-right: 1px solid #CCCCCC;
    float: left;
    list-style-type: none;
    width: 207px;
}
#travelStyle h2 + h2, div#travelStyle p + p, div#travelStyle ul + ul {
    border: medium none;
    margin-left: 10px;
}
#travelStyle p {
    padding: 8px 0 5px;
}
#travelStyle ul li {
    border-top: 1px dashed #CCCCCC;
    float: left;
    height: 60px;
    line-height: 60px;
    width: 200px;
}
#travelStyle ul li a {
    color: #2368C7;
    display: block;
    height: 60px;
    text-decoration: none;
    width: 200px;
}
#travelStyle ul li img {
    border: 2px solid #FFFFFF;
    float: left;
    margin: 3px 8px 3px 5px;
}
#travelStyle ul li a:hover {
    background: none repeat scroll 0 0 #990100;
    color: #FFFFFF;
}
#tibetTours {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: #666666;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    left: 0;
    padding: 8px 10px 3px;
    position: absolute;
    top: 35px;
    width: 880px;
    z-index: 100;
}
#tibetTours * {
    margin: 0;
    padding: 0;
}
#tibetTours h2 {
    color: #990100;
    font-size: 15px;
    font-weight: normal;
}
#tibetTours h2, div#tibetTours p, div#tibetTours ul {
    border-right: 1px solid #CCCCCC;
    float: left;
    list-style-type: none;
    margin-left: 8px;
    width: 213px;
}
#tibetTours h2.first, div#tibetTours p.first, div#tibetTours ul.first {
    margin-left: 0;
}
#tibetTours h2 + h2 + h2 + h2, div#tibetTours p + p + p + p, div#tibetTours ul + ul + ul + ul {
    border: medium none;
}
#tibetTours p {
    padding: 8px 0 5px;
}
#tibetTours ul li {
    border-top: 1px dashed #CCCCCC;
    float: left;
    height: 60px;
    line-height: 60px;
}
#tibetTours ul.first li.last img {
    border: medium none;
    margin: 9px 0 9px 5px;
}
#tibetTours ul.first li.last a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #2368C7;
}
#tibetTours ul li a {
    color: #2368C7;
    display: block;
    height: 60px;
    text-decoration: none;
    width: 213px;
}
#tibetTours ul li img {
    border: 2px solid #FFFFFF;
    float: left;
    margin: 3px 8px 3px 5px;
}
#tibetTours ul li a:hover {
    background: none repeat scroll 0 0 #990100;
    color: #FFFFFF;
}



/* FOOTER */


.footer {
    background: none repeat scroll 0 0 #670E14;
    min-height: 200px;
	margin-top:-100px;
}


.newsletter {
    padding-top: 145px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.newsletter-title{
	float:left;
	margin-right:70px;
}
.newsletter-title h4{
	display:block;
	color:#ffffff;
	font-size:16px;
	margin-top:5px;
}
.newsletter-title p{
    float: left;
    width: 230px;
	color:#ffffff;
	font-size:10px
}

.newsletter-container {
    border: 1px dashed #999;
    border-left: none;
    border-right: none;
    background: #92240D no-repeat 0 0 ;
    padding: 10px 0;
}

.newsletter-container label {
    font-weight:bold;
    line-height: 50px;
}

.footer .nav {
	float: left;
    padding: 10px 5px;
    width: 180px;
}

.footer .nav h4 {
	color: #FFFFFF;
	margin: 0;
}

.footer .nav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0 0 0 2px;
}

.footer .nav li {
	padding-left: 11px;
	background: url("/imagesnew/footer_list.gif") no-repeat scroll 0 50% transparent;
}

.footer .nav a {
	color: #FBB017;
}

.footer .info {
	color: #999999;
    font-size: 0.9em;
    text-align: center;
}

.footer .info a {
	color: #FFFFFF;
}


/* SIDEBAR */

.sidebar {
    width: 240px;
    float: left;
    min-height: 1100px;
	/*border-right:2px solid #b6b6b6;
    background: url(/imagesnew/nav-bg-down.png) no-repeat center bottom #F8F4ED;*/
    padding-bottom: 80px;
/*    -webkit-box-shadow: #666 1px 0px 3px;
    -moz-box-shadow: #666 1px 0px 3px;
    box-shadow: #666 1px 0px 3px;
    behavior: url(PIE.htc);
	

    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: #666 0px 0px 3px;
    -moz-box-shadow: #666 0px 0px 3px;
    box-shadow: #666 0px 0px 3px;
    behavior: url(PIE.htc);
	*/

}

.sidebar h1 {
	font-family: 'Wellfleet', cursive;
	text-align:center;
	display:block;
	width:240px;
	background:url(/imagesnew/nav-bg-up.png) no-repeat center top;
	padding:20px 0;
}

.sidebar h1 a {
    color: #7E0122;
    display: block;
}

.sidebar h1 a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #B35E64;
	filter: dropshadow(color=#B35E64, offx=1, offy=1);
}

.sidebar-pic {
    height: 147px;
}

.nav-left {

}

.nav-left li a{
	color:#434343;
    height: 32px;
    border-bottom: 1px solid  #F8F3E7;
    vertical-align: middle;
    line-height: 32px;
    cursor: pointer;
    padding: 0 0 0 20px;
    font-size: 14px;
    display: block;
    text-decoration: none;
}


.nav-left li a:hover {
    background-color: #FCFBF8;
	text-decoration:none;
	color:#222222;
}

.nav-left li a.nohover:hover {
    background-color: #F8F4ED;
    text-decoration:none;
    cursor: text;
}

.nav-left li a.active {
    background: url(/imagesnew/sidebar-nav.png) no-repeat scroll left center transparent;
    border: medium none;
    color: #FFFFFF;
    left: -1px;
    position: relative;
    height:33px;
    line-height:33px;
    width: 253px;
	*width:233px;
}

.have-arrow li{
	background:url(/imagesnew/nav-arrow.png) no-repeat 200px center;
}

.subnav-left li {
    border: none;
    position: relative;
}

.subnav-left li a{
	color:#434343;
	display:block;
	height: 30px;
    padding-left: 40px;
    font-size: 12px;
	line-height:30px;
	background:url(/imagesnew/nav-dot.png) no-repeat 26px center transparent;
	position:relative;
	
}

.subnav-left li a:hover{
	color:#888888;
	background-color:transparent;
	cursor:pointer;
	text-decoration:none;
}

.subnav-left li a.noicon {
	display:inline;
	background:none;
	padding:0;
	line-height:normal;
	color:#2368C7;	
}
.subnav-left li a.noicon:hover{
	text-decoration: underline;
}
.nav-left-faqs{
    font-size: 14px;
    padding-left: 48px;
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
}

.nav-left-faqs:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.icon-navRight {
    margin-left: 30px;
}

/*左侧弹出框*/

.poptips {
    display: none;
    width: 550px;
    min-height: 130px;
    position: absolute;
    background-color: #F5F1E7;
    padding: 22px 15px;
    left: 220px;
    top: -80px;
    z-index: 300;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.poptips img {
    float: left;
    outline: 1px solid #DDDDDD;
    border: 1px solid white;
    margin-right: 18px;
    width: 184px;
    height: 124px;
}

.poptips p {
    float: right;
    width: 340px;
}

#triangle-left {
	border:none;
	margin:0;
	outline:none;
    position: absolute;
	width:8px;
	height:30px;
	left:-8px;
	top:77px;
}

.poptips div {
    float: right;
}

/* FEEDBACK */
#feedback {
    position: fixed;
	background:url(/imagesnew/feedback.jpg) no-repeat;
	width:41px;
	height:143px;
	top:321px;
	left:-7px;
	cursor:pointer;
} 
#feedback:hover{
	left:0;
	
}

/* CONTENT FOOT NOT SURE*/
.FAQ-footer {
    border-top: 1px dashed #DDDDDD;
    margin: 50px 0 0;
    padding: 20px 20px 0;
}
.FAQ-footer h4{
	color:#444444;
	text-align:center;
}
.FAQ-help p {
    color: #434343;
    float: left;
    font-weight: normal;
    text-align: left;
    width: 60%;
	font-size:12px;
}
.btn-enquiry {
    float: right;
	margin: 7px 30px 0 0;
}
.btn-enquiry a {
    color: #FFFFFF;
    display: block;
	background:url(/imagesnew/btn.png) no-repeat -301px -110px;
	width:199px;
	height:43px;
	line-height:43px;
	font-weight:bold;
	font-size:16px;
	text-indent:20px;

}
.btn-enquiry a:hover {
	text-decoration:none;
	background:url(/imagesnew/btn.png) no-repeat -301px -161px;
}
.author-list {
    clear: both;
    margin:20px 0 0;
    text-align: center;
}
.author-list h2{
	color:#434343;
}
.author-list li {
    float: left;
    display: inline-block;
    margin: 0 0 20px 40px;
    text-align: center;
    width: 120px;
}
.author-list li a {
    color: #666666;
    display: block;
    padding-top: 5px;
    text-decoration: none;
	border:1px solid #ffffff;
}
.author-list li a:hover {
    background-color: #F5F5F5;
    border: 1px dashed #E0E0E0;
    margin: 0;
}
.img-icon {
    border: 1px dashed white;
    height: 60px;
    margin: 0 auto;
    outline: 1px solid #DDDDDD;
    overflow: hidden;
    width: 60px;
    display: block;
}

/*火车页面sidebar样式*/
.recommend-h3{
    font-size:14px;
    text-align:center;
    font-weight:bold;
    padding:25px 0 10px;
}
.side-reco{
    cursor: pointer;
    display:block;  
    border:1px solid #F8F4ED;
    padding:10px 10px 25px 10px;
    margin:0 auto;
    color: #434343;
    width:184px;
}
.side-reco:hover{
    background:rgba(243,234,213,0.6);
    border:1px solid #ddd;
}

a.reco-title{
    display:block;
    /*
    background:url("/imagesnew/train_black.png") no-repeat 0 0;
    */
    color:#434343;
    padding: 2px 0 0 20px;
    font-weight:bold;
}

.reco-con{
    text-indent:20px;
}

a.reco-title:hover{
    text-decoration: none;
}

a.reco-click{
    float:right;
    display:block;
    margin-top:5px;
    font-size:11px;
}

a.reco-click:hover{
    
}

.reco-img{
    width:180px;
    height:100px;
    border: 1px solid #DDDDDD;
    padding: 1px;
    background: none repeat scroll 0 0 white;
}

/*火车页面sidebar样式-----end*/

