.tour-container {
	width: 650px;
	margin-top: 45px;
	*margin-bottom: 45px;
	border: 5px solid #ffd8a0;
	position: relative;
	padding: 15px;
	border-radius: 3px;
	behavior: url(PIE.htc);
}
.tour-container h2 {
	text-indent: 45px;
	font-size: 18px;
	*line-height: 18px;
}
.tour-container .des {
	padding-left: 45px;
}
.tour-num {
	display: block;
	position: absolute;
	background: url("/imagesnew/bg-circle.png") no-repeat 0 0;
	width: 61px;
	height: 62px;
	color: #333333;
	left: -13px;
	top: -13px;
	text-align: center;
	line-height: 61px;
	font-size: 24px;
}
.tour-wrap {

}
.tour-info {
	width: 300px;
	float: left;
}
.tour-price {
	position: relative;
	background: url("/imagesnew/bg-arrow-left.png") no-repeat scroll 20px 0 transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 64px;
	margin-left: -35px;
	width: 375px;
	text-indent: 48px;
	font-family: Times New Roman;
	z-index: 3;
}
.tour-price .check-detail {
	background: url("/imagesnew/buyit.png") no-repeat;
	display: block;
	*display: inline;
	float: right;
	*float: none;
	width: 124px;
	font-size:16px;
	height: 36px;
	text-indent: 0;
	margin: 14px 45px 0 0;
	text-align: center;
	line-height: 36px;
	color: #333333;
	font-weight:bold;
}
.tour-price .price-detail {
	height: 60px;
	margin-left: 35px;
	margin-top: -1px;
	width: 282px;
	text-indent:0;
}
.price-detail p{
	font-size:16px;
}
.tour-price .check-detail:hover {
	color: #ffffff;
	text-decoration: none;
}
.tour-info ul {
	border: 1px solid #c8c8c8;
	border-top: none;
	width: 300px;
	margin-bottom: 26px;
}
.tour-info ul p {
	margin-bottom: 8px;
}
.tour-info ul li {
	float: left;
	width: 33%;
	text-align: center;
}
.schedule-wrap {
	display: none;
	background: #f6f1f1;
	background: -moz-linear-gradient(top, #f6f1f1, #ffffff);
	background: -webkit-linear-gradient(top, #f6f1f1, #ffffff);
	background: -o-linear-gradient(top, #f6f1f1, #ffffff);
	background: -ms-linear-gradient(top, #f6f1f1, #ffffff);
	background: linear-gradient(top, #f6f1f1, #ffffff);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#f6f1f1', endColorstr='#ffffff',GradientType=0);
}
.schedule-wrap.select {
	display: block;
}
.cal-wrap {
	border: 1px solid #515151;
	border-top: none;
}
.list-wrap {
	padding-top: 15px;
	height: 250px;
	overflow: auto;
	background: #f6f1f1;
	background: -moz-linear-gradient(top, #f6f1f1, #ffffff);
	background: -webkit-linear-gradient(top, #f6f1f1, #ffffff);
	background: -o-linear-gradient(top, #f6f1f1, #ffffff);
	background: -ms-linear-gradient(top, #f6f1f1, #ffffff);
	background: linear-gradient(top, #f6f1f1, #ffffff);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#f6f1f1', endColorstr='#ffffff',GradientType=0);
}
.list-wrap p {
	margin-top: 0;
	text-align: center;
}
.list-wrap .schedule-list {
	width: 100%;
	text-align: center;
}
.schedule-list .schedule-tr {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.schedule-list .schedule-tr:hover {
	background: #ffebdf;
}
.list-wrap .schedule-list th {
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
	height: 35px;
	vertical-align: middle;
}
.list-wrap .schedule-list td {
	height: 35px;
	vertical-align: middle;
	border-bottom: 1px dashed #dddddd;
}
.tour-info .schedule-tab {
	margin-top: 5px;
	text-align: center;
	height: 27px;
	border: none;
	margin-bottom: 0;
	border-bottom: 2px solid #991926;
}
.tour-info .schedule-tab li {
	width: 25%;
	height: 18px;
	float: left;
	background: #E4E4E4;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E4E4E4), to(#F6F6F6));
	background: -webkit-linear-gradient(#E4E4E4, #F6F6F6);
	background: -moz-linear-gradient(#E4E4E4, #F6F6F6);
	background: -ms-linear-gradient(#E4E4E4, #F6F6F6);
	background: -o-linear-gradient(#E4E4E4, #F6F6F6);
	background: linear-gradient(#E4E4E4, #F6F6F6);
	margin-right: 15px;
	padding: 4px 0px;
	color: #990100;
	border: 1px solid #ccc;
	border-bottom: none;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	behavior: url(PIE.htc);
}
.tour-info .schedule-tab li:hover, .tour-info .schedule-tab li.active {
	text-align: center;
	background: #9B5E5D;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9B5E5D), to(#680001));
	background: -webkit-linear-gradient(#9B5E5D, #680001);
	background: -moz-linear-gradient(#9B5E5D, #680001);
	background: -ms-linear-gradient(#9B5E5D, #680001);
	background: -o-linear-gradient(#9B5E5D, #680001);
	background: linear-gradient(#9B5E5D, #680001);
	-pie-background: linear-gradient(#9B5E5D, #680001);
	color: #fff;
	z-index: 1;
	behavior: url(PIE.htc);
}
.tirp-schedule {
	width: 100%;
	height: auto;
}
.tirp-schedule .group {
	background: none repeat scroll 0 0 #FFBB93;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.tirp-schedule .group:hover {
	background: #f78d10;
}
.tirp-schedule .group a:hover {
	text-decoration: none;
	color: #e8688e;
}
.tirp-schedule .turn-page div {
	position: relative;
}
.schedule-arrow {
	position: absolute;
	background: url("/imagesnew/gray-arrow.png") no-repeat 0 0;
	width: 12px;
	height: 11px;
	left: 12px;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.schedule-arrow:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.arrow-prev {
	top: -70px;
}
.arrow-prev:hover {
	top: -71px;
}
.arrow-next {
	background-position: 0 -11px;
	top: 101px;
}
.arrow-next:hover {
	top: 102px;
}
.tirp-schedule th, .tirp-schedule td {
	border: 1px solid #b1b1b1;
	width: 38px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
}
.tirp-schedule th {
	color: #8d2622;
	font-weight: bold;
}
.tour-intro {
	width: 320px;
	float: right;
}
.tour-intro p {
	line-height: 23px;
}
.tour-intro img {
	width: 320px;
	height: 267px;
}
.tour-intro img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tools-bar {
	margin: 5px 0 18px;
}
.tools-bar .addwish {
	display: block;
	float: right;
	background: url("/imagesnew/itinerary/icon-wish.png") no-repeat left center;
	padding-left: 20px;
}
.funny-font {
	font-family: verdana;
	color: #8c2621;
	font-size: 18px;
}
.departure-wrap .departures {
	float: right;
	width: 200px;
	background: #faf8f7;
	border: 1px solid #dddddd;
	padding: 10px 5px;
}
.departure-wrap .left-flower {
	background: #faf8f7 url("/imagesnew/departure-bg.png") no-repeat left top;
}
.departure-wrap .right-flower {
	background: #faf8f7 url("/imagesnew/departure-bg2.png") no-repeat right bottom;
}
.departure-wrap .departures h2 {
	padding: 0;
	text-align: center;
}
.departure-wrap #departures-monthly .departure-month {
	margin-left: 3px;
}
.departures p {
	font-size: 12px;
}
.wide-foot {
	float: left;
	margin-top: -115px;
	width: 946px;
}
.wide-foot .btn-enquiry a {
	text-indent: 6px;
}
.faq-intro {
	margin-left: 108px;
}
.wide-foot .author-list {
	padding-left: 70px;
}
.trip-tips h2, h3, h4 {
	font-size: 18px;
	margin: 0 0 15px;
}