.tour-container {
	width: 690px;
	margin-top: 45px;
	border: 3px solid #ffd8a0;
	position: relative;
	padding: 15px;
	border-radius: 3px;
	behavior: url(PIE.htc);
}

.tour-container h2 {
	text-indent: 45px;
	font-size: 18px;
}

.tour-container .des {
	padding-left: 45px;
}

.tour-num {
	display: block;
	position: absolute;
	background: url("/imagesnew/bg-circle.png") no-repeat 0 0;
	width: 61px;
	height: 62px;
	color: #333333;
	left: -13px;
	top: -13px;
	text-align: center;
	line-height: 61px;
	font-size: 24px;
}

.tour-wrap {
	
}

.tour-info {
	width: 300px;
	float: left;
}

.tour-price {
	background: url("/imagesnew/bg-arrow-left.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 16px;
    height: 71px;
    line-height: 71px;
    margin-left: -35px;
    padding-left: 66px;
    width: 337px;
}

.tour-price .check-detail {
	display: block;
	float: right;
	width: 110px;
	height: 40px;
	border-radius: 3px;
	background: #fee6c1;
	border: 1px solid #cc8a71;
	margin: 14px 75px 0 0;
	text-align: center;
	line-height: 40px;
	color:#333333;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.tour-price .check-detail:hover {
	color: #9c3829;
	text-decoration: none;
}

.tour-info ul{
	border: 1px solid #c8c8c8;
	border-top: none;
	width: 300px;
	margin-bottom: 26px;
}

.tour-info ul p{
	margin-bottom: 8px;
}

.tour-info ul li {
	float: left;
	width: 33%;
	text-align: center;
}

.schedule-wrap {
	border: 1px solid #515151;
	margin-top: 20px;
}

.tirp-schedule {
	width: 100%;
	height: auto;
}

.tirp-schedule .turn-page div{
	position: relative;
}

.schedule-arrow {
	position: absolute;
	background: url("/imagesnew/gray-arrow.png") no-repeat 0 0;
	width: 12px;
	height: 11px;
	left: 12px;
	cursor: pointer;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.schedule-arrow:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.arrow-prev {
    top: -70px;
}

.arrow-prev:hover {
	top: -71px;
}

.arrow-next {
	background-position: 0 -11px;
	top: 101px;
}

.arrow-next:hover {
	top: 102px;
}

.tirp-schedule th,td {
	border: 1px solid #b1b1b1;
	width: 38px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
}

.tirp-schedule th {
	color: #8d2622;
}

.tour-intro {
	width: 350px;
	float: right;
	margin-right: 10px;
}

.tour-intro p {
	line-height: 23px;
}

.tour-intro img {
	width: 350px;
	height: 267px;	
}

.tools-bar {
	margin: 5px 0 18px;
}

.tools-bar .addwish {
	display: block;
	float: right;
	background: url("/imagesnew/itinerary/icon-wish.png") no-repeat left center;
	padding-left: 20px;
}

.funny-font {
	font-family: Poor Richard;
	color: #8c2621;
	font-size: 16px;
}

.departure-wrap .departures {
	float: right;
	width: 200px;
	background: #faf8f7;
	border: 1px solid #dddddd;
	padding: 10px 5px;
}

.departure-wrap #departures-monthly .departure-month {
	margin-left: 3px;
}
