.content-head {
	background: url(/imagesnew/hotel-index.jpg) no-repeat;
	width: 680px;
	min-height: 265px;
	margin-bottom: 8px;
}
.content-head h3 {
	color:#fff;
	text-align:center;
	padding-top: 15px;
}
.content-head p {
	color: #FFF;
	text-align: left;
	padding: 20px 50px 0px 15px;
}
.hotel-tag {
	padding-left: 13px;
	text-align: center;
	height: 27px;
	*height: 28px;
}
.hotel-tag li {
	height: 18px;
    float:left;
    background: #E4E4E4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E4E4E4), to(#F6F6F6));
    background: -webkit-linear-gradient(#E4E4E4, #F6F6F6);
    background: -moz-linear-gradient(#E4E4E4, #F6F6F6);
    background: -ms-linear-gradient(#E4E4E4, #F6F6F6);
    background: -o-linear-gradient(#E4E4E4, #F6F6F6);
    background: linear-gradient(#E4E4E4, #F6F6F6);
    margin-right: 15px;
    padding:4px 10px;
    color:#990100;
    border:1px solid #ccc;
    border-bottom:none;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    cursor:pointer;
    position:relative;
    z-index:1;
    behavior: url(PIE.htc);
}
.hotel-tag li:hover {
	text-align: center;
    background: #9B5E5D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9B5E5D), to(#680001));
    background: -webkit-linear-gradient(#9B5E5D, #680001);
    background: -moz-linear-gradient(#9B5E5D, #680001);
    background: -ms-linear-gradient(#9B5E5D, #680001);
    background: -o-linear-gradient(#9B5E5D, #680001);
    background: linear-gradient(#9B5E5D, #680001);
    -pie-background: linear-gradient(#9B5E5D, #680001); 
    color:#fff;
    border-color:#935655;
    z-index:1;
    behavior: url(PIE.htc);
}
.hotel-tag li.active {
	text-align: center;
    background: #9B5E5D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9B5E5D), to(#680001));
    background: -webkit-linear-gradient(#9B5E5D, #680001);
    background: -moz-linear-gradient(#9B5E5D, #680001);
    background: -ms-linear-gradient(#9B5E5D, #680001);
    background: -o-linear-gradient(#9B5E5D, #680001);
    background: linear-gradient(#9B5E5D, #680001);
    -pie-background: linear-gradient(#9B5E5D, #680001); 
    color:#fff;
    border-color:#935655;
    z-index:1;
    behavior: url(PIE.htc);
}
.hotel-list {
	border: 1px solid #993333;
	border-top: solid #993333 3px;
	padding: 10px 5px;
	text-align: left;
	margin: 0 0 20px 0;
}
.hotel-list li {
	list-style-type: none;
	display: inline;
	color: #222222;
	font-size: 12px;
	background: none repeat scroll 0 0 #FFEED7;
	list-style-type: none;
	padding: 0 6px;
	*margin-left: 3px;
}
.hotel-tag-title {
	background: rgb(253,201,132); /* Old browsers */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(253,201,132,1)), color-stop(11%,rgba(255,148,4,1)), color-stop(33%,rgba(255,255,255,1)), color-stop(67%,rgba(255,255,255,1)), color-stop(90%,rgba(255,148,4,1)), color-stop(100%,rgba(253,201,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(253,201,132,1) 0%,rgba(255,148,4,1) 11%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,148,4,1) 90%,rgba(253,201,132,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(253,201,132,1) 0%,rgba(255,148,4,1) 11%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,148,4,1) 90%,rgba(253,201,132,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(253,201,132,1) 0%,rgba(255,148,4,1) 11%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,148,4,1) 90%,rgba(253,201,132,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(253,201,132,1) 0%,rgba(255,148,4,1) 11%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,148,4,1) 90%,rgba(253,201,132,1) 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#fdc984', endColorstr='#fdc984',GradientType=1 ); /* IE6-8 */
	background: url(/imagesnew/recommended-bg.png) no-repeat 0 0;
	border-top: 3px solid #991926;
	width: 680px;
	height: 30px;
	line-height: 27px;
	text-align: center;
}

.content-head2 h2{
margin:10px 0;
}
.content-head2{
	margin-bottom:10px;
}
.butspanlike span{
	background:#EEEDEE url(/imagesnew/arrrow-big-down.png) no-repeat 98% 59%;
    border: 1px solid #717171;
    border-radius: 3px 3px 3px 3px;
    color: #434343;
    display: inline-block;
    margin: 4px 6px;
    padding: 0 15px 0 6px;
    cursor:pointer;
    
}

.recommended-hotel {
	display: none;
}
.img210 {
	width: 210px;
	height: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.aboutcontent {
	background: url(/imagesnew/tripadvisor-bgy.png) no-repeat 303px 0;
	float: left;
	width: 300px;
	padding-right: 10px;
}
.hotel-content {
	width: 435px;
	height: 65px;
	overflow: hidden;
	float: left;
}
.morespan {
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	float: right;
	left: -18px;
	position: relative;
	top: -19px;
}
.trip-advisory-zone {
	width: 130px;
	height: 15px;
	float: right;
	background: url("../images/tibet_hotels/tripadvisor.png") no-repeat scroll 0 0 transparent;
	clear: right;
	margin-top: 9px;
	padding-top: 30px;
	padding-left: 5px;
}
.hotel-table {
	width: 100%;
	text-align: center;
	border-top: 1px solid #ffd7a2;
	border-bottom: 1px solid #ffd7a2;
	margin-top: 10px;
}
.hotel-table tr {
	border-top: 1px solid #ffeed7;
	height: 28px;
	line-height: 28px;
}
.hotel-book {
	text-align: center;
	width: 120px;
}
.hotel-book a {
	margin-left: 32px
}
.hotel-allroom {
	text-align: right;
	margin: 5px 8px 0 0;
}
.hotel-allroom a {
	color: #D35400;
}
.hotel-roomtype {
	padding-left: 18px;
	background: url(/imagesnew/room-icon.png) no-repeat left center;
}
.hotel-roomtype a {
	padding-right: 10px;
	background: url(/imagesnew/room-show.png) no-repeat right center;
	color: #D35400;
}
.hotel-roomtype a:hover {
	text-decoration: none;
}
.hotel-roomtype a.active {
	background: url(/imagesnew/room-hide.png) no-repeat right center;
}
.hotel_roomspan {
	float: right;
	height: 55px;
	padding-top: 25px;
	text-align: left;
	width: 495px;
}
.roomtype-pic {
	display: none;
	background: none repeat scroll 0 0 #FFF7ED;
}
.roomtype-pic td {
	border-bottom: 1px solid #FFEED7;
	padding: 0 25px;
}
.roomtype-pic td img {
	float: left;
}
.roomtype-pic td span {
	float: right;
	height: 55px;
	padding-top: 25px;
	text-align: left;
	width: 495px;
}
.hotel-table th {
	background: #ffeed7;
	color: #D35400;
}
.hotel-table {
	text-align: center;
	border-top: 1px solid #ffd7a2;
	border-bottom: 1px solid #ffd7a2;
	margin-top: 10px;
	text-align: left;
}
.hotel-table tr {
	border-top: 1px solid #FFEED7;
	height: 28px;
	line-height: 28px;
}
.hotel-table th {
	background: none repeat scroll 0 0 #FFEED7;
	color: #D35400;
}
.hotel-table td, .hotel-table th {
	border-bottom: 1px solid #FFEED7;
	padding: 0 20px;
}
.hotel_roomico {
	background: url(/imagesnew/room-icon.png) no-repeat scroll left center transparent;
	padding-left: 18px;
}
.hotel_roomico a {
	background: url(/imagesnew/room-show.png) no-repeat scroll right center transparent;
	color: #D35400;
	padding-right: 10px;
	cursor: pointer;
}
.hotel_roomico a:hover {
	text-decoration: none;
}
.hotel-table tr td a.inquiry {
	font-size: 11px;
	height: 22px;
	line-height: 22px;
	width: 67px;
	
	background: url(/imagesnew/btn.png) no-repeat scroll -303px 0; 
	/*
	background-position: -303px 0;
	*/
	color: #FFFFFF;
	display: block;
	text-align: center;
}
.hotel-table tr td a.inquiry:hover {
	background-position: -303px -39px;
	text-decoration: none;
}
tr.hotel_roomtr {
	display: none;
}
.colorbg01 {
	background: #F7ABAB
}
.colorbg02 {
	background: #94B770
}
.colorbg03 {
	background: #D2C940
}
.colorbg04 {
	background: #4C94DB
}
.checkhotels {
	float: right;
	margin: 6px 17px 15px 0;
}
.lhasa select {
	margin-right: 30px;
}

.map_container {
	position: absolute;
	border-top: 3px solid #993333;
}

#map_canvas {
    /*margin-top: 50px;*/
    height: 500px;
    width: 680px;
}
