.sortCities {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #D1D1D1;
    margin-top: 10px;
    padding: 0;
	width:240px;
}
.sortCities h3 {
    background: none repeat scroll 0 0 #929292;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    margin: 0 0 10px;
    padding-left: 10px;
    padding-top: 4px;
    position: relative;
}
.sortCities .viewedhotel {
    padding: 0 5px;
}
.sortCities .viewedhotel .viewhotelList {
    border-bottom: 1px dashed #D1D1D1;
    padding: 5px 3px;
}
.sortCities .viewedhotel .viewhotelPic {
    float: left;
    height: 50px;
    position: relative;
    width: 50px;
}
.sortCities .viewedhotel .viewhotelPic img.hotelSmal {
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.sortCities .viewedhotel .viewhotelInfo {
    float: left;
    padding-left: 8px;
    width: 130px;
}
.sortCities .viewedhotel .viewhotelInfo h5 {
    font-size: 11px;
    font-weight: 100;
    margin: 0 0 3px;
    padding: 0;
}
.sortCities .viewedhotel .viewhotelInfo h5 a {
    color: #0D548A;
    text-decoration: none;
}
img, ul, ul li {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.sortCities .viewedhotel .viewhotelList a.closeWindow {
    background: url("/imagesnew/reviewd/iconremove.gif") no-repeat scroll left top transparent;
    display: block;
    float: right;
    height: 14px;
    width: 14px;
}
.clear {
    clear: both;
    height: 0;
	border:0;
	width:100%;
}
.sortCities .sendToFriend {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}
.sortCities .sendToFriend h4 {
    color: #A31022;
    font-size: 11px;
    font-weight: 100;
    margin: 5px 0;
}
.sortCities .sendToFriend img {
    border: 4px solid #F1F1F1;
    margin: 0 5px 0 0;
}