.headtop {
	width: 970px;
	margin: 0 0 15px;
	background:url("/imagesnew/index/headbg.png") repeat-y #f4f0e7;
	padding: 15px 0 21px 0;
	border-bottom:1px solid #eeeeee;
}
.banner {
	width: 665px;
	height: 333px;
	margin: 0 0 0 15px;
	float: left;
	position: relative;
}
.banner ul li {
	position: absolute;
	left: 0;
	top: 0;
}
.banner ul li img{
	border:1px solid #ddd;
	padding:1px;
	background:#ffffff;
}
.banner h1 {
	position: absolute;
	left: 20px;
	top: 35px;
	color: #ebac01;
	font: italic 30px /32px times New Roman;
}
.banner h1 span {
	font-size: 16px;
	text-indent: 20px;
	margin: 0 0 0 53px;
}
.banner p {
	position: absolute;
	width: 650px;
	height: 67px;
	padding: 15px 0 0 10px;
	margin: 0;
	left: 2px;
	bottom: -2px;
	line-height: 25px;
	color: #222;
	background: url("/imagesnew/index/banner-p.png") no-repeat 0 0;
}
.tc {
	width: 260px;
	margin: 0 15px 0 0;
	padding: 40px 0 0 0;
	float: right;
	text-align: center;
}
.tc-list {
	background: url("/imagesnew/index/tc-line.png") no-repeat top center;
	padding: 20px 0 0 0;
}
.tc-list li {
	float: left;
}
.tc-list li a {
	text-decoration: none;
	color: #7E0122;
}
.tc-list li a:hover {
	color: #434343;
	opacity: 0.8;
}
.tc-list img {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	margin: 0 5px;
}
.tc-list span {
	display: block;
}
.talkto {
	display: block;
	float: left;
	font: italic 24px  /43px times New Roman;
	margin: 20px 32px;
	width: 199px;
	height: 43px;
	background: url("/imagesnew/btn.png") no-repeat scroll center -320px #D94343
}
.aside {
	width: 258px;
	min-height: 600px;
	border: 1px dashed red;
	float: right;
	margin: 0 15px 0 0;
}
.section {
	width: 663px;
	float: left;
	margin: 0 0 15px 15px;
	min-height: 200px;
	background: url("/imagesnew/index/bg-section.png") no-repeat left top #ECE4D2;
}
.section h4 {
	color: #ffffff;
	font-weight: bold;
	margin: 10px 0 10px 15px;
}
.section-content {
	padding: 3px 10px 0 15px;
	color: #7d7d7d;
}
.section-one {
	background: url("/imagesnew/index/bg-gtour.jpg") no-repeat left bottom;
	height: 333px;
}
.g-tour-list {
	width: 296px;
	float: right;
}
.g-tour-list li {
	background: url("/imagesnew/index/bg-gtour-list.png") no-repeat 0 0;
	width: 296px;
	height: 82px;
	padding: 10px 0;
	margin: 5px 0 0 5px;
}
.g-tour-list li h3 a {
	color: #FED022;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	margin: 5px 0 0 58px;
	width: 147px;
	display: block;
}
.btn-check {
	background: url("/imagesnew/index/bg-check.png") no-repeat scroll 0 0 transparent;
	color: #434343;
	display: block;
	float: left;
	font-size: 11px;
	height: 22px;
	line-height: 22px;
	margin: 6px 0 0 58px;
	text-indent: 7px;
	width: 95px;
}
.btn-check:hover {
	color: #971e2d;
	text-decoration: none;
}
.g-price {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin: 8px;
	float: left;
}
.g-discount {
	float: right;
	font-weight: bold;
	font-size: 24px;
	margin: 8px 12px;
}
.p-tour-list {
	float: right;
	margin-right: 105px;
}
.p-tour-list li {
	margin-bottom: 12px;
}
.p-tour-list li a {
	color: #c12b39;
}
.more-tour {
	display: block;
	width: 128px;
	margin: 0 0 20px 400px;
	color: #7d7d7d;
}
