.homewrap{
	margin-top:23px;
} 

.headtop {
	width: 970px;
	margin: 0 0 15px;
	background: url("/imagesnew/index/headbg.png") repeat-y #f4f0e7;
	padding: 15px 0 21px 0;
	border-bottom: 1px solid #eeeeee;
}
.headtop .about {
	width: 940px;
	float: left;
	margin: 15px 0 0 15px;
}
.headtop .about a{
	padding-left:30px;
	text-decoration:none;
	background:url("/imagesnew/index/about-a.png") left center no-repeat;
}
.headtop .about a.check-a{
    float:right;
    margin-right:124px;
}
.headtop .about a:hover{
	color:#7E0122;
}
.banner {
	width: 665px;
	height: 288px;
	margin: 0 0 0 15px;
	float: left;
	position: relative;
}
.banner ul li {
	position: absolute;
	left: 0;
	top: 0;
}
.banner ul li img {
	width: 650px;
	height: 288px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #ffffff;
}
/*
.banner h1 {
	position: absolute;
	left: 20px;
	top: 35px;
	color: #ebac01;
	font: italic 30px /32px times New Roman;
}
.banner h1 span {
	font-size: 16px;
	text-indent: 20px;
	margin: 0 0 0 53px;
}
.banner p {
	position: absolute;
	width: 650px;
	height: 67px;
	padding: 15px 0 0 10px;
	margin: 0;
	left: 2px;
	bottom: -2px;
	line-height: 25px;
	color: #222;
	background: url("/imagesnew/index/banner-p.png") no-repeat 0 0;
}
*/
.tc {
	width: 260px;
	margin: 0 19px 0 0;
	padding: 40px 0 0 0;
	float: right;
	text-align: center;
}
.tc h3{
	font: italic 18px /20px times New Roman;
}
.tc-list {
	background: url("/imagesnew/index/tc-line.png") no-repeat top center;
	padding: 20px 0 0 0;
}
.tc-list li {
	float: left;
}
.tc-list li a {
	text-decoration: none;
	color: #434343;
}
.tc-list li a:hover {
	color: #7E0122;
	opacity: 0.8;
}
.tc-list img {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	margin: 0 5px;
}
.tc-list span {
	display: block;
}
.talkto {
	background: url("/imagesnew/btn.png") no-repeat scroll center -320px #D94343;
	display: block;
	float: left;
	height: 31px;
	line-height:31px;
	font-size:15px;
	margin: 20px 59px;
	width: 147px;
}
/*---右侧边栏样式--*/
.aside {
	width: 260px;
	min-height: 600px;
	float: right;
	margin: 0 15px 0 0;
}
.aside a.more{
    float:right;
}
.aside h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin: 0 0 10px 0;
}
.board{
	text-align:center;
	border:1px dashed #ddd;
	margin:0 0 20px 0;
	padding:10px 0;
	font-family:times New Roman;
	font-size:18px;
}

.iconlist {
	width: 258px;
	margin: 5px 0 38px 0;
}
.iconlist li {
    margin:5px 0;
	display: block;
	float: left;
}
.iconlist li a {
	margin-top:3px;
	text-align: center;
	display: block;
	float: left;
	color: #434343;
	width: 60px;
	height: 20px;
	padding: 35px 2px 5px 2px;
	color: #434343;
	font-family:Arial, Verdana;
	font-size: 11px;
	line-height: 1;
	text-decoration: none;
	background-image: url("/imagesnew/sprite01.png");
}
.iconlist li a:hover {
	color: #7E0122;
	text-decoration: none;
}
.permit-ico a {
	background-position: 18px 4px;
}
.permit-ico a:hover {
	background-position: 18px -106px;
}
.altitude-ico a {
	background-position: -66px 0px;
}
.altitude-ico a:hover {
	background-position: -66px -110px;
}
.pack-ico a {
	background-position: -150px -0px;
}
.pack-ico a:hover {
	background-position: -150px -110px;
}
.accommodation-ico a {
	background-position: -234px -2px;
}
.accommodation-ico a:hover {
	background-position: -234px -112px;
}
.train-ico a {
	background-position: -320px -3px;
}
.train-ico a:hover {
	background-position: -320px -113px;
}
.beijing-ico a {
	background-position: -405px -4px;
}
.beijing-ico a:hover {
	background-position: -405px -114px;
}
.nepal-ico a {
	background-position: 20px -218px;
}
.nepal-ico a:hover {
	background-position: -236px -213px;
}
.road-ico a {
	background-position: -66px -218px;
}
.road-ico a:hover {
	background-position: -322px -213px;
}
.chengdu-ico a {
	background-position: -151px -218px;
}
.chengdu-ico a:hover {
	background-position: -407px -213px;
}
/*-recent-inqiuries-*/
.Recent-Inquiry {
	height: 305px;
	margin-bottom: 57px;
	overflow: hidden;
}
.Recent-Inquiry ul li {
	background: url("/imagesnew/itinerary/list-circle.png") no-repeat scroll left 4px transparent;
	padding: 0 0 8px 14px;
}
.Recent-Inquiry ul li a {
	color: #7E0122;
}
.latestnews{
    margin:0 0 59px 0;
}
.list3 {
	list-style: none outside none;
	padding: 0;
}
.list3 li {
	background: url("../img/list02.gif") no-repeat scroll 0 3px transparent;
	padding-left: 14px;
	margin:5px 0;
}
a {
	color: #2368C7;
	text-decoration: none;
}
.list3 .time {
	display: block;
}
.time {
	color: #666666;
	font-size: 0.9em;
	font-style: italic;
}
/*--右侧边栏样式   结束---*/
.section {
	width: 648px;
	margin: 0 0 30px 15px;
	float: left;
	min-height: 200px;
	background: url("/imagesnew/index/bg-section.png") no-repeat left top;
	border: 1px solid #932812;
}
.section p {
	margin: 25px 15px 20px;
}
.section h4 {
	color: #ffffff;
	font-weight: bold;
	margin: 10px 0 10px 15px;
}
.section-content {
	padding: 3px 10px 0 15px;
	color: #434343;
}
.section-content img {
	outline: 1px solid #DDDDDD;
    	padding: 1px;
}
.section-one {
	background: url("/imagesnew/index/bg-gtour.jpg") no-repeat left bottom;
	height: 257px;
}
.section.last {
	margin-bottom: 50px;
}
.g-tour-list {
	float: right;
	margin: 0 10px 0 0;
}
.g-tour-list li {
	background: url("/imagesnew/index/bg-gtour-list.png") no-repeat 0 0;
	width: 303px;
	height: 73px;
	padding: 10px 0 0;
	margin: 4px 0 0 5px;
}
.g-tour-list li h3 a {
	color:#7E0122;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	display: block;
	margin: 0 10px;
	overflow: hidden;
	width: 278px;
	text-decoration:none;
	height: 32px;
}
.g-tour-list li h3 a:hover {
	
	color: #434343;
}
.g-tour-list p {
	margin: 0;
}
.btn-check {
	background: url("/imagesnew/index/bg-check.png") no-repeat scroll 0 0 transparent;
	color: #434343;
	display: block;
	float: right;
	font-size: 11px;
	height: 22px;
	line-height: 22px;
	margin: 5px 25px 0 12px;
	text-indent: 7px;
	width: 95px;
}
.btn-check:hover {
	color: #971e2d;
	text-decoration: none;
}
.g-price {
	font-size: 18px;
	font-weight: bold;
	margin: 6px;
	float: right;
}
.g-price .price-s {
	font-size: 15px;
}
.p-tour-list {
	float: right;
	margin-right: 7px;
}
.p-tour-list li {
	margin-bottom: 12px;
	background: url("../images/list02.gif") no-repeat scroll 5px 3px transparent;
	padding-left: 15px;
	width: 310px;
	position: relative;
}
.p-tour-list li a {
	color: #2368C7;
	text-decoration: none;
}
.p-tour-list li a:hover {
	color:#7E0122;
}
.p-tour-list .price-from {
	color: #7E0122;
	font-weight: bold;
	margin-left: 10px;
	position: absolute;
   	right: 0;
}

.more-tour {
	display: block;
	margin:7px 2px 14px 555px;
	color: #2368C7;
}
.more-tour:hover {
	text-decoration: none;
	color: #7E0122;
}
.inline-list li {
	float: left;
	text-align: center;
}
.inline-list li img:hover {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
}
.inline-list li a {
	display: block;
	color: #434343;
	font-weight: bold;
	text-decoration:none;
}
.inline-list li a:hover {
	color: #7E0122;
}
.expat-list li {
	margin: 0px 0 9px 8px;
}
.expat-list li a {
	position: relative;
}
.expat-list .caption {

	width: 144px;
	position: absolute;
	padding: 3px;
	bottom: 5px;
	left: 1px;
	background: rgba(0,0,0,0.3);
	color: #ffffff;
}
.expat-list .caption h5 {
	font-weight: bold;
	line-height: 13px;
	color: #ffffff;
	font-size: 13px;
}
.expat-list .caption p {
	display: none;
	font-size: 11px;
	line-height: 13px;
	margin: 5px 0 0;
	font-weight: normal;
}
.expat-list img {
	width: 150px;
	height: 110px;
	outline: 1px solid #FFFFFF;
	padding: 1px;
}
.theme-list{
	margin-bottom:20px;
}
.theme-list li {
	margin: 0 0 0 21px;
	width:190px;
}
.theme-list img {
	width: 190px;
	height: 130px;
	border-radius: 3px;
}
.tour-list {
	border: 1px solid #dddddd;
	border-bottom: none;
	margin: 23px 10px 10px;
}
.tour-list li {
	border-bottom: 1px solid #dddddd;
	background: url("/imagesnew/tour-index/tour-list-bg.png") repeat-x 0 0 #fff6d3;
}
.tour-list li a {
	display: block;
	height: 64px;
	padding: 6px;
}
.tour-list .tour-thumb {
	width: 85px;
	height: 55px;
	float: left;
	margin: 4px 15px 4px 0;
}
.tour-list li a:hover {
	background: #f7e2ab;
	text-decoration: none;
}
.tour-info2 {
	float: left;
	color: #333333;
	width: 450px;
}
.tour-info2 .tour-name {
	font-weight: bold;
	color: #4694EC;font-size; 14px;
}
.tour-info2 p {
	font-size: 13px;
	margin: 9px 0 0 0;
}

.hreview {
    background: url("/imagesnew/index/review-bg.png") no-repeat scroll 0 0 transparent;
    padding: 10px 10px 0;
    margin:13px 0 0 5px;
}
.hreview .cont a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.hreview .userinfo {
    padding: 12px 0 0 28px;
}
.hreview .userinfo .time {
    color: #666666;
    font-size: 0.9em;
    font-style: italic;
}
