/*ITINERARY HEAD*/

.itinerary-wrap {
    margin:0 auto;
    background: #FFFFFF;
    width: 970px;
    position:relative;
    min-height: 900px;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: #666 0px 0px 3px;
    -moz-box-shadow: #666 0px 0px 3px;
    box-shadow: #666 0px 0px 3px;
    behavior: url(PIE.htc);
}

.tour-info {
	padding: 30px 10px 10px;
	background: url(/imagesnew/itinerary/bg-head.png) repeat-x left top;
}

.tour-info h1 {
    height: 30px;
    line-height: 30px;
}

.tour-info h1 img {
	float: left;
	margin-right: 5px;
}

.tour-sub {
    margin: 15px 0;
    text-align: left;
    font-style: italic;
    padding-right: 55px;
}

.tour-sub .tour-price {
	font-size: 15px;
    float: right;
    font-style: normal;
}

.light-price {
    color: #c73838;
    font-size: 24px;
}

.tour-des {
    float: left;
    width: 720px;
}

.tour-des .tour-pic-gallery{
    float: left;
    width: 360px;
    height: 245px;
}

.view-gallery {
	display: block;
	font-size: 16px;
	text-align: center;
	color: #5ec1f3;
}

.view-gallery:hover {
	color: #17a6ed;	
	text-decoration: none;
}

.tour-des .des-detail {
    float: right;
}

.des-detail ul li{
    margin: 0 0 20px 0;
    width: 285px;
}

.trip-for ul {
	margin-top: 15px;
	background: #ffffff;
}

.trip-for ul li{
	cursor: pointer;
    float: left;
    width: 110px;
    margin-left: 2px;
    text-align: center;
    border: 1px solid #fafafa;
}

.trip-for ul li img {
    display: block;
    margin: 0 auto;
}

.tour-glance {
    float: right;
    width: 200px;
}

.tour-glance li {
    margin: 10px 0;
    padding-left: 40px;
    line-height: 23px;
    background: url(/imagesnew/sample/glance.png) no-repeat left center;
    height: 23px;
}

.tour-glance li.first {
	background: none;
	font-weight: bold;
	padding-left: 0;
}

.share-tools {
	height: 37px;
	background: url(/imagesnew/itinerary/bg-share.png) no-repeat right center;
	margin: 0 20px 17px 0;
	width: 100%;
}

.share-tools .add-wish {
	float: right;
	display: block;
	background: url(/imagesnew/itinerary/icon-wish.png) no-repeat left center;
	height: 18px;
	padding-left: 18px;
	margin: 8px 110px 8px 0;
}

/*ITINERARY BODY*/
.tour-detail {
	padding: 0 20px;
}

.tour-detail h2 {
	margin-bottom: 20px;
	font-size: 18px;
	background: url(/imagesnew/itinerary/bg-h2.png) repeat-x left top #fffefd;
	height: 35px;
	line-height: 40px;
}

.tour-tab {
	height: 36px;
	border-bottom: 2px solid #b03935;
}

.tour-tab li {
	float: left;
	color: #8a2321;
	font-weight: bold;
	height: 36px;
	background: url(/imagesnew/itinerary/tab-itinerary.png) no-repeat;
	margin-left: 10px;
}

.tour-tab li a {
	color: #8A2321;
	display: block;
	height: 36px;
	text-align: center;
	line-height: 36px;
}

.tour-tab li a:hover, .tour-tab li a.active {
	text-decoration: none;
	color: #FFFFFF;
}

.tour-tab .tab-detail {
	width: 162px;
	background-position: 0 -36px;
}

.tour-tab .tab-detail.active ,.tab-detail:hover {
	background-position: 0 1px;
}

.tour-tab .tab-price {
	width: 230px;
	background-position: -168px -36px;
}

.tab-price.active, .tab-price:hover {
	background-position: -168px 1px;
}

.tour-tab .tab-faq {
	background-position: -403px -36px;
    width: 117px
}

.tab-faq.active, .tab-faq:hover {
	background-position: -403px 1px;
}

.tour-tab .tab-review {
	background-position: -523px -36px;
    width: 106px;
}

.tab-review.active, .tab-review:hover {
	background-position: -523px 1px;
}

.tour-tab li.last {
	background: none;
	float: right;
	margin: -7px 0 0 0;
}

.tour-tab li.last a {
	color: #FFFFFF;
	text-align: left;
}

.tour-tab li.active {
	color: #FFFFFF;
}

.tour-intro {
	background: url("/imagesnew/itinerary/bg-top-intro.png") no-repeat scroll center -1px #FAF8F7;
    border-left: 1px solid #865F58;
    border-right: 1px solid #865F58;
    border-top: 1px solid #865F58;
    margin: 20px 0 0;
    padding: 18px 0;
    width: 918px;
}

.tour-intro p {
	margin-top: 20px;
}

.tour-intro-foot {
	background: url(/imagesnew/itinerary/bg-bottom-intro.png) no-repeat -1px 0 #FAF8F7;
	height: 34px;
	width: 923px;
}

.tc-say {
	float: left;
	margin-left: 20px;
	width: 550px;
}

.tc-say ul li {
	background: url(/imagesnew/itinerary/icon-list.png) no-repeat left top;
	padding-left: 20px;
	margin: 24px 0 0 0;
}

.tc-say h2 {
	background: none;
}

.tc-say h3 {
	margin-top: 20px;
}

.tailoring {
	float: right;
	margin-right: 20px;
	width: 300px;
	border-left: 1px solid #f1ebe7;
	padding-left: 22px;
}

.tailoring h2 {
	font-size: 16px;
	background: url(/imagesnew/itinerary/bg-tailoring-title.png) no-repeat right bottom;
	height: 35px;
	line-height: 35px;
	color: #323232;
	padding-left: 24px;
}

.tailoring ul li{
	background: url(/imagesnew/itinerary/list-circle.png) no-repeat left 3px;
	padding-left: 20px;
	margin: 24px 0 0 0;
}

.itinerary-full {
	margin-top: 40px;
	width: 100%;
}

#itinerary {
	float: left;
	margin-right: 30px;
	width: 590px;
}

#itinerary .dayCloum {
	border-radius: 5px;
	behavior: url(PIE.htc);
	border: 1px solid #FFD7A2;
    margin: 12px 0 50px 0;
    width: 590px;
    float: left;
}

.dayCloum dt span {
	color: red;
    font-size: 16px;
    margin-right: 5px;
}

.dayCloum > div {
	background: url(/imagesnew/itinerary/day_line.png) repeat-x scroll 0 0 #FFF4EF;
    width: 590px;
    margin: 2px 0;
    float: left;
}

.dayCloum dt {
	font: bold 13px Arial,Helvetica,sans-serif;
    padding: 15px 10px;
}

.dayCloum dt + dd {
	/*background: url(/imagesnew/itinerary/shadow.png) no-repeat scroll right bottom transparent;
	 * 
	 */
	border: 1px solid #c6cacc;
	padding: 2px;
	background: #FFFFFF;
    float: right;
    margin: 0 20px 10px 40px;
    width: 202px;
}

.dayCloum dt + dd img {
	display: block;
	margin: 0 auto;
}

.dayCloum dt + dd + dd p {
	line-height: 150%;
    margin-bottom: -2px;
    padding: 0 20px 10px 10px;
}

.dayCloum > div + dd {
    width: 590px
}



.itinerary-right {
	float: right;
}

.price-book {
	min-height: 360px;
	border: 1px solid #eeeeee;
	padding: 20px 10px;
	background: url(/imagesnew/itinerary/bg-price-book.png) repeat-x left bottom #fffefd;
}

.price-book h3 {
	color: #323232;
	font-size: 15px;
	margin-bottom: 16px;
}

.price-left {
	float: left;
	width: 500px;
}

.price-left ul li {
	padding-left: 18px; 
	margin-bottom: 6px;
	line-height: 14px;
}

.price-include li {
	background: url(/imagesnew/itinerary/list-correct-red.png) no-repeat left top;
}

.price-nonclude li {
	background: url(/imagesnew/itinerary/list-none-red.png) no-repeat left top;
}

.price-right {
	float: right;
	width: 320px;
	margin-left: 30px;
	background: #FFFFFF;
	padding-left: 20px;
}

.price-right p {
	margin-bottom: 25px;
}

.price-right .first {
	border-bottom: 1px solid #e2e1e1;
	padding-bottom: 20px;
}

.book-step {
	border-top: 1px dashed #656565;
	margin-top: 30px;
	padding-top: 25px;
}

.book-step h3 {
	color: #333333;
	font-size: 16px;
	margin: 0 0  30px 30px;
}

.book-step img {
	display: block;
	margin: 0 auto 20px;
}

.book-step ul {
	padding: 0 30px;
	margin-bottom: 30px;
	height: 55px;
}

.book-step ul li {
	width: 105px;
	float: left;
	margin-right: 30px;
	text-align: center;
}

.book-step ul .diff {
	margin-right: 57px;
}

.book-step ul .last {
	float: right;
	margin: 0;
}

.tibet-promise {
	margin-bottom: 30px;
	margin-left: 30px;
}

.tibet-promise h3 {
	color: #333333;
	margin-bottom: 15px;
}

.tibet-promise ul li {
	background: url(/imagesnew/itinerary/list-circle.png) no-repeat left 5px;
	padding-left: 15px; 
	line-height: 23px;
	width: 860px;
	margin-bottom: 20px;
}

.tour-faq .accordion {
	list-style: decimal inside none;
    margin-bottom: 10px;
    width: 682px;
}

.tour-faq h3 {
	color: #333333;
	font-size: 16px;
	margin: 12px 0;
}

.accordion li {
    background: url("/imagesnew/grid.png") repeat-x scroll 0 0 transparent;
    border: 1px dotted #CCCCCC;
    display: block;
    margin-bottom: 5px
}

.accordion li h6 {
    background: url("/imagesnew/ask-icon.png") no-repeat scroll 2px center transparent;
    color: #434343;
    cursor: pointer;
    font-weight: normal;
    height: 30px;
    line-height: 28px;
    text-indent: 25px;
    width: 100%;
}

.accordion li p {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dashed #CCCCCC;
    line-height: 20px;
    padding: 8px;
    width: 664px;
}

.tour-faq .faq-bottom {
	width: 830px;
	height: 100px;
	border: 1px dashed #000000;
	padding: 12px 0 10px 15px;
	margin: 25px 0 40px;
}

.faq-bottom h3 {
	color: #c73838;
	background: url(/imagesnew/itinerary/list-question.png) no-repeat left top ;
	padding-left: 30px;
	margin-bottom: 5px;
}

.faq-bottom .faq-contact {
	margin-top: 15px;
}

.faq-contact span {
	float: right;
	margin-right: 35px;
}

.tour-review {
	border-bottom: 1px dashed #000000;
	margin-bottom: 15px;
	*padding-bottom: 40px;
}

.tour-review h3 {
	font-size: 16px;
	color: #333333;
	margin-bottom: 20px;
}

.tour-review dl {
	background: url(/imagesnew/itinerary/bg-msg-title.png) no-repeat scroll left top transparent;
    margin: 0 120px 25px 0;
    width: 773px;
    float: left;
}

.tour-review dl dt {
	float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 15px;
    width: 680px;
}

.tour-review dl dt + dd {
    float: left;
    font-size: 13px;
    line-height: 160%;
    margin-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    width: 680px
}

.tour-review dl dt + dd + dd {
	background: url(/imagesnew/itinerary/bg-msg-bottom.png) no-repeat scroll left bottom transparent;
    float: left;
    height: 69px;
    width: 773px
}

.tour-review dl dt + dd + dd + dd {
	color: #666666;
    float: right;
    font-style: italic
}

.tour-review dl dt + dd + dd + dd + dd {
	float: right;
}

.btn-review {
	color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
	margin: 0 155px 10px 0;
}

.tour-foot {
	margin: 0 25px 50px 25px;
}

.tour-foot h2 {
	color: #8a2622;
	font-size: 16px;
	margin-bottom: 30px;
}

.tour-foot .itinerary-first {
	float: left;
	width: 310px;
}

.tour-foot img {
	display: block;
	margin: 0 auto;
}

.itinerary-first h3 {
	background: #8c2621;
	height: 45px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 45px;
	font-weight: normal;
	text-align: center;
	line-height: 45px;
}

.itinerary-first h3 span {
	font-size: 28px;
	color: #292929;
	margin-left: 25px;
}

.itinerary-other {
	float: right;
	width: 500px;
}

.itinerary-other li {
	float: left;
	position: relative;
	width: 160px;
	text-align: center;
	margin: 0 80px 18px 0;
}

.itinerary-other li .tour-name {
	display: block;
	width: 150px;
}

.itinerary-other .rate {
	background: url("/imagesnew/itinerary/bg-rate.png") no-repeat 0 0;
    color: #FFFFFF;
    display: block;
    height: 32px;
    position: absolute;
    right: -25px;
    top: 4px;
    width: 67px;
    line-height: 35px;
    font-size: 14px;
}

/* REVIEW BOX */
/*  
	name:write a review  
	date:2011.7.25
	author:chen
	email:itechen@gmail.com
*/


.divReview {
	color: #666;
	font: 13px Verdana, Geneva, sans-serif;
	padding: 10px 15px;
	border: 1px solid #ccc;
	width: 600px;
	box-shadow: 0 0 10px #444;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -315px;
	float: left;
	z-index: 9999;
}
.divReview ul {
	list-style-type: none;
}
.divReview a {
	text-decoration: none;
	color: #2368C7;
}
.divReview a:hover {
	text-decoration: none;
}
.divReview img {
	border: none;
	display: block;
}
div.divReview {
	background: #fff url(../images/form/bg.jpg) repeat-x left top;
}
div.divReview span {
	color: #F00;
}
div.divReview input, div.divReview textarea {
	font: 13px Verdana, Geneva, sans-serif;
	color: #666;
}
div.divReview h3 {
	font-size: 18px;
}
div.divReview span.close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	background: url(../images/form/close.png) no-repeat left top;
	width: 17px;
	height: 18px;
	text-indent: -9999px;
}
div.divReview p {
	margin: 5px 0px;
}
div.divReview label {
	width: 645px;
	display: block;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 3px;
}
div.divReview input {
	width: 300px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ccc;
	margin-right: 350px;
	margin-bottom: 2px;
}
div.divReview input#date {
	margin-right: 0px;
}
div.divReview input#facebook {
	margin-right: 0px;
}
div.divReview input:focus, div.divReview textarea.focus {
	background: #ffc;
}
div.reviewInfo, div.personalInfo {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	padding: 0px 15px 10px 15px;
	margin-bottom: 10px;
}
div.reviewInfo textarea {
	width: 460px;
	height: 200px;
	border: 1px solid #ccc;
}
div.divReview input#submit {
	width: 100px;
	height: 30px;
	margin-left: 300px;
	margin-top: 15px;
}
div.divReview div.star {
	width: 400px;
}
div.divReview div.star label {
	width: 270px;
	height: 25px;
	line-height: 25px;
	float: left;
	margin-top: 0px;
	cursor: pointer;
	font-weight: normal;
	padding-left: 110px;
}
input#s1+ label {
	background: url(../images/tibet_tour/pic_star1.png) no-repeat left center;
}
input#s2+ label {
	background: url(../images/tibet_tour/pic_star2.png) no-repeat left center;
}
input#s3+ label {
	background: url(../images/tibet_tour/pic_star3.png) no-repeat left center;
}
input#s4+ label {
	background: url(../images/tibet_tour/pic_star4.png) no-repeat left center;
}
input#s5+ label {
	background: url(../images/tibet_tour/pic_star5.png) no-repeat left center;
}
div.divReview input[type="radio"] {
	float: left;
	width: 12px;
	margin: 3px 5px 2px 0px;
	border: none;
	cursor: pointer;
}
div.divReview div.star+ label {
	float: left;
}
div.divReview a.facebook {
	background: url(../images/form/fackbook.gif) no-repeat;
	width: 217px;
	height: 25px;
	text-indent: -9999px;
	display: block;
	margin-top: -26px;
	margin-left: 320px;
}
div.divReview a#inquirysub {
	background: url(../images/form/rev.gif) no-repeat left top;;
	width: 84px;
	height: 22px;
	display: block;
	color: #fff;
	line-height: 22px;
	font-weight: bold;
}
div.divReview a#inquirysub:hover {
	background-position: left bottom;
}
