.news-block {
	margin-top: 35px;
	background: url("/imagesnew/bg-news-block.jpg") no-repeat 0 0;
	min-height: 420px;
}
.block-title {
	position: relative;
	height: 40px;
	margin-bottom: 5px;
}
.block-title h2 a{
	line-height: 22px;
	font-size: 18px;
	color: #7E0122;
	display: block;
	margin: 8px 36px 0 160px;
	padding-top: 8px;
}
.block-title h2 a:hover {
    color: #C52929;
    text-decoration: none;
}
.news-date {
	background: url("/imagesnew/bg-calendar.png") no-repeat 0 0;
	position: absolute;
	height: 47px;
	width: 42px;
	left: 39px;
	top: 0;
	text-align: center;
}
.news-date .date-m {
	color: #ffffff;
	font-size: 11px;
	margin-top: 5px;
	font-weight: bold;
}
.news-date .date-d {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	margin-top: 2px;
}
.block-body {
	padding: 20px 22px;
}
.news-time {
	width: 105px;
	padding: 18px;
}
.news-info {
	width: 480px;
}
.news-info img {
	padding: 1px;
	border: 1px solid #dddddd;
}
.news-info img:hover {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}
.continue-read {
	margin-left: 340px;
}