.content-left {
    width: 970px;
}

.sidebar-right {
    float: right;
    width: 240px;
    margin-right:20px;
}

.content-head {
    padding: 0 23px;
}

.content-head ul li {
     list-style: disc inside none;
}

.content-head h1{
     margin: 10px 0 0 0;
}

.content-left h3 {
    margin: 20px 0 0 20px;
}

.per-tab{
     margin: 6px 0 20px 20px;
     border-collapse: collapse;
}
.per-tab tr{
    background:#ffffff;
}
.per-tab tr.odd{
    background:#F5F5F5;
}
.per-tab th{
    background:#912711;
    color:#ffffff;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
    padding: 2px 17px;
    width: 65px;
    vertical-align: middle;
}

.per-tab th.w120 {
    width: 290px;
}

.per-tab th.w40 {
    width: 40px;
}

.per-tab td{
    border:1px solid #ccc;
    padding:5px 2px;
    text-align:center;
    vertical-align: middle;
}
td.name{
    text-align:left;
    padding-left: 15px;
    background:url("/imagesnew/male.png") no-repeat 0px center;
}
td.female{
    background:url("/imagesnew/female.png") no-repeat 0px center;
}
td.nation{
    text-indent: 10px;
}

td.nation.australia {
     background:url("/imagesnew/nation/australia.png") no-repeat 6px center;
}

td.nation.cambodia {
     background:url("/imagesnew/nation/Cambodia.png") no-repeat 6px center;
}

td.nation.canada {
     background:url("/imagesnew/nation/canada.png") no-repeat 6px center;
}

td.nation.columbia {
     background:url("/imagesnew/nation/Bahamas.png") no-repeat 6px center;
}

td.nation.cambodia {
     background:url("/imagesnew/nation/Columbia.png") no-repeat 6px center;
}

td.nation.england {
     background:url("/imagesnew/nation/england.png") no-repeat 6px center;
}

td.nation.germany {
     background:url("/imagesnew/nation/germany.png") no-repeat 6px center;
}

td.nation.indonesia {
     background:url("/imagesnew/nation/Indonesia.png") no-repeat 6px center;
}

td.nation.italy {
     background:url("/imagesnew/nation/italy.png") no-repeat 6px center;
}

td.nation.malaysia {
     background:url("/imagesnew/nation/Malaysia.png") no-repeat 6px center;
}

td.nation.newzealand {
     background:url("/imagesnew/nation/new-zealand.png") no-repeat 6px center;
}

td.nation.usa {
     background:url("/imagesnew/nation/usa.png") no-repeat 6px center;
}

td.join a{
    display:block;
    border-radius:6px;
    background:#912711;
    color:#ffffff;
    margin: 3px auto 0;
    text-decoration:none;
    width: 60px;
}
td.join a:hover{
    background:#dab056;
}

td.join .details {
    background: none;
    color: #2368C7;
}
td.join .details:hover {
    background: none;
    text-decoration: underline;
}

/*form*/

.enquireform {
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 5px;
    width: 920px;
}

.formwrap h2 {
    margin: 0 0 0 20px;
    text-align: center;
}

.ml20 {
    margin-left: 20px;
}

.enquireform form fieldset {
    padding: 15px 5px 0 170px;
}

.enquireform form fieldset legend {
    border-bottom: 1px dashed #DDDDDD;
    color: #7E0122;
    font-weight: bold;
    padding: 5px 0;
    width: 500px;
}

.enquireform form label {
    clear: left;
    display: block;
    float: left;
    line-height: 25px;
    margin: 5px 0;
    text-align: right;
    width: 200px;
}

.enquireform form select {
    height: 25px;
    margin: 10px;
    float: left;
}

.enquireform form input {
    float: left;
    height: 20px;
     margin: 5px 0 10px 10px;
}

.enquireform form textarea {
    margin: 10px 0 0 10px;
    width: 200px;
    float: left;
}

.select-fleft {
    float: left;
}

.permission-btn {
    float: left;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-top: 25px;
}



/*--------permissionform页面样式---------*/
.info{
    margin:15px 0 0 20px;
}
.sidebox{
    width:210px;
    float:right;
    margin:30px 0;
}
.sidebox h3{
    margin:0 0 5px 0;
}
ul.list{
    padding:0 0 0 15px;
}
.list li{
    margin:5px 0;
    list-style:disc;
}
.list li:hover{
    background:#f9f9f9;

}
.list li a{
    display:block;
    text-decoration:none;
}
.list li a:hover{
    color:#7E0122;
}

