.private-tour {
	background: #fffcf1;
}

.content-head {
	padding: 30px 23px;
}

.content-head h1 {
	font-size: 24px;
}

.content-head h2 {
	color: #333333;
	font-size: 18px;
}

.private-block {
	width: 930px;
	margin: 0 20px 50px 20px;
}

.tour-list-wrap {
	float: left;
	background: url("/imagesnew/tour-index/private-tour-bg.png") no-repeat left top #912712;
	padding: 10px;
	width: 670px;
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
}

.tour-list-wrap h2 {
	color: #ffffff;
	position: relative;
	font-size: 18px;
	margin-bottom: 0;
	text-indent: 1px;
}

.tour-list-wrap h3 {
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 7px;
	text-indent: 1px;
}

.tour-tag {
	display: block;
	width: 65px;
	height: 65px;
	position:absolute;
	right: -14px;
    top: -11px;
}

.tag-hot {
	background: url("/imagesnew/tour-index/tour-hot.png") no-repeat 0 0;
}

.tag-spe {
	background: url("/imagesnew/tour-index/tour-special.png") no-repeat 0 0;
}

.tag-the {
	background: url("/imagesnew/tour-index/tour-theme.png") no-repeat 0 0;
}

.tour-list {
	border: 1px solid #dddddd;
	border-bottom: none;
}

.tour-list li {
	border-bottom: 1px solid #dddddd;
	background: url("/imagesnew/tour-index/tour-list-bg.png") repeat-x 0 0 #fff6d3;
}

.tour-list li a {
	display: block;
	height: 64px;
	padding: 6px;
}

.tour-list .tour-thumb {
	width: 85px;
	height: 55px;
	float: left;
	margin: 4px 15px 4px 0;
}

.tour-list li a:hover {
	background: #f7e2ab;
	text-decoration: none;
}

.tour-info {
	float: left;
	color: #333333;
	width: 420px;
}

.tour-info .tour-name {
	font-weight: bold;
	color: #4694EC;
	font-size; 14px;
}

.tour-info p {
	font-size: 13px;
	margin: 3px 0 0 0;
}

.tour-price {
	float: right;
	color: #f20e0e;
	font-size: 15px;
	margin: 25px;
}

.right-bar {
	float: right;
	width: 238px;
	padding: 23px 0px 0;
	border: 1px solid #912712;
	position: relative;
}

.right-bar.r {
	background: url("/imagesnew/tour-index/sidebar-right-bg.png") no-repeat 0 0;
}

.right-bar.l {
	background: url("/imagesnew/tour-index/sidebar-left-bg.png") no-repeat 0 0;
}

.right-bar h4, .right-bar p {
	padding: 0 15px;
}

.right-bar p {
	margin: 6px 0;
}

.flower-right {
	position:absolute;
	left: 0;
	bottom: 0;
	width: 238px;
	background: url("/imagesnew/tour-index/flower-right.png") no-repeat 0 -8px;
	height: 60px;
}

.flower-left {
	position:absolute;
	left: 0;
	bottom: 0;
	width: 238px;
	background: url("/imagesnew/tour-index/flower-left.png") no-repeat 0 0;
	height: 60px;
}

.theme-tour {
	*background: #FFFBEC;
	background: #ffffff;
	background:-moz-linear-gradient(top, #ffffff, #fff7d7);
	background:-webkit-linear-gradient(top, #ffffff, #fff7d7);
	background:-o-linear-gradient(top, #ffffff, #fff7d7);
	background:-ms-linear-gradient(top, #ffffff, #fff7d7);
	background:linear-gradient(top, #ffffff, #fff7d7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fff7d7',GradientType=0);
}

.theme-tour-list {
	float: left;
	margin: 21px 0 21px 0px;
	position: relative;
}

.theme-tour-list:hover {
	background: #ffffff;
}

.theme-tour-list a {
	display:block;
	color: #6e6e6e;
	text-align: center;
}

.theme-tour-list a:hover {
	text-decoration: none;
	color: #333333;
}

.dash-line {
	background: none repeat scroll 0 0 #DDDDDD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    float: left;
    height: 1px;
    width: 100%;
}

.theme-tour-list h3 {
	position: absolute;
	top: 0;
	font-weight: bold;
	color: #9f0000;
	right: 19px;
	font-size: 17px;
}

.theme-tour-list img {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
}

.theme-tour-list img:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.theme-tour-1 {
	width: 223px;
}

.theme-tour-2 {
	width: 167px;
}
