.allpage-wrap h1{
	line-height: 35px;
}
.allpage-wrap p{
	line-height:25px;
	font-size:13px;
}
#shareForm{
	padding: 15px;
}
table th{
	font-size:13px;
	color:#434343;
	line-height: 25px;
	padding:5px 0px 0px;
}
#shareForm input{
	width: 260px;
	height: 20px;
}
#shareForm .tibet
{
	width:460px;
}
#shareForm .uploade
{
	widows: 260px;
	height: 25px;
}
.error{
	color:#FF0000;
}

