body {
	background:none;
}
.headnav {
	width: 100%;
	background:#8C2621;
}

.themetour-bg {
	background: url("/imagesnew/themetour/train/train-tour-bg-goth.jpg") no-repeat top center;
}

.themetour-wrap {
	width: 970px;
	margin: 0 auto;
	background:#ffffff url("/imagesnew/themetour/theme-bg.png") repeat-x;
	position: relative;
	z-index: 400;
	box-shadow: 0 0 3px #666666;
}
ul.topnav {
	height: 40px;
	background: #8c2621;
	margin: 0 auto;
	padding-left: 149px;
	width: 821px;
}
ul.topnav li {
	display: block;
	float: right;
	background:url("/imagesnew/themetour/nav-li-bg3.png") no-repeat left center ;
}
ul.topnav li:last-child {
	background:none;
	
}
ul.topnav li:last-child a:hover {
	background:url("/imagesnew/themetour/nav-li-bg2.png") repeat-x -2px center ;
}
ul.topnav li a {
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 40px;
	padding:0 15px;
	font-size:12px;
}
ul.topnav li a:hover {
	text-decoration: none;
	color: #fff;
	background:url("/imagesnew/themetour/nav-li-bg2.png") repeat-x left center ;
}
.head-banner {
	background: url("/imagesnew/themetour/train-tour-bg.jpg") no-repeat;
	width: 970px;
	height: 372px;
	position: relative;
}
.head-logo {
	position: absolute;
	left: 30px;
	top: 0;
	width: 189px;
	height: 120px;
	background: url("/imagesnew/themetour/logo-bg.png") no-repeat;
	
}
.head-logo img {
	margin: 12px 0 0 12px;
}
.head-logo p {
	font-weight: bold;
	margin: 8px 9px 0 13px;
	font-size:15px;
}
.head-con {
	width:930px;
	margin:15px auto 40px;
}
.section {
	width: 930px;
	margin: 40px auto;
	background: url("/imagesnew/themetour/section-bg.png") no-repeat 100% 30%
}
.section h2 {
	background: url("/imagesnew/themetour/train.png") no-repeat left center;
	text-indent: 70px;
	border-bottom: 1px solid #ddd;
	line-height: 44px;
}
.section h2 a{
	color:inherit;
	text-decoration:none;
}
.section h2 a:hover{
	color:#ca0236;
}
.sec-img {
	float: left;
	width: 460px;
}
.sec-img img {
	border: 2px solid #59a1d9;
	border-radius: 15px;
}
.sec-img img:hover{
	border: 2px solid #3472a1;
}
.sec-img p {
	text-align: center;
}
.sec-con {
	float: right;
	width: 450px;
}
.sec-tours li {
	display: block;
	height: 40px;
	margin: 10px 0;
}
.sec-tours span {
	display: block;
	float: left;
	padding: 0 5px;
}
.sec-tours span.price {
	color: red;
	float: right;
}
.sec-tours span.destination {
	font-size: 11px;
	padding-left: 65px;
}
.sec-tours span.tour-rank {
	color: #7D7D74;
	font-size: 15px;
	font-weight: bold;
	background: url("/imagesnew/themetour/right-arrow.png") no-repeat center right;
	margin-left: 0;
	padding-right: 10px;
	padding-left: 0;
	margin-right: 3px;
}
ul.facts img {
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
ul.facts li {
	border: 1px solid #F8F4ED;
	display: block;
	padding: 10px;
	float: left;
	margin: 10px 45px 20px 0;
}
ul.facts li a {
	color: #434343;
	display: block;
}
ul.facts li:hover {
	border: 1px solid #dddddd;
	background: rgba(243,234,213,0.6);
	opacity: 0.8;
}
.sec-fact {
	background: none;
}
.themetour-wrap .FAQ-footer {
	margin: 0;
}

/*Expats*/
.theme-content {
	padding: 10px 10px 0 25px;
}

.theme-content ul li {
	list-style: circle;
}

.theme-content h1 {
	margin-top: 10px;
}

.content-block {
	margin:0 0 20px 20px;
}

.content-block h3 {
	font-size: 16px;
	margin-left: -28px;
	height: 30px;
}


.content-block h3 img {
    float: left;
    margin: 0 5px 0 0;
}

.tour-block {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #666666;
    -moz-box-shadow: 0 0 5px #666666;
    -webkit-box-shadow: 0 0 5px #666666;
    margin: 0 0 50px 2px;
    min-height: 277px;
    padding: 10px 40px;
	width: 700px;
}

.tour-block h3 {
	font-size: 16px;
	margin-bottom: 10px;
	font-family: Times New Roman;
}

.tour-block h3 a {
	color: #7E0122;
}

.tour-block h3 a:hover {
	text-decoration: none;
	color: #CA0236;
}

.tour-content:after {
	content: '';
	visibility: hidden;
	height: 0;
	display: block;
	clear: both;
}

.tour-content img {
	float: left;
	height: 215px;
    width: 258px;
}

.tour-content img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.tour-content .tour-info {
	float: right;
	width: 60%;
}

.theme-btn {
	background: #990000;
	background:-moz-linear-gradient(top, #990000, #cc0000);
	background:-webkit-linear-gradient(top, #990000, #cc0000);
	background:-o-linear-gradient(top, #990000, #cc0000);
	background:-ms-linear-gradient(top, #990000, #cc0000);
	background:linear-gradient(top, #990000, #cc0000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#cc0000',GradientType=0);
	display: block;
	float: right;
	padding: 10px;
	color: #ffffff;
	font-size: 13px;
	margin: 5px 15px 0 30px;
	text-align: center;
	border-radius: 3px;
	font-weight: bold;
}

.theme-btn:hover {
	text-decoration: none;
	color: #fca000;
	background: #990000;
	background:-moz-linear-gradient(bottom, #990000, #cc0000);
	background:-webkit-linear-gradient(bottom, #990000, #cc0000);
	background:-o-linear-gradient(bottom, #990000, #cc0000);
	background:-ms-linear-gradient(bottom, #990000, #cc0000);
	background:linear-gradient(bottom, #990000, #cc0000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#990000',GradientType=0);
}


.ml-45 {
	margin-left: 45px;
}
