.nepal-color {
	background: #bb5641;
}
.BL-color {
	background: #dcd0a8 url("/imagesnew/sample/beijing-lhasa-bg.png") repeat-x 0 340px;
}
.content-head {
	background: url("/imagesnew/sample/nepal-1.jpg") no-repeat 0 top;
	min-height: 475px;
	color: #ffffff;
	position: relative;
}
.content-words {
	position: absolute;
	bottom: 0px;
	margin: 0 20px 0px;
}
.content-words h1 {
	color: #ffffff;
}
.tour-block {
	position: relative;
	background: #ffffff;
	min-height: 277px;
	padding: 5px 18px;
	margin: 0 0 20px 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*
	 -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); */
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
	behavior: url(PIE.htc);
}
.tour-block h2 {
	font-size: 20px;
	color: #7e0122;
	position: relative;
	font-family: Times New Roman;
	padding-left: 50px;
	font-style: italic;
	font-weight: bold;
}
.tour-block h2 a {
	color: #7e0122;
}
.tour-block h2 a:hover {
	color: #ca0236;
	text-decoration: none;
}
.tour-rank {
	position: absolute;
	display: block;
	background: url("/imagesnew/sample/tag.png") no-repeat 0 0;
	left: -23px;
	top: 0;
	width: 67px;
	height: 30px;
	padding-left: 23px;
	color: #ffffff;
	line-height: 23px;
}
.tour-hot {
	background: url("/imagesnew/tour-hot.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 60px;
	position: absolute;
	right: -23px;
	top: -9px;
	width: 68px;
	display: none;
}
.tour-style {

}
.tour-style-p {
	background: url("/imagesnew/sample/Private-tour.png") no-repeat scroll 0px 0px transparent
}
.tour-style-g {
	background: url("/imagesnew/sample/Group-tour.png") no-repeat scroll 0px 0px transparent;
}
.tour-content .tour-info {
	float: right;
	width: 320px;
	min-height: 210px;
}
.tour-content .img-wrap {
	float: left;
}
.tour-content .img-wrap img {
	width: 280px;
	height: 210px;
}
.tour-price {
	font-family: Times New Roman;
	color: #f50000;
	font-size: 24px;
	display: block;
	float: left;
	margin: 30px 0 0 50px;
}
.check-btn {
	background: url("/imagesnew/nepal-btn.png") no-repeat 0 0;
	display: block;
	width: 121px;
	height: 44px;
	text-align: center;
	color: #d77900;
	float: right;
	line-height: 44px;
	font-weight: bold;
	font-style: italic;
	margin-top: 18px;
}
.check-btn:hover {
	color: #92240D;
	text-decoration: none;
}
.right-pannel {
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 245px;
	margin-bottom: 20px;
	background: #ffffff;
	padding: 8px 0;
	/*
	 -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); */
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
	behavior: url(PIE.htc);
}
.right-pannel h3, .right-pannel h4 {
	padding-left: 8px;
}
.right-pannel p {
	padding: 0 8px;
}
.pannel-fir {
	background: url("/imagesnew/sample/nepal-3.png") no-repeat 0 bottom #ffffff;
	padding: 0 0 10px 0;
}
.pannel-sec {
	background: url("/imagesnew/sample/nepal-4.png") no-repeat 0 bottom #f1f2f4;
	padding: 8px 0 15px;
}
.list-num {
	font-size: 16px;
	color: #7D7D74;
	padding-right: 5px;
	font-weight: bold;
}
.wide-foot {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	margin-bottom: 100px;
	margin-left: 19px;
	margin-top: -118px;
	width: 934px;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
}
.wide-foot .author-list {
	padding-left: 70px;
}
.faq-intro {
	margin-left: 108px;
}
.wide-foot .btn-enquiry {
	margin-right: 50px;
}
.wide-foot .btn-enquiry a {
	text-indent: 6px;
}
/* @Beijing-Lhasa Tour */
.box-effect {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 5px #666666;
}
.BL-color {
	background: #dcd0a8 url("/imagesnew/sample/beijing-lhasa-bg.png") repeat-x 0 340px;
}
.one-col {
	width: 930px;
	margin: 0px 20px;
	float: left;
}
.rt-col {
	width: 245px;
	min-height: 600px;
	background: #fafafa;
	float: right;
	margin: 18px 20px 0 0;
}
.rt-col img {
	margin: 10px 0 0 0;
}
.rt-col .unit {
	margin: 10px;
	border-top: 1px dashed #ddd;
	padding: 10px 0;
}
.expat {
	background: #fafafa;
	padding: 15px;
	width: 900px;
	position: relative;
	margin-bottom:40px;
}
dl.service {
	margin: 20px 0;
}
.service dt {
	font-size: 15px;
	font-weight: bold;
	color: #222222;
}
.service dd {
	background: url("/imagesnew/sample/list-icon.png") no-repeat left center;
	padding: 2px 0 2px 20px;
}
ul.itinerary {
	margin: 0 0 20px;
}
.itinerary h4 {
	text-align: center;
}
.itinerary h4 a{
	text-decoration:none;
	color:#7E0122;
}
.itinerary li {
	border: 1px solid #c8c8c8;
	width: 230px;
	min-height: 300px;
	float: left;
	margin-right: 60px;
	background: #f0f0f0;
}
.itinerary li p {
	margin: 8px;
}
dl.QA {
	width: 816px;
	background: #f0ebdd;
	padding: 1px;
	border-radius: 3px 3px 3px 3px;
	margin: 20px 0;
}
.expat h3{
	border-top:1px dashed #ddd;
	width:816px;
	padding:15px 0 0 0 ;
}
dl.QA dt {
	height: 40px;
	margin: 10px;
	padding: 0 0 0 45px;
	background: url("/imagesnew/sample/question-icon.png") no-repeat left center;
}
dl.QA dd {
	height: 40px;
	margin: 10px;
	padding: 0 0 0 45px;
	background: url("/imagesnew/sample/answer-icon.png") no-repeat left center;
}
.check {
	float: right;
	margin: 0 10px 10px 0;
}
