.nepal-color {
	background: #bb5641;
}

.content-head {
	background: url("/imagesnew/sample/nepal-1.png") no-repeat 0 top;
	min-height: 500px;
	color: #ffffff;
	position: relative;
}

.content-words {
	position: absolute;
	bottom: 0px;
	margin: 0 20px 0px;
}

.content-words h1 {
	color: #ffffff;
}

.tour-block {
	position: relative;
	background: #ffffff;
	min-height: 277px;
	padding: 5px 18px;
	margin: 0 0 20px 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	/*
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); */
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
	behavior: url(PIE.htc);
}

.tour-block h2 {
	font-size: 20px;
	color: #7e0122;
	position: relative;
	font-family: Times New Roman;
	padding-left: 50px;
	font-style: italic;
	font-weight: bold;
}

.tour-block h2 a {
	color: #7e0122;
}

.tour-block h2 a:hover {
	color: #ca0236;
	text-decoration: none;
}

.tour-rank {
	position: absolute;
	display: block;
	background: url("/imagesnew/sample/tag.png") no-repeat 0 0;
	left: -23px;
	top: 0;
	width: 67px;
	height: 30px;
	padding-left: 23px;
	color: #ffffff;
	line-height: 23px;
}

.tour-hot {
	background: url("/imagesnew/tour-hot.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
    position: absolute;
    right: -23px;
    top: -9px;
    width: 68px;
    display: none;
}

.tour-style-p {
	background: url("/imagesnew/sample/Private-tour.png") no-repeat scroll 30px 140px transparent
}

.tour-style-g {
	background: url("/imagesnew/sample/Group-tour.png") no-repeat scroll 30px 140px transparent;
}

.tour-content .tour-info {
	float: right;
	width: 320px;
}

.tour-content .img-wrap {
	float: left;
}

.tour-content .img-wrap img {
	width: 280px;
	height: 210px;
}

.tour-price {
	font-family: Times New Roman;
	color: #f50000;
	font-size: 24px;
	display: block;
	float: left;
	margin: 13px 0 0 50px;
}

.check-btn {
	background: url("/imagesnew/nepal-btn.png") no-repeat 0 0;
	display: block;
	width: 121px;
	height: 44px;
	text-align: center;
	color: #d77900;
	float: right;
	line-height: 44px;
	font-weight: bold;
	font-style: italic;
}

.check-btn:hover {
	color: #92240D;
	text-decoration: none;
}

.right-pannel {
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	width: 245px;
	margin-bottom: 20px;
	/*
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); */
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
	behavior: url(PIE.htc);
	behavior: url(PIE.htc);
}

.right-pannel p {
	padding: 0 8px;
}

.pannel-fir {
	background: url("/imagesnew/sample/nepal-3.png") no-repeat 0 bottom #ffffff;
	padding: 0 0 10px 0;
}

.pannel-sec {
	background: url("/imagesnew/sample/nepal-4.png") no-repeat 0 bottom #f1f2f4;
	padding: 8px 0 15px;
}

.pannel-sec h3 {
	font-size: 15px;
	text-align: center;
}

.wide-foot {
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-bottom: 100px;
    margin-left: 19px;
    margin-top: -118px;
    width: 934px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
}

.wide-foot .author-list {
    padding-left: 70px;
}
.faq-intro {
    margin-left: 108px;
}

.wide-foot .btn-enquiry {
    margin-right: 50px;
}

.wide-foot .btn-enquiry a {
    text-indent: 6px;
}