.nepal-color {
	background: #bb5641;
}

.content-head {
	background: url("/imagesnew/sample/nepal-1.png") no-repeat 0 top;
	min-height: 500px;
	color: #ffffff;
	position: relative;
}

.content-words {
	position: absolute;
	bottom: 35px;
	margin: 0 20px 20px;
}

.content-words h1 {
	color: #ffffff;
}

.tour-block {
	background: #ffffff;
	min-height: 277px;
	padding: 5px 18px;
	margin: 0 0 20px 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); 
	/*behavior: url(PIE.htc);*/
}

.tour-block h2 {
	font-size: 20px;
	color: #7e0122;
	position: relative;
	font-family: Times New Roman;
	padding-left: 50px;
	font-style: italic;
}

.tour-block h2 a {
	color: #7e0122;
}

.tour-rank {
	position: absolute;
	display: block;
	background: url("/imagesnew/sample/tag.png") no-repeat 0 0;
	left: -23px;
	top: 0;
	width: 67px;
	height: 30px;
	padding-left: 23px;
	color: #ffffff;
}

.tour-style {
	position: absolute;
	display: block;
	width: 107px;
	height: 50px;
	right: 0;
	top: 0;
}

.tour-style-p {
	background: url("/imagesnew/sample/Private-tour.png") no-repeat 0 0;
}

.tour-style-g {
	background: url("/imagesnew/sample/Group-tour.png") no-repeat 0 0;
}

.tour-content .tour-info {
	float: right;
	width: 320px;
}

.tour-content .img-wrap {
	float: left;
}

.tour-content .img-wrap img {
	width: 280px;
	height: 210px;
}

.tour-price {
	font-family: Times New Roman;
	color: #f50000;
	font-size: 20px;
	display: block;
	float: left;
	margin: 13px 0 0 73px;
}

.nepal-btn {
	background: url("/imagesnew/nepal-btn.png") no-repeat 0 0;
	display: block;
	width: 121px;
	height: 44px;
	text-align: center;
	color: #d77900;
	float: right;
	line-height: 44px;
	font-weight: bold;
}

.nepal-btn:hover {
	color: #92240D;
	text-decoration: none;
}

.right-pannel {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	width: 245px;
	margin-bottom: 20px;
	/*behavior: url(PIE.htc);*/
}

.right-pannel p {
	padding: 0 8px;
}

.pannel-fir {
	background: url("/imagesnew/sample/nepal-3.png") no-repeat 0 bottom #ffffff;
	padding: 0 0 10px 0;
}

.pannel-sec {
	background: url("/imagesnew/sample/nepal-4.png") no-repeat 0 bottom #f1f2f4;
	padding: 8px 0 15px;
}

.pannel-sec h3 {
	font-size: 15px;
	text-align: center;
}
