.fancybox {
	cursor: pointer;
    display: block;
    position: relative;
}
.fancybox img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* @Nepal Tour */
.nepal-color {
	background: #bb5641;
}
.BL-color {
	background: #dcd0a8 url("/imagesnew/sample/beijing-lhasa-bg.png") repeat-x 0 340px;
}
.content-head {
	background: url("/imagesnew/sample/nepal-1.jpg") no-repeat 0 top;
	min-height: 430px;
	color: #ffffff;
	position: relative;
}
.content-words {
	position: absolute;
	bottom: 5px;
	margin: 0 20px 0px;
}
.content-words h1 {
	color: #ffffff;
}

.goup-tour {
	border: 5px solid #FFD8A0;
}

.tour-intro {
	width: 282px;
	float: right;
}
.tour-intro p {
	line-height: 23px;
}
.tour-intro img {
	width: 290px;
	height: 240px;
}
.tour-intro img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.funny-font {
	font-family: verdana;
	color: #8c2621;
	font-size: 15px;
}

.tour-num {
    background: url("/imagesnew/bg-circle.png") no-repeat scroll 0 0 transparent;
    color: #BF473F;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 62px;
    left: -14px;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 61px;
    padding-top: 24px;
}

.tour-info {
    float: left;
    width: 300px;
}

.group-tour-price {
    background: url("/imagesnew/bg-arrow-left.png") no-repeat scroll 20px 0 transparent;
    color: #FFFFFF;
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 64px;
    margin-left: -35px;
    position: relative;
    text-indent: 48px;
    width: 375px;
    z-index: 3;
}

.group-tour-price .check-detail {
    background: url("/imagesnew/buyit.png") no-repeat;
	display: block;
	*display: inline;
	float: right;
	*float: none;
	width: 124px;
	font-size:16px;
	height: 36px;
	text-indent: 0;
	margin: 14px 45px 0 0;
	text-align: center;
	line-height: 36px;
	color: #333333;
	font-weight:bold;
}

.group-tour-price .check-detail:hover {
	color: #ffffff;
	text-decoration: none;
}

.schedule-wrap {
	display: none;
	background: #f6f1f1;
	background: -moz-linear-gradient(top, #f6f1f1, #ffffff);
	background: -webkit-linear-gradient(top, #f6f1f1, #ffffff);
	background: -o-linear-gradient(top, #f6f1f1, #ffffff);
	background: -ms-linear-gradient(top, #f6f1f1, #ffffff);
	background: linear-gradient(top, #f6f1f1, #ffffff);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#f6f1f1', endColorstr='#ffffff',GradientType=0);
}
.schedule-wrap.select {
	display: block;
}
.cal-wrap {
	border: 1px solid #515151;
	border-top: none;
}
.list-wrap {
	padding-top: 15px;
	height: 250px;
	overflow: auto;
	background: #f6f1f1;
	background: -moz-linear-gradient(top, #f6f1f1, #ffffff);
	background: -webkit-linear-gradient(top, #f6f1f1, #ffffff);
	background: -o-linear-gradient(top, #f6f1f1, #ffffff);
	background: -ms-linear-gradient(top, #f6f1f1, #ffffff);
	background: linear-gradient(top, #f6f1f1, #ffffff);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#f6f1f1', endColorstr='#ffffff',GradientType=0);
}
.list-wrap p {
	margin-top: 0;
	text-align: center;
}
.list-wrap .schedule-list {
	width: 100%;
	text-align: center;
}
.schedule-list .schedule-tr {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.schedule-list .schedule-tr:hover {
	background: #ffebdf;
}
.list-wrap .schedule-list th {
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
	height: 35px;
	vertical-align: middle;
}
.list-wrap .schedule-list td {
	height: 35px;
	vertical-align: middle;
	border-bottom: 1px dashed #dddddd;
}
.tour-info .schedule-tab {
	margin-top: 5px;
	text-align: center;
	height: 27px;
	border: none;
	margin-bottom: 0;
	border-bottom: 2px solid #991926;
}
.tour-info .schedule-tab li {
	width: 25%;
	height: 18px;
	float: left;
	background: #E4E4E4;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E4E4E4), to(#F6F6F6));
	background: -webkit-linear-gradient(#E4E4E4, #F6F6F6);
	background: -moz-linear-gradient(#E4E4E4, #F6F6F6);
	background: -ms-linear-gradient(#E4E4E4, #F6F6F6);
	background: -o-linear-gradient(#E4E4E4, #F6F6F6);
	background: linear-gradient(#E4E4E4, #F6F6F6);
	margin-right: 15px;
	padding: 4px 0px;
	color: #990100;
	border: 1px solid #ccc;
	border-bottom: none;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	behavior: url(PIE.htc);
}
.tour-info .schedule-tab li:hover, .tour-info .schedule-tab li.active {
	text-align: center;
	background: #9B5E5D;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9B5E5D), to(#680001));
	background: -webkit-linear-gradient(#9B5E5D, #680001);
	background: -moz-linear-gradient(#9B5E5D, #680001);
	background: -ms-linear-gradient(#9B5E5D, #680001);
	background: -o-linear-gradient(#9B5E5D, #680001);
	background: linear-gradient(#9B5E5D, #680001);
	-pie-background: linear-gradient(#9B5E5D, #680001);
	color: #fff;
	z-index: 1;
	behavior: url(PIE.htc);
}
.tirp-schedule {
	width: 100%;
	height: auto;
}
.tirp-schedule .group {
	background: none repeat scroll 0 0 #FFBB93;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.tirp-schedule .group:hover {
	background: #f78d10;
}
.tirp-schedule .group a:hover {
	text-decoration: none;
	color: #e8688e;
}
.tirp-schedule .turn-page div {
	position: relative;
}
.schedule-arrow {
	position: absolute;
	background: url("/imagesnew/gray-arrow.png") no-repeat 0 0;
	width: 12px;
	height: 11px;
	left: 12px;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.schedule-arrow:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.arrow-prev {
	top: -70px;
}
.arrow-prev:hover {
	top: -71px;
}
.arrow-next {
	background-position: 0 -11px;
	top: 101px;
}
.arrow-next:hover {
	top: 102px;
}
.tirp-schedule th, .tirp-schedule td {
	border: 1px solid #b1b1b1;
	width: 38px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
}
.tirp-schedule th {
	color: #8d2622;
	font-weight: bold;
}

.group-tour-price .price-detail {
	height: 70px;
	margin-left: 35px;
	margin-top: -1px;
	width: 282px;
	text-indent:0;
	border: 1px solid #dddddd;
}

.group-tour-price .price-detail li {
	float: left;
    text-align: center;
    width: 33%;
}

.group-price-detail p{
	font-size:15px;
}

.tour-block {
	position: relative;
	background: #ffffff;
	min-height: 277px;
	padding: 10px 18px;
	margin: 0 0 20px 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*
	 -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); */
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
	behavior: url(PIE.htc);
}
.tour-block h2 {
	font-size: 20px;
	color: #7e0122;
	position: relative;
	font-family: Times New Roman;
	padding-left: 50px;
	font-style: italic;
	font-weight: bold;
}
.tour-block h2 a {
	color: #7e0122;
}
.tour-block h2 a:hover {
	color: #ca0236;
	text-decoration: none;
}
.tour-rank {
	position: absolute;
	display: block;
	background: url("/imagesnew/sample/tag.png") no-repeat 0 0;
	left: -23px;
	top: 0;
	width: 67px;
	height: 30px;
	padding-left: 23px;
	color: #ffffff;
	line-height: 23px;
}
.tour-hot {
	background: url("/imagesnew/tour-hot.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
    position: absolute;
    right: -23px;
    top: -12px;
    width: 68px;
    display: none;

}
.tour-style {

}
.tour-style-p {
	background: url("/imagesnew/sample/Private-tour.png") no-repeat scroll 0px 0px transparent
}
.tour-style-g {
	background: url("/imagesnew/sample/Group-tour.png") no-repeat scroll 0px 0px transparent;
}
.tour-content .tour-info {
	float: right;
	width: 320px;
	min-height: 210px;
}
.tour-content .img-wrap {
	float: left;
}
.tour-content .img-wrap img {
	width: 280px;
	height: 210px;
}

.tour-content .img-wrap img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.tour-price {
	font-family: Times New Roman;
	color: #f50000;
	font-size: 24px;
	display: block;
	float: left;
	margin: 30px 0 0 50px;
}
.check-btn {
	background: url("/imagesnew/nepal-btn.png") no-repeat 0 0;
	display: block;
	width: 121px;
	height: 44px;
	text-align: center;
	color: #d77900;
	float: right;
	line-height: 44px;
	font-weight: bold;
	font-style: italic;
	margin-top: 18px;
}
.check-btn:hover {
	color: #92240D;
	text-decoration: none;
}
.right-pannel {
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 245px;
	margin-bottom: 20px;
	background: #ffffff;
	padding: 8px 0;
	/*
	 -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	 box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); */
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
	behavior: url(PIE.htc);
}
.right-pannel h3, .right-pannel h4 {
	padding-left: 8px;
}
.right-pannel p {
	padding: 0 8px;
}
.pannel-fir {
	background: url("/imagesnew/sample/nepal-3.png") no-repeat 0 bottom #ffffff;
	padding: 0 0 10px 0;
}
.pannel-sec {
	background: url("/imagesnew/sample/nepal-4.png") no-repeat 0 bottom #f1f2f4;
	padding: 8px 0 15px;
}
.list-num {
	font-size: 16px;
	color: #7D7D74;
	padding-right: 5px;
	font-weight: bold;
}
.wide-foot {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	margin-bottom: 100px;
	margin-left: 19px;
	margin-top: -118px;
	width: 934px;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
}
.wide-foot .author-list {
	padding-left: 70px;
}
.faq-intro {
	margin-left: 108px;
}
.wide-foot .btn-enquiry {
	margin-right: 50px;
}
.wide-foot .btn-enquiry a {
	text-indent: 6px;
}

.zoom {
	position: absolute;
	right: 15px;
	bottom: 15px;
	width: 57px;
	height: 17px;
	background: url(/imagesnew/aboutus/zoom-more.gif) no-repeat;
	display: block;
}

/* @Beijing-Lhasa Tour */
.box-effect {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 5px #666666;
}
.BL-color {
	background: #dcd0a8 url("/imagesnew/sample/beijing-lhasa-bg.png") repeat-x 0 340px;
}
.one-col {
	width: 930px;
	margin: 0px 20px;
	float: left;
}
.rt-col {
	width: 245px;
	min-height: 600px;
	background: #fafafa;
	float: right;
	margin: 18px 20px 0 0;
}
.rt-col img {
	margin: 10px 0 0 0;
}
.rt-col .unit {
	margin: 10px;
	border-top: 1px dashed #ddd;
	padding: 10px 0;
}
.expat {
	background: #fafafa;
	padding: 15px;
	width: 900px;
	position: relative;
	margin-bottom:40px;
}
dl.service {
	margin: 20px 0;
}
.service dt {
	font-size: 15px;
	font-weight: bold;
	color: #222222;
}
.service dd {
	background: url("/imagesnew/sample/list-icon.png") no-repeat left center;
	padding: 2px 0 2px 20px;
}
ul.itinerary {
	margin: 0 0 20px;
}
.itinerary h4 {
	text-align: center;
}
.itinerary h4 a{
	text-decoration:none;
	color:#7E0122;
}
.itinerary li {
	border: 1px solid #c8c8c8;
	width: 230px;
	min-height: 300px;
	float: left;
	margin-right: 60px;
	background: #f0f0f0;
}
.itinerary li p {
	margin: 8px;
}
dl.QA {
	width: 816px;
	background: #f0ebdd;
	padding: 1px;
	border-radius: 3px 3px 3px 3px;
	margin: 20px 0;
}
.expat h3{
	border-top:1px dashed #ddd;
	width:816px;
	padding:15px 0 0 0 ;
}
dl.QA dt {
	height: 35px;
	margin: 10px;
	padding: 0 0 0 45px;
	background: url("/imagesnew/sample/question-icon.png") no-repeat left top;
}
dl.QA dd {
	height: 35px;
	margin: 10px;
	padding: 0 0 10px 45px;
	background: url("/imagesnew/sample/answer-icon.png") no-repeat left top;
	border-bottom:1px dashed #a4956c;
}
	
.check {
	float: right;
	margin: 0 10px 10px 0;
}
