.content h1{
	font-family:'Cantarell';
	font-weight:bold;
	margin-bottom:20px;
	margin-top:10px;
}

.train-map {
    margin: 10px auto;
    position: relative;
    width: 682px;
    min-height: 300px;
    background-color: #F3EAD6;
	margin:30px 0;
}

.train-map img {
    display: block;
    width: 680px;
    border: 1px solid #DDDDDD;
/*	margin:30px 0;
*/}

.train-map ul {
    margin-top: 10px;
    padding: 0 1px;
}

.train-map ul li {
    float: left;
    width: 33%;
    text-align: center;
    padding: 6px 0;
}

.lightbox {
    padding: 10px 30px;
    display: none;
    position: fixed;
    top: 168px;
    left: 482px;
    width: 500px;
    min-height: 400px;
    border-radius: 8px;
    -webkit-boder-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
    -moz-box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
    box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
    background: #FFFFFF; 
    opacity: 0.9;
    filter:alpha(opacity=90);
    z-index: 300;
    behavior: url(/PIE.htc);
}

.lightbox-close {
    cursor: pointer;
}

.lightbox-close:hover {
    background-color:#F5EACE;
}

.station-list {
    background-color: #F9F9F9;
    margin-top: 30px;
}

.station-list li {
    float: left;
    padding: 8px;
    width: 80px;
    cursor: pointer;
    text-align: center;
}

.station-list li:hover {
    background-color: #FAF4E3;
}

.station-list li.active {
    background-color: #FAF4E3;
}

.station-info {
    border: 1px solid #000000;
    padding: 20px;
    display: none;
}

.station-info img {
    float: left;
    margin-left: 10px;
}

.station-info div {
    float: left;
    margin-left: 30px;
}

.customize-trip {
    margin-top: 30px;
    padding: 0 10px;
}

.custom-btn {
    float: right;
    cursor: pointer;
}

.customize-trip div{
    float: left;
    width: 60%;
}

.attraction-des {
	margin-bottom: 30px;
}

.attraction-title {
    margin: -10px 0 13px 0 ;
}

.attraction-pic {
    float: left;
    width: 210px;
    height: 140px;
    margin: 0px 30px 10px 0;
    position: relative;
    border: 1px solid #DDDDDD;
}

.attraction-faq p {
	margin: 5px 5px;	
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.7;
    filter:alpha(opacity=80);
    background-color: #EBE6E3;
    z-index: 299;
}

.marker {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.marker-beijing {
    left: 496px;
    top: 65px;
}

.marker-xian {
    left: 423px;
    top: 135px;
}

.marker-lanzhou {
    left: 350px;
    top: 114px;
}

.marker-xining {
    left: 325px;
    top: 103px;
}

.marker-golmud {
    left: 242px;
    top: 99px;
}

.marker-naqu {
    left: 205px;
    top: 169px;
}

.marker-lhasa {
    left: 178px;
    top: 207px;
}

.marker-chengdu {
    left: 361px;
    top: 211px;
}

.marker-chongqing {
    left: 386px;
    top: 225px;
}

.marker-shanghai {
    left: 574px;
    top: 180px;
}

.marker-guangzhou {
    left: 485px;
    top: 303px;
}

.attraction-icons {
    position: absolute;
    background: url("../images/train/attraction-icon.png") no-repeat left -999px;
    cursor: pointer;
}

.icon-beijing {
    height: 36px;
    right: 144px;
    top: 35px;
    width: 70px;
}

.icon-beijing-active {
   background-position: 90% 78%;
}

.icon-lanzhou {
    height: 50px;
    right: 288px;
    top: 67px;
    width: 42px;
}

.icon-lanzhou-active {
    background-position: 64% 39%;
}

.icon-xining {
    height: 38px;
    right: 317px;
    top: 63px;
    width: 66px;
}

.icon-xining-active {
    background-position: 55% 68%;
}

.icon-golmud {
    height: 45px;
    right: 389px;
    top: 54px;
    width: 70px;
}

.icon-golmud-active {
    background-position: 24% 60%;
}

.icon-naqu {
    height: 56px;
    right: 421px;
    top: 139px;
    width: 45px;
}

.icon-naqu-active {
    background-position: 14% 60%;
}

.icon-lhasa {
    height: 45px;
    right: 490px;
    top: 169px;
    width: 85px;
}

.icon-lhasa-active {
   background-position: 1% 74%;
}

.icon-xian {
    height: 58px;
    right: 220px;
    top: 88px;
    width: 60px;
}

.icon-xian-active {
    background-position: 99% 65%;
}

.icon-chengdu {
    height: 50px;
    right: 305px;
    top: 166px;
    width: 75px
}

.icon-chengdu-active {
    background-position: 34% 60%;
}

.icon-chongqing {
    height: 53px;
    right: 222px;
    top: 180px;
    width: 62px;
}

.icon-chongqing-active {
    background-position: 45% 60%;
}

.icon-shanghai {
    height: 71px;
    right: 76px;
    top: 122px;
    width: 60px;
}

.icon-shanghai-active {
    background-position: 81% 75%;
}

.icon-guangzhou {
    height: 64px;
    right: 182px;
    top: 258px;
    width: 60px;
}

.icon-guangzhou-active {
    background-position: 73% 50%;
}

/* 内页火车时间表*/

.schedule-title {
    background-color: #F5EACE;
    text-align: center;
    height: 30px;
    line-height: 140%;
}

.timeTable {
    width: 100%;
    text-align: center;
}

.icon-train {
    cursor: pointer;
    width:  70px;
}

.timeTable-title {
	background-color: #F4F4F4;
	color: #7E0122;
	font-size: 13px;
	height: 45px;
	margin-top:20px;
}

.timeTable-title td {
    vertical-align: middle;
}

.timeTable-info {
    height: 45px;
    background: rgb(255,254,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,254,255,1) 0%, rgba(242,232,209,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,254,255,1)), color-stop(100%,rgba(242,232,209,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffeff', endColorstr='#f2e8d1',GradientType=0 ); /* IE6-8 */
   behavior: url(/PIE.htc);
}

.timeTable-info td {
    vertical-align: middle;
}

.schedule-detail {
    display: none;
    position: relative;
    width: 100%;
    border: 1px solid #DDDDDD;
    top: 5px;
    z-index: 2;
}

.schedule-detail td {
    vertical-align: middle;
}

.schedule-detail thead th {
    height: 53px;
    background-color: #F0F4F7;
    vertical-align: middle;
    padding: 0 20px;
    color: #868282;
}

.schedule-detail-title {
    border: 1px solid #DDDDDD;
}

.schedule-detail tr {
    height: 33px;
}

.schedule-detail tfoot th {
    background-color: #F0F4F7;
    height: 84px;
    border-top: 1px solid #DDDDDD;
    text-align: left;
    padding: 10px 0 0 20px;
}

.table-odd {
    background: #FFFFFF;
}

.table-even {
    background: #F0F8FA;
}

.life-on-board {
    margin-top: 35px;
}

.pic-list {
    margin: 20px 0 0 0;
}

.pic-list li{
    margin-right: 20px;
    float: left;
    width: 30%;
}

.pic-list li p {
    height: 60px;
}

.pic-list li img {
/*    outline: 1px solid #DDDDDD;
*/    border: 1px solid white;
    width: 184px;
    height: 124px;
    display: block;
    margin: 0 0 10px;
}
/*
	author:chenzhao
	date:2012-02-02
火车时刻表
*/
.timeTable li{
	float:left;
	width:136px;
	line-height:45px;
	color:#7E0122;
	font-weight:bold;
}
.timeTable .traintime{
	line-height:20px;
	margin-top:3px;
}
.timeTable-info li{
	float:left;
	width:136px;
	line-height:45px;
	color:#000;
}
.timeTable-info .icon-train{
	color:#0069ca;
	font-weight:bold;
	font-size:13px;
}

.timeTable-info .trainInfo-time {
     line-height: 20px;
     margin-top: 3px;
}
