.author {
    color: #666666;
    display: block;
    font-size: 11px;
    left: 0;
    position: relative;
    top: 3px;
}

.tag {
    margin: 0px 0 20px 0;
}

.tag span {
    color: #7E0122;
}

.tag a {
margin: 0 0 0 3px;
}

.relatedlink li{
    margin-top: 2px;
}

.info_dl {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 30px 20px;
}

.info_dt {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 -15px 10px;
    color: #666666;
}

.info_dd {
   margin: 10px 10px 0px 10px;
}

.info_dd img{
    border: 1px solid #CCCCCC;
    margin: 0 auto;
}

.addthis {
    float: right;
    margin-right: 15px;
}

/*Timetable of Trains to Lhasa*/

.tableu {
    border: medium none;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
    width: 100%;
}
.tableu th {
    background: none repeat scroll 0 0 #E7E7E7;
    border: 2px solid #FFFFFF;
    padding: 4px;
}
.tableu td {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 2px solid #FFFFFF;
    padding: 4px;
}
.tableemp {
    border: medium none;
    border-collapse: collapse;
    width: 100%;
}
.tableemp th {
    border-bottom: 2px solid #EEEEEE;
    font-size: 1.1em;
    padding: 15px 0 1px;
    text-align: left;
}
.tableemp td {
    padding: 6px 3px;
    vertical-align: top;
    width: 32%;
}