.see-map {
	position: relative;
}
.see-map img {
	border: 1px solid #ddd;
	padding: 1px;
	background: #ffffff;
}
.see-map li {
	position: absolute;
}
.map-area li{
	
}
.map-area li a {
	border: 1px solid #7E0122;
	padding: 0px 10px;
	border-radius: 5px;
	color: #434343;
	text-decoration: none;
	background: rgba(255,255,255,0.8);
	font-size:20px;
	line-height:30px;
}
.map-area li a:hover {
	text-decoration: none;
}
.map-attr span {
	display: block;
	width: 20px;
	height: 40px;
	background: url("/imagesnew/sprite-destinationsMap.png") no-repeat 0 0;
	top: 30px;
	left: 40px;
}
.map-attr li {
	top: 30px;
	left: 60px;
}
.map-attr a {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: rgba(0, 0, 0, 0.13) rgba(0, 0, 0, 0.13) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.08);
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 2px rgba(221, 0, 0, 0.5);
	cursor: pointer;
	font-size: 11px;
	left: 22px;
	display: none;
	padding: 2px 8px;
	position: absolute;
	top: 0;
	white-space: nowrap;
}
.map-attr li:hover a {
	display: block;
}
ul.attr-list {
	padding: 20px 0;
}
ul.attr-list h4 a {
	color: #434343;
	text-decoration: none;
	background: none;
	padding: 5px 0;
}
ul.attr-list a {
	background: url(/imagesnew/list-dot.png) center left no-repeat;
	padding: 0 0 0 10px;
	line-height: 30px;
}
