/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* COMMON STYLE */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
	background: url("../images/body-bg.png") repeat-x scroll 0 129px #FBFBF5;
}
/*暂时不用本地字体，此样式暂时不用
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Regular.ttf');
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype'),
         url('../fonts/Cantarell-Oblique.ttf') format('truetype'),
         url('../fonts/Cantarell-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/

h1, h2, h3, h4, h5, h6 {
    color: #7E0122;/*臧红色*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 16px;  
}

p {
    color: #434343;
    margin-top: 0;
}
img {
    border: medium none;
}
a {
    color: #2368C7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}

/*.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
			behavior: url(PIE.htc);

}
*/
.btn{
	background-image:url(../images/btn.png);
	display:block;
    color: #ffffff;
	text-decoration:none;
	text-align:center;
}
.btn:hover{
	text-decoration:none;
}

.btn-wrap{
	margin-top:10px;
	margin-left:10px;
	display:block;
}

.btn.small {
    font-size: 11px;
	background-position:-303px 0;
	width: 67px; 
	height: 22px;
	line-height:22px;
}

.btn.small:hover {
	background-position:-303px -39px;
}

.btn.middle {
    font-size: 13px;
	background-position:-193px 0;
	width: 86px; 
	height: 25px;
	line-height:25px;
}
.btn.middle:hover {
	background-position:-193px -39px;
}
.btn.large {
    font-size: 15px;
	background-position:0 0;
	width: 184px; 
	height: 30px;
	line-height:30px;
}
.btn.large:hover {
	background-position:0 -39px;
}



.left {
    float: left;
}

.right {
    float: right;
}

.black {
    color: #000000;
}

.grey {
    color: #868282;
}

/* LAYOUT */
.bread{
	width:950px;
	margin:0 auto;
	height:40px;
	line-height:35px;
	color: #ffffff;
}
.bread a{
	color:#ffffff;
	text-decoration:none;
	font-size:12px;
}
.bread a:hover{
	color:#ffffff;
	text-decoration:underline;
}
.wrapper {
	position: relative;
	background-color:#ffffff;
    margin:0 auto;
    width: 950px;
	position:relative;
    min-height: 900px;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    behavior: url(PIE.htc);
}

/* CONTENT */

.content {
    width: 682px;
    float: right;
	margin-top:10px;
	margin-right:10px;
}

.content-foot {
    margin-bottom: 60px;
}

.body-wrapper {
    background: url(../images/all-wrapper-bg.png) no-repeat top ;
    width: 1428px;
    height: 170px;
}

/* HEADER */
.header {
	width:950px;
	min-height:125px;
	margin:0 auto;
}

.header a {
    color: #92240D;
}

.logo {
	width:165px;
	height:55px;
	background:url(../images/logo.png) no-repeat;
	display:block;
	margin-top:25px;
	float:left;
}

.header .slogan {
    float: left;
    margin: 36px 0 0 20px;
    background: url(../images/slogan.png) no-repeat 0 0 ;
    width: 296px;
    height: 34px;
}

.header-info {
	float:right;
	color: #92240D;
	margin: 5px 0px 0 0;
	width: 300px;
}

.header-info ul {
    margin-left: 21px;
}

.header-info ul li {
    margin-top: 6px;
    padding-left: 25px;
}

.header-info .last {
    padding-left: 0;
}

.header-info .info {
    margin: 6px 0 0 50px;
    background: url(../images/email-icon.png) no-repeat left;
}

.header-info .tel {
    background: url(../images/tel-icon.png) no-repeat left;
}

.header-info .custom {
    padding-left: 26px;
    background: url(../images/customize-icon.png) no-repeat left;
    
}

.header-info .contact {
    padding-left: 27px;
    background: url(../images/contact-icon.png) no-repeat left;
    margin-left: 10px;
}

/*HEADER MENU*/
#menus {
	font: 14px Arial,Helvetica,sans-serif;
	height: 35px;
	list-style-type: none;
	position: relative;
	width: 950px;
	z-index: 210;
	float:left;
	margin-top:14px;
}
#menus > li {
    background:#d2d2d2;
    float: left;
    font-weight: bold;
    line-height: 34px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	border-right:1px solid #7d7d7d;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	margin-right:5px;
}
#menus > li:first-child + li > a, #menus > li:first-child + li + li > a{
    background: url(../images/menu/ico_arrows2.png) no-repeat scroll 98% 55% #d2d2d2;
}
#menus > li > a {
    color: #92240d;
    display: block;
    padding: 0 10px;
    text-decoration: none;
}
#menus > li > a:hover {
    background:#92240d;
	color:#ffffff;
	border-radius:5px;
	-moz-border-radius:5px 5px 0 0;

}
#menus > li:first-child + li > a:hover, #menus > li:first-child + li + li > a:hover {
    background: url(../images/menu/ico_arrows.png) no-repeat scroll 98% 55% #92240d;
}

#nav-right{
	background:#92240d;
	border-radius:5px;
	-moz-border-radius:5px 5px 0 0;
	display:block;
	float:left;
}
#nav-right li{
	float:left;
}
#nav-right li a{
	display:block;
	color:#ffffff;
	background:#505050;
	font-size:10px;
	margin:5px 2px;
	border-radius:5px;
	-moz-border-radius:5px;
	height:24px;
	line-height:24px;
	padding:0 3px;
}
#nav-right li a:hover{
	text-decoration:none;
	background:#333;
}

div#travelStyle {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: #666666;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    left: 173px;
    padding: 8px 10px 3px;
    position: absolute;
    top: 35px;
    width: 425px;
    z-index: 100;
}
div#travelStyle h2 {
    color: #990100;
    font-size: 15px;
    font-weight: normal;
}
div#travelStyle h2, div#travelStyle p, div#travelStyle ul {
    border-right: 1px solid #CCCCCC;
    float: left;
    list-style-type: none;
    width: 207px;
}
div#travelStyle h2 + h2, div#travelStyle p + p, div#travelStyle ul + ul {
    border: medium none;
    margin-left: 10px;
}
div#travelStyle p {
    padding: 8px 0 5px;
}
div#travelStyle ul li {
    border-top: 1px dashed #CCCCCC;
    float: left;
    height: 60px;
    line-height: 60px;
    width: 200px;
}
div#travelStyle ul li a {
    color: #2368C7;
    display: block;
    height: 60px;
    text-decoration: none;
    width: 200px;
}
div#travelStyle ul li img {
    border: 2px solid #FFFFFF;
    float: left;
    margin: 3px 8px 3px 5px;
}
div#travelStyle ul li a:hover {
    background: none repeat scroll 0 0 #990100;
    color: #FFFFFF;
}
div#tibetTours {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: #666666;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    left: 0;
    padding: 8px 10px 3px;
    position: absolute;
    top: 35px;
    width: 880px;
    z-index: 100;
}
div#tibetTours * {
    margin: 0;
    padding: 0;
}
div#tibetTours h2 {
    color: #990100;
    font-size: 15px;
    font-weight: normal;
}
div#tibetTours h2, div#tibetTours p, div#tibetTours ul {
    border-right: 1px solid #CCCCCC;
    float: left;
    list-style-type: none;
    margin-left: 8px;
    width: 213px;
}
div#tibetTours h2.first, div#tibetTours p.first, div#tibetTours ul.first {
    margin-left: 0;
}
div#tibetTours h2 + h2 + h2 + h2, div#tibetTours p + p + p + p, div#tibetTours ul + ul + ul + ul {
    border: medium none;
}
div#tibetTours p {
    padding: 8px 0 5px;
}
div#tibetTours ul li {
    border-top: 1px dashed #CCCCCC;
    float: left;
    height: 60px;
    line-height: 60px;
}
div#tibetTours ul.first li.last img {
    border: medium none;
    margin: 9px 0 9px 5px;
}
div#tibetTours ul.first li.last a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #2368C7;
}
div#tibetTours ul li a {
    color: #2368C7;
    display: block;
    height: 60px;
    text-decoration: none;
    width: 213px;
}
div#tibetTours ul li img {
    border: 2px solid #FFFFFF;
    float: left;
    margin: 3px 8px 3px 5px;
}
div#tibetTours ul li a:hover {
    background: none repeat scroll 0 0 #990100;
    color: #FFFFFF;
}

.call-you {
    position: relative;
    border: 1px solid #4E4E4E;
    border-radius: 3px;
    font-size: 11px;
    padding: 1px 5px;
    background: rgb(202,0,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2EyMmYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZTJiMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(202,0,0,1) 0%, rgba(162,47,22,1) 58%, rgba(158,43,18,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,0,0,1)), color-stop(58%,rgba(162,47,22,1)), color-stop(100%,rgba(158,43,18,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(202,0,0,1) 0%,rgba(162,47,22,1) 58%,rgba(158,43,18,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(202,0,0,1) 0%,rgba(162,47,22,1) 58%,rgba(158,43,18,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(202,0,0,1) 0%,rgba(162,47,22,1) 58%,rgba(158,43,18,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(202,0,0,1) 0%,rgba(162,47,22,1) 58%,rgba(158,43,18,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0000', endColorstr='#9e2b12',GradientType=0 ); /* IE6-8 */

}

#call-you {
    text-decoration: none;
    color: #FFFFFF;
}

.tiny-form {
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 99999;
    padding: 10px;
    width: 163px;
    background-color: #F9F9F9;
    border: 2px solid #F1EDE2;
}

.tiny-form .error {
    font-size: 12px;
    color: red;
}

.tiny-form input {
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding: 3px;
    width: 155px;
}

.form-question {
    height: 55px;
    width: 158px;
}

/* FOOTER */


.footer {
    background: none repeat scroll 0 0 #670E14;
    min-height: 200px;
	margin-top:-100px;
}

.footer-wrapper {
    margin: 0 auto;
    width: 950px;
	clear:left;
}

.newsletter {
    padding-top: 145px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.newsletter-title{
	float:left;
	margin-right:100px;
}
.newsletter-title h4{
	display:block;
	color:#ffffff;
	font-size:16px;
	margin-top:5px;
}
.newsletter-title p{
    float: left;
    width: 230px;
	color:#ffffff;
	font-size:10px
}

.newsletter-container {
    border: 1px dashed #999;
    border-left: none;
    border-right: none;
    background: #92240D no-repeat 0 0 ;
    padding: 10px 0;
}

.newsletter-container label {
    font-weight:bold;
    line-height: 50px;
}

.footer .nav {
	float: left;
    padding: 10px 5px;
    width: 180px;
}

.footer .nav h4 {
	color: #FFFFFF;
	margin: 0;
}

.footer .nav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0 0 0 2px;
}

.footer .nav li {
	padding-left: 11px;
	background: url("../images/footer_list.gif") no-repeat scroll 0 50% transparent;
}

.footer .nav a {
	color: #FBB017;
}

.footer .info {
	color: #999999;
    font-size: 0.9em;
    text-align: center;
}

.footer .info a {
	color: #FFFFFF;
}


/* SIDEBAR */

.sidebar {
    width: 240px;
    float: left;
    padding-bottom: 10px;
    height: auto;
    min-height: 900px;
    background: rgb(240,235,223); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240,235,223,1) 0%, rgba(255,253,249,1) 50%, rgba(242,238,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,235,223,1)), color-stop(50%,rgba(255,253,249,1)), color-stop(100%,rgba(242,238,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ebdf', endColorstr='#f2eee2',GradientType=1 ); /* IE6-8 */
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background:url(../images/nav-bg-down.png) no-repeat center bottom;
}

.sidebar h1 {
	font-family: 'Wellfleet', cursive;
	text-align:center;
	cursor:pointer;
	display:block;
	width:240px;
	background:url(../images/nav-bg-up.png) no-repeat center top;
	padding:20px 0;
}

.sidebar-pic {
    height: 147px;
}

.nav-left {

}

.nav-left li a{
	color:#222222;
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
    padding: 0 0 0 20px;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

.nav-left li a:hover {
    background-color: #FCFBF8;
	text-decoration:none;
}

.nav-left li a.active {
    background: url(../images/sidebar-nav.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    left: -1px;
    position: relative;
    width: 253px;
}

.subnav-left {
	
}

.have-arrow li{
	background:url(../images/nav-arrow.png) no-repeat 200px center;
}

.subnav-left li {
    border: none;
    position: relative;
}

.subnav-left li a{
	color:#434343;
	display:block;
	height: 24px;
    padding-left: 40px;
    font-size: 12px;
	line-height:24px;
	background:url(../images/nav-dot.png) no-repeat 26px center transparent;
	position:relative;
}

.subnav-left li a:hover{
	color:#888888;
	background-color:transparent;
}


.nav-left-faqs{
    font-size: 14px;
    padding-left: 48px;
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
}

.nav-left-faqs:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.icon-navRight {
    margin-left: 30px;
}

/*左侧弹出框*/

.poptips {
    display: none;
    width: 550px;
    min-height: 130px;
    position: absolute;
    background-color: #F5F1E7;
    padding: 22px 15px;
    left: 220px;
    top: -80px;
    z-index: 3;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.poptips img {
    float: left;
    outline: 1px solid #DDDDDD;
    border: 1px solid white;
    margin-right: 18px;
    width: 184px;
    height: 124px;
}

#triangle-left {
	border:none;
	margin:0;
	outline:none;
    position: absolute;
	width:8px;
	height:30px;
	left:-8px;
	top:77px;
}

.poptips div {
    float: right;
}

/* FEEDBACK */
#feedback {
    position: fixed;
	background:url(../images/feedback.jpg) no-repeat;
	width:41px;
	height:143px;
	top:321px;
	left:-7px;
	cursor:pointer;
} 
#feedback:hover{
	left:0;
	
}

/* CONTENT FOOT NOT SURE*/
.FAQ-footer {
    border-top: 1px dashed #DDDDDD;
    margin: 50px 0 0;
    padding: 20px 20px 0;
}
.FAQ-footer h4{
	color:#444444;
	text-align:center;
}
.FAQ-help p {
    color: #434343;
    float: left;
    font-weight: normal;
    text-align: left;
    width: 60%;
	font-size:12px;
}
.btn-enquiry {
    float: right;
	margin-top: 7px;
}
.btn-enquiry a {
    color: #FFFFFF;
    display: block;
	background:url(../images/btn-enquiry.png) no-repeat;
	width:199px;
	height:43px;
	line-height:43px;
	font-weight:bold;
	font-size:16px;
	text-indent:20px;

}
.btn-enquiry a:hover {
	text-decoration:none;
}
.author-list {
    clear: both;
    margin:20px 0 0;
    text-align: center;
}
.author-list h2{
	color:#434343;
}
.author-list li {
    float: left;
    display: inline-block;
    margin: 0 0 20px 40px;
    text-align: center;
    width: 120px;
}
.author-list li a {
    color: #666666;
    display: block;
    padding-top: 5px;
    text-decoration: none;
	border:1px solid #ffffff;
}
.author-list li a:hover {
    background-color: #F5F5F5;
    border: 1px dashed #E0E0E0;
    margin: 0;
}
.img-icon {
    border: 1px dashed white;
    height: 60px;
    margin: 0 auto;
    outline: 1px solid #DDDDDD;
    overflow: hidden;
    width: 60px;
    display: block;
}
