body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
}
h1, h2, h3, h4, h5, h6 {
    color: #7E0122;/*臧红色*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
p {
    color: black;
    margin-bottom: 10px;
    margin-top: 0;
}
img {
    border: medium none;
}
a {
    color: #2368C7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

