/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* COMMON STYLE */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
}
h1, h2, h3, h4, h5, h6 {
    color: #7E0122;/*臧红色*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 16px;  
}

p {
    color: black;
    margin-top: 0;
}
img {
    border: medium none;
}
a {
    color: #2368C7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 6px 6px 6px 6px;
    font-size: 15px;
}

.btn-red {
    background-color: #E16020;
    background-image: -moz-linear-gradient(center top , #F86218, #F86218 25%, #CB4909);
    border-color: #B94106;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-red:hover {
    background: none repeat scroll 0 0 #EA5207;
    color: #FFFFFF;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.black {
    color: #000000;
}

.grey {
    color: #868282;
}

/* LAYOUT */

.wrapper {
    margin: 30px auto 30px auto;
    width: 950px;
    min-height: 900px;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5); 
    margin: 30px auto 30px auto;
}

/* sidebar */

.sidebar {
    width: 240px;
    float: left;
    padding-bottom: 200px;
    height: auto;
    min-height: 900px;
    background: rgb(240,235,223); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240,235,223,1) 0%, rgba(255,253,249,1) 50%, rgba(242,238,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,235,223,1)), color-stop(50%,rgba(255,253,249,1)), color-stop(100%,rgba(242,238,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ebdf', endColorstr='#f2eee2',GradientType=1 ); /* IE6-8 */
    -webkit-box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.5); 
}

.sidebar h1 {
    margin: 25px 0 30px 0; 
    text-align: center;
}

.sidebar-pic {
    height: 146px;    
}

.nav-left {
}

.nav-left li p{
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
    padding: 0 0 0 38px;
    font-size: 15px;
}

.nav-left li p:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.subnav-left {
}

.subnav-left li {
    border: none;
    height: 32px;
    position: relative;
}

.subnav-left li p{
    padding-left: 60px;
    font-size: 14px;
}

.nav-left-faqs{
    font-size: 14px;
    padding-left: 48px;
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
}

.nav-left-faqs:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.icon-navRight {
    margin-left: 30px;
}

/*左侧弹出框*/

.poptips {
    display: none;
    width: 550px;
    height: 150px;
    position: absolute;
    background-color: #F5F1E7;
    padding: 22px 15px;
    left: 250px;
    top: -80px;
    z-index: 3;
    cursor: auto;
}

.poptips img {
    float: left;
    outline: 1px solid #DDDDDD;
    border: 1px solid white;
    margin-right: 18px;
    width: 184px;
    height: 124px;
}

.poptips div {
    float: right;
}

/* content */

.content {
    width: 694px;
    float: right;
    text-align: center;
}

.content-foot {
}

.footer {
    background: none repeat scroll 0 0 #670E14;
    min-height: 200px;
}

.footer-wrapper {
    margin: 0 auto;
    width: 950px;
}

