/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* COMMON STYLE */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
	background: url("../images/body-bg.png") repeat-x scroll 0 145px transparent;
}
/*暂时不用本地字体，此样式暂时不用
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Regular.ttf');
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype'),
         url('../fonts/Cantarell-Oblique.ttf') format('truetype'),
         url('../fonts/Cantarell-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/

h1, h2, h3, h4, h5, h6 {
    color: #7E0122;/*臧红色*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 16px;  
}

p {
    color: black;
    margin-top: 0;
}
img {
    border: medium none;
}
a {
    color: #2368C7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 6px 6px 6px 6px;
    font-size: 15px;
}

.btn-red {
    background-color: #E16020;
    background-image: -moz-linear-gradient(center top , #F86218, #F86218 25%, #CB4909);
    border-color: #B94106;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-red:hover {
    background: none repeat scroll 0 0 #EA5207;
    color: #FFFFFF;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.black {
    color: #000000;
}

.grey {
    color: #868282;
}

/* LAYOUT */

.wrapper {
	background:url(../images/body-bg2.png) repeat-x bottom #ffffff;
    margin: 30px auto 30px auto;
    width: 950px;
    min-height: 900px;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5); 
    margin: 30px auto 30px auto;
}

.header{
	width:950px;
	height:155px;
	margin:0 auto;
}

.logo{
	width:165px;
	height:55px;
	background:url(../images/logo.png) no-repeat;
	display:block;
	margin-top:35px;
	float:left;
}

.header-info{
	float:right;
}

	/*导航样式*/
#menus {
	font: 15px Arial,Helvetica,sans-serif;
	height: 34px;
	list-style-type: none;
	position: relative;
	width: 950px;
	z-index: 210;
	float:left;
	margin-top:15px;
}
#menus > li {
    background:#d2d2d2;
    float: left;
    font-weight: bold;
    line-height: 34px;
	border-radius:5px;
	-moz-border-radius:5px 5px 0 0;
	margin-right:5px;
}
#menus > li:first-child + li, #menus > li:first-child + li + li {
    background: url("../images/menu/ico_arrows.gif") no-repeat scroll 98% 50% #d2d2d2;
}
#menus > li > a {
    color: #92240d;
    display: block;
    padding: 0 10px;
    text-decoration: none;
}
#menus > li > a:hover {
    background:#92240d;
	color:#ffffff;
	border-radius:5px;
	-moz-border-radius:5px 5px 0 0;

}
#menus > li:first-child + li > a:hover, #menus > li:first-child + li + li > a:hover {
    background: url("../images/menu/ico_arrows.gif") no-repeat scroll 98% 50% #92240d;
}

#nav-right{
	background:#92240d;
	border-radius:5px;
	-moz-border-radius:5px 5px 0 0;
	display:block;
	float:left;
}
#nav-right li{
	float:left;
}
#nav-right li a{
	display:block;
	color:#ffffff;
	background:#505050;
	font-size:10px;
	margin:5px 2px;
	border-radius:5px;
	-moz-border-radius:5px;
	height:24px;
	line-height:24px;
	padding:0 3px;
}


div#travelStyle {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: #666666;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    left: 245px;
    padding: 8px 10px 3px;
    position: absolute;
    top: 35px;
    width: 425px;
    z-index: 100;
}
div#travelStyle h2 {
    color: #990100;
    font-size: 15px;
    font-weight: normal;
}
div#travelStyle h2, div#travelStyle p, div#travelStyle ul {
    border-right: 1px solid #CCCCCC;
    float: left;
    list-style-type: none;
    width: 207px;
}
div#travelStyle h2 + h2, div#travelStyle p + p, div#travelStyle ul + ul {
    border: medium none;
    margin-left: 10px;
}
div#travelStyle p {
    padding: 8px 0 5px;
}
div#travelStyle ul li {
    border-top: 1px dashed #CCCCCC;
    float: left;
    height: 60px;
    line-height: 60px;
    width: 200px;
}
div#travelStyle ul li a {
    color: #2368C7;
    display: block;
    height: 60px;
    text-decoration: none;
    width: 200px;
}
div#travelStyle ul li img {
    border: 2px solid #FFFFFF;
    float: left;
    margin: 3px 8px 3px 5px;
}
div#travelStyle ul li a:hover {
    background: none repeat scroll 0 0 #990100;
    color: #FFFFFF;
}
div#tibetTours {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: #666666;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    left: 35px;
    padding: 8px 10px 3px;
    position: absolute;
    top: 35px;
    width: 880px;
    z-index: 100;
}
div#tibetTours * {
    margin: 0;
    padding: 0;
}
div#tibetTours h2 {
    color: #990100;
    font-size: 15px;
    font-weight: normal;
}
div#tibetTours h2, div#tibetTours p, div#tibetTours ul {
    border-right: 1px solid #CCCCCC;
    float: left;
    list-style-type: none;
    margin-left: 8px;
    width: 213px;
}
div#tibetTours h2.first, div#tibetTours p.first, div#tibetTours ul.first {
    margin-left: 0;
}
div#tibetTours h2 + h2 + h2 + h2, div#tibetTours p + p + p + p, div#tibetTours ul + ul + ul + ul {
    border: medium none;
}
div#tibetTours p {
    padding: 8px 0 5px;
}
div#tibetTours ul li {
    border-top: 1px dashed #CCCCCC;
    float: left;
    height: 60px;
    line-height: 60px;
}
div#tibetTours ul.first li.last img {
    border: medium none;
    margin: 9px 0 9px 5px;
}
div#tibetTours ul.first li.last a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #2368C7;
}
div#tibetTours ul li a {
    color: #2368C7;
    display: block;
    height: 60px;
    text-decoration: none;
    width: 213px;
}
div#tibetTours ul li img {
    border: 2px solid #FFFFFF;
    float: left;
    margin: 3px 8px 3px 5px;
}
div#tibetTours ul li a:hover {
    background: none repeat scroll 0 0 #990100;
    color: #FFFFFF;
}


/* FOOTER */

.footer {
    background: none repeat scroll 0 0 #670E14;
    min-height: 200px;
}

.footer-wrapper {
    margin: 0 auto;
    width: 950px;
}

.footer .nav {
	float: left;
    padding: 10px 5px;
    width: 180px;
}

.footer .nav h4 {
	color: #FFFFFF;
	margin: 0;
}

.footer .nav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0 0 0 2px;
}

.footer .nav li {
	padding-left: 11px;
	background: url(../images/footer_list.gif) no-repeat scroll 0 50% transparent;
}

.footer .nav a {
	color: #FBB017;
}

.footer .info {
	color: #999999;
    font-size: 0.9em;
    text-align: center;
}

.footer .info a {
	color: #FFFFFF;
}


/* sidebar */

.sidebar {
    width: 240px;
    float: left;
    padding-bottom: 50px;
    height: auto;
    min-height: 900px;
    background: rgb(240,235,223); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240,235,223,1) 0%, rgba(255,253,249,1) 50%, rgba(242,238,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,235,223,1)), color-stop(50%,rgba(255,253,249,1)), color-stop(100%,rgba(242,238,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ebdf', endColorstr='#f2eee2',GradientType=1 ); /* IE6-8 */
    -webkit-box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.5); 
}

.sidebar h1 {
    margin: 25px 0 30px 0; 
    text-align: center;
	font-family: 'Wellfleet', cursive;

}

.sidebar-pic {
    height: 146px;    
}

.nav-left {
}

.nav-left li p{
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
    padding: 0 0 0 38px;
    font-size: 15px;
}

.nav-left li p:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.subnav-left {
}

.subnav-left li {
    border: none;
    height: 32px;
    position: relative;
}

.subnav-left li p{
    padding-left: 60px;
    font-size: 14px;
}

.nav-left-faqs{
    font-size: 14px;
    padding-left: 48px;
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
}

.nav-left-faqs:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.icon-navRight {
    margin-left: 30px;
}

/*左侧弹出框*/

.poptips {
    display: none;
    width: 550px;
    height: 150px;
    position: absolute;
    background-color: #F5F1E7;
    padding: 22px 15px;
    left: 220px;
    top: -80px;
    z-index: 3;
    cursor: auto;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1); 
}

.poptips .triangle-left {
	float: left;
	border-bottom: 10px solid transparent;
    border-right: 10px solid #F5F1E7;
    border-top: 10px solid transparent;
    float: left;
    height: 0;
    width: 0;
    position: relative;
    left: -25px;
    top: 58px;
    
}

.poptips img {
    float: left;
    outline: 1px solid #DDDDDD;
    border: 1px solid white;
    margin-right: 18px;
    width: 184px;
    height: 124px;
}

.poptips div {
    float: right;
}

/* content */

.content {
    width: 694px;
    float: right;
    text-align: center;
}

.content-foot {
	margin-bottom: 40px;
}

/* CONTENT FOOT NOT SURE*/
.FAQ-footer {
    border-top: 1px solid #DDDDDD;
    margin: 50px 0 0;
    padding: 20px;
}
.FAQ-help h2 {
    color: #000000;
    float: left;
    font-weight: normal;
    text-align: center;
    width: 60%;
}
.btn-enquiry {
    background: url("../images/tibet_tour_index/btn_contact.gif") no-repeat scroll left top transparent;
    float: right;
    font-weight: bold;
    height: 33px;
    margin-top: 27px;
    padding-left: 33px;
    width: 190px;
}
.btn-enquiry a {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    margin-top: 5px;
    text-indent: -99999px;
}
.btn-enquiry:hover {
    background-position: left bottom;
}
.author-list {
    clear: both;
    margin: 20px 0 0;
    text-align: center;
}
.author-list ul {
    padding-top: 20px;
}
.author-list li {
    display: inline-block;
    margin: 0 0 20px 40px;
    text-align: center;
    width: 110px;
}
.author-list li a {
    color: #666666;
    display: block;
    margin: 1px;
    padding-top: 5px;
    text-decoration: none;
}
.author-list li a:hover {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    margin: 0;
}
.img-icon {
    border: 1px solid white;
    height: 105px;
    margin: 0 auto;
    outline: 1px solid #DDDDDD;
    overflow: hidden;
    width: 80px;
    display: block;
}


