/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* COMMON STYLE */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
}
/*暂时不用本地字体，此样式暂时不用
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Regular.ttf');
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype'),
         url('../fonts/Cantarell-Oblique.ttf') format('truetype'),
         url('../fonts/Cantarell-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/

h1, h2, h3, h4, h5, h6 {
    color: #7E0122;/*臧红色*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 16px;  
}

p {
    color: black;
    margin-top: 0;
}
img {
    border: medium none;
}
a {
    color: #2368C7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    behavior: url(/PIE.htc);
}

.btn.small {
    padding: 3px 10px 4px;
    font-size: 11px;
}

.btn.middle {
    padding: 5px 14px 6px;
    font-size: 13px;
}

.btn.large {
    padding: 8px 18px 9px;
    font-size: 15px;
}

.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.btn.orange {
    color: #fff;
    border-color: #b94106;
    background-color: #e16020;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f86218), color-stop(0.25, #f86218), to(#cb4909));
    background-image: -webkit-linear-gradient(#f86218, #f86218 0.25, #cb4909);
    background-image: -moz-linear-gradient(center top, #f86218, #f86218 25%, #cb4909);
    background-image: -ms-linear-gradient(#f86218, #f86218 0.25, #cb4909);
    background-image: -o-linear-gradient(#f86218, #f86218 0.25, #cb4909);
    background-image: linear-gradient(#f86218, #f86218 0.25, #cb4909);
    -webkit-transition: linear 0.25 all;
    -moz-transition: linear 0.25 all;
    behavior: url(/PIE.htc);
}

.btn.orange:hover {
    background: none repeat scroll 0 0 #EA5207;
    color: #FFFFFF;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.black {
    color: #000000;
}

.grey {
    color: #868282;
}

/* LAYOUT */

.wrapper {
    margin: 30px auto 30px auto;
    width: 950px;
    min-height: 900px;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    margin: 30px auto 30px auto;
    behavior: url(/PIE.htc);
}

/* CONTENT */

.content {
    width: 694px;
    float: right;
    text-align: center;
}

.content-foot {
    margin-bottom: 40px;
}

/* FOOTER */

.footer {
    background: none repeat scroll 0 0 #670E14;
    min-height: 200px;
}

.footer-wrapper {
    margin: 0 auto;
    width: 950px;
}

.footer .nav {
	float: left;
    padding: 10px 5px;
    width: 180px;
}

.footer .nav h4 {
	color: #FFFFFF;
	margin: 0;
}

.footer .nav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0 0 0 2px;
}

.footer .nav li {
	padding-left: 11px;
	background: url(../images/footer_list.gif) no-repeat scroll 0 50% transparent;
}

.footer .nav a {
	color: #FBB017;
}

.footer .info {
	color: #999999;
    font-size: 0.9em;
    text-align: center;
}

.footer .info a {
	color: #FFFFFF;
}


/* SIDEBAR */

.sidebar {
    width: 240px;
    float: left;
    padding-bottom: 50px;
    height: auto;
    min-height: 900px;
    background: rgb(240,235,223); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240,235,223,1) 0%, rgba(255,253,249,1) 50%, rgba(242,238,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,235,223,1)), color-stop(50%,rgba(255,253,249,1)), color-stop(100%,rgba(242,238,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(240,235,223,1) 0%,rgba(255,253,249,1) 50%,rgba(242,238,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ebdf', endColorstr='#f2eee2',GradientType=1 ); /* IE6-8 */
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    behavior: url(/PIE.htc);
}

.sidebar h1 {
    margin: 25px 0 30px 0; 
    text-align: center;
	font-family: 'Wellfleet', cursive;

}

.sidebar-pic {
    height: 146px;    
}

.nav-left {
}

.nav-left li p{
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
    padding: 0 0 0 38px;
    font-size: 15px;
}

.nav-left li p:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.subnav-left {
}

.subnav-left li {
    border: none;
    height: 32px;
    position: relative;
}

.subnav-left li p{
    padding-left: 60px;
    font-size: 14px;
}

.nav-left-faqs{
    font-size: 14px;
    padding-left: 48px;
    height: 38px;
    border-bottom: 1px solid #F8F3E7;
    vertical-align: middle;
    line-height: 2.5;
    cursor: pointer;
}

.nav-left-faqs:hover {
    background-color: #FCFBF8;
    color: #D0D0CF;
}

.icon-navRight {
    margin-left: 30px;
}

/*左侧弹出框*/

.poptips {
    display: none;
    width: 550px;
    height: 150px;
    position: absolute;
    background-color: #F5F1E7;
    padding: 22px 15px;
    left: 220px;
    top: -80px;
    z-index: 3;
    cursor: auto;
    border: 1px solid #B8B8B8; 
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1); 
    behavior: url(/PIE.htc);
}

.poptips .triangle-left {
	float: left;
	border-bottom: 10px solid transparent;
    border-right: 10px solid #F5F1E7;
    border-top: 10px solid transparent;
    float: left;
    height: 0;
    width: 0;
    position: relative;
    left: -25px;
    top: 58px;
}

.poptips img {
    float: left;
    outline: 1px solid #DDDDDD;
    border: 1px solid white;
    margin-right: 18px;
    width: 184px;
    height: 124px;
}

.poptips div {
    float: right;
}

/* CONTENT FOOT NOT SURE*/
.FAQ-footer {
    border-top: 1px solid #DDDDDD;
    margin: 50px 0 0;
    padding: 20px;
}
.FAQ-help h2 {
    color: #000000;
    float: left;
    font-weight: normal;
    text-align: center;
    width: 60%;
}
.btn-enquiry {
    background: url("../images/tibet_tour_index/btn_contact.gif") no-repeat scroll left top transparent;
    float: right;
    font-weight: bold;
    height: 33px;
    margin-top: 27px;
    padding-left: 33px;
    width: 190px;
}
.btn-enquiry a {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    margin-top: 5px;
    text-indent: -99999px;
}
.btn-enquiry:hover {
    background-position: left bottom;
}
.author-list {
    clear: both;
    margin: 20px 0 0;
    text-align: center;
}
.author-list ul {
    padding-top: 20px;
}
.author-list li {
    float: left;
    display: inline-block;
    margin: 0 0 20px 40px;
    text-align: center;
    width: 120px;
}
.author-list li a {
    color: #666666;
    display: block;
    margin: 1px;
    padding-top: 5px;
    text-decoration: none;
}
.author-list li a:hover {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    margin: 0;
}
.img-icon {
    border: 1px solid white;
    height: 105px;
    margin: 0 auto;
    outline: 1px solid #DDDDDD;
    overflow: hidden;
    width: 80px;
    display: block;
}


