.wrapper {
    margin: 0 auto;
    width: 694px;
    min-height: 500px;
}

.train-map {
    margin-top: 50px;
    position: relative;
    height: 300px;
    width: 680px;
    background: url(../images/Beijing-Lhasa.png) no-repeat 0 0 ;
}

.lightbox {
    padding: 10px 30px;
    display: none;
    position: absolute;
    top: 100px;
    left: 430px;
    width: 500px;
    min-height: 480px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3); 
    background: #FFFFFF; 
    opacity: 0.9;
    filter:alpha(opacity=90);
    z-index: 3;
}


.lightbox-close {
    cursor: pointer;
    color: #BBBBBB;
}

.lightbox-close:hover {
    background-color:#FFF6ED;
}

.attraction-des {
	margin: 0;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}

.attraction-title {
    margin: 0 0 13px 0 ;
}

.attraction-pic {
    float: left;
    width: 210px;
    height: 140px;
    margin: 0px 30px 10px 0;
    position: relative;
    top: -10px;
    border: 1px solid red;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.5;
    filter:alpha(opacity=80);
    background-color: #EBE6E3;
}

.marker {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.marker-beijing {
    left: 574px;
    top: 60px;
}

.marker-lanzhou {
    left: 401px;
    top: 117px
}

.marker-xining {
    left: 371px;
    top: 103px;
}

.marker-golmud {
    left: 275px;
    top: 99px;
}

.marker-naqu {
    left: 232px;
    top: 182px;
}

.marker-lhasa {
    left: 200px;
    top: 223px;
}

.attraction-icons {
    position: absolute;
    background: url("../images/icon.png") no-repeat left -999px;
    cursor: pointer;
}

.icon-beijing {
    height: 36px;
    right: 66px;
    top: 28px;
    width: 70px;
}

.icon-beijing-active {
   background-position: 90% 78%;
}

.icon-lanzhou {
    height: 50px;
    right: 235px;
    top: 66px;
    width: 42px;
}

.icon-lanzhou-active {
    background-position: 64% 39%;
}

.icon-xining {
    height: 38px;
    right: 270px;
    top: 64px;
    width: 66px;
}

.icon-xining-active {
    background-position: 55% 68%;
}

.icon-golmud {
    height: 45px;
    right: 356px;
    top: 54px;
    width: 70px;
}

.icon-golmud-active {
    background-position: 24% 60%;
}

.icon-naqu {
    height: 56px;
    right: 396px;
    top: 150px;
    width: 45px;
}

.icon-naqu-active {
    background-position: 14% 60%;
}

.icon-lhasa {
    height: 45px;
    right: 472px;
    top: 185px;
    width: 85px;}

.icon-lhasa-active {
   background-position: 1% 74%;
}
