

.content h1{
	font-family:'Cantarell';
	font-weight:bold;
}

.train-map {
    margin: 10px auto;
    position: relative;
    height: 300px;
    width: 680px;
    background: url(../images/Beijing-Lhasa.png) no-repeat 0 0 ;
    outline: 2px solid #DDDDDD;
    border: 1px solid white;
}

.lightbox {
    padding: 10px 30px;
    display: none;
    position: absolute;
    top: 100px;
    left: 430px;
    width: 500px;
    min-height: 480px;
    border-radius: 8px;
    -webkit-boder-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
    -moz-box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
    box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
    background: #FFFFFF; 
    opacity: 0.9;
    filter:alpha(opacity=90);
    z-index: 3;
    behavior: url(../styles/PIE.htc);
}

.lightbox-close {
    cursor: pointer;
    color: #BBBBBB;
}

.lightbox-close:hover {
    background-color:#FFF6ED;
}

.attraction-des {
}

.attraction-title {
    margin: -10px 0 13px 0 ;
}

.attraction-pic {
    float: left;
    width: 210px;
    height: 140px;
    margin: 0px 30px 10px 0;
    position: relative;
    top: -10px;
    border: 1px solid red;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.5;
    filter:alpha(opacity=80);
    background-color: #EBE6E3;
}

.marker {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.marker-beijing {
    left: 574px;
    top: 60px;
}

.marker-lanzhou {
    left: 401px;
    top: 117px
}

.marker-xining {
    left: 371px;
    top: 103px;
}

.marker-golmud {
    left: 275px;
    top: 99px;
}

.marker-naqu {
    left: 232px;
    top: 182px;
}

.marker-lhasa {
    left: 200px;
    top: 223px;
}

.attraction-icons {
    position: absolute;
    background: url("../images/icon.png") no-repeat left -999px;
    cursor: pointer;
}

.icon-beijing {
    height: 36px;
    right: 66px;
    top: 28px;
    width: 70px;
}

.icon-beijing-active {
   background-position: 90% 78%;
}

.icon-lanzhou {
    height: 50px;
    right: 235px;
    top: 66px;
    width: 42px;
}

.icon-lanzhou-active {
    background-position: 64% 39%;
}

.icon-xining {
    height: 38px;
    right: 270px;
    top: 64px;
    width: 66px;
}

.icon-xining-active {
    background-position: 55% 68%;
}

.icon-golmud {
    height: 45px;
    right: 356px;
    top: 54px;
    width: 70px;
}

.icon-golmud-active {
    background-position: 24% 60%;
}

.icon-naqu {
    height: 56px;
    right: 396px;
    top: 150px;
    width: 45px;
}

.icon-naqu-active {
    background-position: 14% 60%;
}

.icon-lhasa {
    height: 45px;
    right: 472px;
    top: 185px;
    width: 85px;}

.icon-lhasa-active {
   background-position: 1% 74%;
}

/* 内页火车时间表*/

.schedule-title {
    background-color: #F5EACE;
    text-align: center;
    height: 30px;
    line-height: 140%;
}

.timeTable {
    width: 100%;
}

.icon-train {
    cursor: pointer;
    width:  70px;
}

.timeTable-title {
    background-color: #F4F4F4;
    color: #7E0122;
    font-size: 15px;
    height: 45px;
	margin-top:20px;
}

.timeTable-title td {
    vertical-align: middle;
}

.timeTable-info {
    height: 45px;
    background: rgb(255,254,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,254,255,1) 0%, rgba(242,232,209,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,254,255,1)), color-stop(100%,rgba(242,232,209,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,254,255,1) 0%,rgba(242,232,209,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffeff', endColorstr='#f2e8d1',GradientType=0 ); /* IE6-8 */
}

.timeTable-info td {
    vertical-align: middle;
}

.schedule-detail {
    display: none;
    position: relative;
    width: 100%;
    border: 1px solid #DDDDDD;
    top: 5px;
    z-index: 2;
}

.schedule-detail td {
    vertical-align: middle;
}

.schedule-detail thead th {
    height: 53px;
    background-color: #F0F4F7;
    vertical-align: middle;
    padding: 0 20px;
    color: #868282;
}

.schedule-detail-title {
    border: 1px solid #DDDDDD;
}

.schedule-detail tr {
    height: 33px;
}

.schedule-detail tfoot th {
    background-color: #F0F4F7;
    height: 84px;
    border-top: 1px solid #DDDDDD;
    text-align: left;
    padding: 10px 0 0 20px;
}

.table-odd {
    background: #FFFFFF;
}

.table-even {
    background: #F0F8FA;
}

.life-on-board {
    margin-top: 30px;
}

.pic-list {
    margin: 20px 0 50px 0;
}

.pic-list li{
    margin-right: 20px;
    display: inline-block;
    width: 30%;
}

.pic-list li p {
    height: 60px;
    line-height: 2;
}

.pic-list li img {
    outline: 1px solid #DDDDDD;
    border: 1px solid white;
    width: 184px;
    height: 124px;
    display: block;
    margin: 0 auto 10px auto;
}
/*
	author:chenzhao
	date:2012-02-02
火车时刻表
*/
.timeTable li{
	float:left;
	width:136px;
	line-height:45px;
	color:#7E0122;
	font-weight:bold;
}
.timeTable .traintime{
	line-height:20px;
	margin-top:3px;
}
.timeTable-info li{
	float:left;
	width:136px;
	line-height:45px;
	color:#000;
}
.timeTable-info .icon-train{
	color:#0069ca;
	font-weight:bold;
	font-size:13px;
}

.timeTable-info .trainInfo-time {
     line-height: 20px;
     margin-top: 3px;
}
